{% load i18n %}
<div id="lates-resources" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center mb-3">
                <div class="circle-icon me-2 mb-3">
                    <div class="inner-circle" style="transform: translate(-50%, -50%) translate(3px, 3px);"></div>
                </div>
                <h2 class="h-100 text-center">{% trans "Latest resources" %}</h2>
            </div>
        </div>
        <div class="row ps-3 pe-3">
                    {% include "resources_cards.html" %}
        </div>
            </div>
        </div>
    </div>
</div>

