<div id="welcome-section-mobile" class="bg-secondary d-flex flex-column align-items-center justify-content-around">
    
            <h1 class="text-dark big-title" style="margin-top: 120px;">Welcome to <br> the <span class="text-color-primary">european <br> citizen science <br></span>platform.</h1>
            
            
            <a class="btn btn-custom btn-solid-white flex-fill mt-5" href="{% url 'accounts:signup' %}" style="width: 200px;">Create account</a>
            
            
            <a class="btn btn-custom btn-outline-white flex-fill mt-5 mb-5 bg-color-primary" href="{% url 'accounts:login' %}" style="width: 200px;">Login</a>
            
      
            
    
  </div>