{% load i18n %}
<!--Footer-->
<div style="margin-top: 16px;"></div>
<footer class="mt-auto bg-dark">
    <div class="text-white">
        <div class="container">
            <!-- Grid row-->
            <div class="row">

                <div class="col-md-10 col-12 mb-4 mt-4">
                    <div>{% trans "Please provide your feedback in the official" %}
                        <a class="text-decoration-none blue-color"
                            href="https://github.com/Ibercivis/EU-CS_platform/issues">{% trans "GitHub repository"%}</a>
                    </div>
                </div>

                <!-- Grid column -->
                <div class="col-md-2 col-12 mt-3">
                    <div class="row">
                        <div class="col-4">
                            <!-- Facebook -->
                            <a class="fb-ic" href="{{footer.facebook_url}}" target="_blank" rel="noreferrer">
                                <h3 class="float-right blue-color"><i class="fab fa-facebook-f"></i></h3>
                            </a>
                        </div>
                        <div class="col-4">
                            <!-- Twitter -->
                            <a class="tw-ic" href="{{footer.twitter_url}}" target="_blank" rel="noreferrer">
                                <h3 class="float-right blue-color"><i class="fab fa-twitter white-text"> </i></h3>
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="ins-ic" href="{{footer.instagram_url}}" target="_blank" rel="noreferrer">
                                <h3 class="float-right blue-color"><i class="fab fa-instagram white-text"> </i></h3>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->
        </div>
    </div>
    <!-- Footer Links -->
    <div class="container  mt-5 text-light">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">CC.pt</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><small>{{ footer.description }}</small></p>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">{% trans "Links" %}</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="{{ footer.link_url1}}" class="text-white">{{footer.link_name1}}</a></p>
                <p><a href="{{ footer.link_url2}}" class="text-white">{{footer.link_name2}}</a></p>
                <p><a href="{{ footer.link_url3}}" class="text-white">{{footer.link_name3}}</a></p>
                <p><a href="{{ footer.link_url4}}" class="text-white">{{footer.link_name4}}</a></p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <p><a href="{{ footer.link_url5}}" class="text-white">{{footer.link_name5}}</a></p>
                <p><a href="{{ footer.link_url6}}" class="text-white">{{footer.link_name6}}</a></p>
                <p><a href="{{ footer.link_url7}}" class="text-white">{{footer.link_name7}}</a></p>
                <p><a href="{{ footer.link_url8}}" class="text-white">{{footer.link_name8}}</a></p>
            </div>
            <!-- Grid column -->



        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">
        <a class="text-white" href="{{ footer.license_url}}" rel="noreferrer" target="_blank">{{ footer.license }}</a>
    </div>
    <!-- Copyright -->
</footer>
<!--/.Footer-->
