<!DOCTYPE html>
<html lang="es">
{% extends "base_r2.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }} :: {% trans "Citizen Science Ambassadors of the ECS project" %}{% endblock %}

{% block list_of_items %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citizen Science Ambassadors of the ECS project</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                
                    <h1 class="mt-5 mb-5"><span class='lightBlue-color'>Citizen Science Ambassadors</span> of the ECS project</h1>
                

                <main>
                    <section>
                        <p>The ECS (European Citizen Science) project aims to create a <strong>network of 28 Citizen Science Ambassadors</strong> (EU-27 + the UK) to support the activities in the project, raise awareness about citizen science and spread and strengthen citizen science in Europe. All Citizen Science Ambassadors have been selected through an open call.</p>
                        
                        <figure>
                            <img src="{% static 'site/img/ambassadors_image.png' %}" alt="Screenshot of some CS Ambassadors and ECSA team members at the kick-off meeting of the CS Ambassador network." />
                            <figcaption><small>Screenshot of some CS Ambassadors and ECSA team members at the kick-off meeting of the CS Ambassador network.</small></figcaption>
                        </figure>
                        
                        <p>The selected Citizen Science Ambassadors will act as the <strong>local representative and promoter of citizen science</strong> and the ECS project in the respective country. Some of the tasks that they will carry out are:</p>
                        
                        <ul>
                            <li>Represent the eu-citizen.science platform nationally and promote and expand its content with national initiatives and resources</li>
                            <li>Support <strong>community building</strong>, help organise engagement activities at national and local level in collaboration with ECS partners and affiliated entities</li>
                            <li>Share and disseminate ECS project activities, events and news</li>
                            <li><strong>Advocate for citizen science</strong> among key stakeholders</li>
                            <li>Help monitor the situation of citizen science in the respective country</li>
                            <li><strong>Promote citizen science amongst research organisations and academics</strong> nationally</li>
                        </ul>
                    </section>

                    <section>
                        <h2>Selected Citizen Science Ambassadors</h2>
                        <p>The network is currently (October 2023) composed of 23 Citizen Science Ambassadors, introduced below in country order:</p>

            </div>
        </div>

        <div class="ambassadors-container">
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Belgium</h3>
                                <p class="name">Annelies Duerinckx</p>
                                <p class="role">General Manager</p>
                                <p class="affiliation">Scivil</p>
                                <p class="link"><a href="https://www.scivil.be/en" target="_blank">Scivil | Citizen Science Vlaanderen</a></p>
                            </div>
                        </div>

                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Bulgaria</h3>
                                <p class="name">Stefaniya Kamenova</p>
                                <p class="role">Junior Researcher</p>
                                <p class="affiliation">National Museum for Natural History, Sofia</p>
                                <p class="link"><a href="https://www.nmnhs.com/kamenova-stefaniya-en.html" target="_blank">NMNHS</a></p>
                            </div>
                        </div>

                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Croatia</h3>
                                <p class="name">Tea Vukušić Rukavina</p>
                                <p class="role">Associate Professor</p>
                                <p class="affiliation">Andrija Stampar School of Public Health, School of Medicine, University of Zagreb</p>
                                <p class="link"><a href="https://www.linkedin.com/in/tea-vuku%C5%A1i%C4%87-rukavina-108ab54/" target="_blank">Linkedin</a></p>
                            </div>
                        </div>

                        <!-- Cyprus -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Cyprus</h3>
                                <p class="name">Natasha Andronikou</p>
                                <p class="role">Senior Project Manager and Researcher</p>
                                <p class="affiliation">C.I.P. Citizens in Power, NGO</p>
                                <p class="link"><a href="https://citizensinpower.org/contributor/natasha-andronikou/" target="_blank">Citizens in Power</a>; <a href="https://www.linkedin.com/in/natasha-andronikou-2a765324a/" target="_blank">Linkedin</a></p>
                            </div>
                        </div>

                        <!-- Czech Republic -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Czech Republic</h3>
                                <p class="name">Michael Lažan</p>
                                <p class="role">Chair and Project Manager</p>
                                <p class="affiliation">Senzorvzduchu, z.s.</p>
                                <p class="link"><a href="https://www.senzorvzduchu.cz" target="_blank">Senzorvzduchu.cz</a></p>
                            </div>
                        </div>

                        <!-- Denmark -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Denmark</h3>
                                <p class="name">Laura Ahlqvist</p>
                                <p class="role">Postdoctoral researcher</p>
                                <p class="affiliation">Aarhus University</p>
                            </div>
                        </div>

                        <!-- Finland -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Finland</h3>
                                <p class="name">Alexandra Middleton</p>
                                <p class="role">Researcher</p>
                                <p class="affiliation">Oulu Business School/University of Oulu</p>
                                <p class="link"><a href="https://www.linkedin.com/in/alexandra-middleton-182a3422/" target="_blank">Linkedin</a></p>
                            </div>
                        </div>

                        <!-- France -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">France</h3>
                                <p class="name">Angelee Pavanee Annasawmy</p>
                                <p class="role">Postdoctoral Research Associate</p>
                                <p class="affiliation">Université de Bretagne Occidentale</p>
                                <p class="link"><a href="https://www-iuem.univ-brest.fr/lemar/equipe/pavanee-angelee-annasawmy/" target="_blank">Université de Bretagne Occidentale</a></p>
                            </div>
                        </div>

                        <!-- Greece -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Greece</h3>
                                <p class="name">Vasiliki (Vassia) Fragkaki</p>
                                <p class="role">Researcher, Architect-Urbanist</p>
                                <p class="affiliation">University Roma Tre</p>
                                <p class="link"><a href="https://www.linkedin.com/in/vassia-fragkaki-3461a5117/" target="_blank">Linkedin</a></p>
                            </div>
                        </div>

                        <!-- Hungary -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Hungary</h3>
                                <p class="name">Marietta Le</p>
                                <p class="role">Citizen Participation Expert</p>
                                <p class="affiliation">Non affiliated</p>
                                <p class="link"><a href="https://linktr.ee/lemarietta" target="_blank">Linktree</a></p>
                            </div>
                        </div>

                        <!-- Ireland -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Ireland</h3>
                                <p class="name">Oscar Diaz</p>
                                <p class="role">Educations and Operations Manager</p>
                                <p class="affiliation">Creative Spark Enterprise FabLab</p>
                                <p class="link"><a href="https://creativespark.ie/fablab.html" target="_blank">Creative Spark</a></p>
                            </div>
                        </div>

                        <!-- Italy -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Italy</h3>
                                <p class="name">Gaia Agnello</p>
                                <p class="role">Vice President; Executive Director</p>
                                <p class="affiliation">Citizen Science Italia; Sicily Environment Fund</p>
                                <p class="link">
                                    <a href="https://www.museonaturalemaremma.it/csi/" target="_blank">Museo Naturale Maremma</a>;
                                    <a href="https://sicilyenvironment.org/" target="_blank">Sicily Environment</a>;
                                    <a href="https://www.linkedin.com/in/gaia-agnello-a6825668/" target="_blank">Linkedin</a>
                                </p>
                            </div>
                        </div>

                        <!-- Latvia -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Latvia</h3>
                                <p class="name">Sanita Reinsone</p>
                                <p class="role">Senior researcher</p>
                                <p class="affiliation">Institute of Literature, Folklore and Art of the University of Latvia</p>
                                <p class="link">
                                    <a href="http://sanitareinsone.lv" target="_blank">Sanita Reinsone</a>;
                                    <a href="https://www.linkedin.com/in/sanita-reinsone" target="_blank">Linkedin</a>
                                </p>
                            </div>
                        </div>

                        <!-- Lithuania -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Lithuania</h3>
                                <p class="name">Monika Mačiulienė</p>
                                <p class="role">Senior researcher, Head of Citizen Science Hub</p>
                                <p class="affiliation">Citizen Science Hub, VILNIUS TECH</p>
                                <p class="link"> <a href="https://vilniustech.lt/creative-industries/research-and-innovation/citizen-science-hub/344813?lang=2" target="_blank">Citizen Science Hub</a></p>
                            </div>
                        </div>

                        <!-- Luxembourg -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Luxembourg</h3>
                                <p class="name">Federica Moretti</p>
                                <p class="role">Postdoctoral researcher EUI, Visiting researcher University of Luxembourg</p>
                                <p class="affiliation">University of Luxembourg</p>
                            </div>
                        </div>

                        <!-- Malta -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Malta</h3>
                                <p class="name">Simone Cutajar</p>
                                <p class="role">PhD student and researcher</p>
                                <p class="affiliation">University of Malta</p>
                            </div>
                        </div>

                        <!-- Netherlands -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Netherlands</h3>
                                <p class="name">Diana Wildschut</p>
                                <p class="role">Citizen scientist, initiator</p>
                                <p class="affiliation">Non affiliated</p>
                            </div>
                        </div>

                        <!-- Poland -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Poland</h3>
                                <p class="name">Bogna Gawrońska-Nowak</p>
                                <p class="role">Professor and Head of EURDATA (Data Science Department)</p>
                                <p class="affiliation">Cracow University of Economics and Institute of Urban and Regional Development (Warsaw)</p>
                                <p class="link">
                                    <a href="https://gap.uek.krakow.pl/blog/pracownicy/dr-hab-bogna-gawronska-nowak-prof-uek/" target="_blank">UEK Krakow</a>;
                                    <a href="https://irmir.pl/bogna-gawronska-nowak/" target="_blank">IRMIR</a>
                                </p>
                            </div>
                        </div>

                        <!-- Portugal -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Portugal</h3>
                                <p class="name">Rita Rocha</p>
                                <p class="role">Founder/CEO; Educator</p>
                                <p class="affiliation">Mundo Científico - Educação e Divulgação Cientifica and Colégio Luso-Francês</p>
                                <p class="link">
                                    <a href="http://mundocientifico.com" target="_blank">Mundo Científico</a>;
                                    <a href="https://www.lusofrances.pt/" target="_blank">Colégio Luso-Francês</a>
                                </p>
                            </div>
                        </div>

                        <!-- Romania -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Romania</h3>
                                <p class="name">Lucrina Stefanescu</p>
                                <p class="role">Researcher</p>
                                <p class="affiliation">Babes-Bolyai University, Cluj-Napoca</p>
                                <p class="link">
                                    <a href="https://www.ubbcluj.ro/ro/" target="_blank">UBB Cluj</a>;
                                    <a href="https://ecovoce.granturi.ubbcluj.ro/" target="_blank">EcoVoce</a>;
                                    <a href="https://enviro.ubbcluj.ro/" target="_blank">Enviro UBB</a>
                                </p>
                            </div>
                        </div>

                        <!-- Slovenia -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Slovenia</h3>
                                <p class="name">Zarja Muršič</p>
                                <p class="role">Science communicator/Local facilitator for connected communities EUTOPIA</p>
                                <p class="affiliation">Free-lance science communicator/University of Ljubljana</p>
                                <p class="link">
                                    <a href="https://twitter.com/piskotk" target="_blank">Twitter</a>;
                                    <a href="https://www.linkedin.com/in/zarjamursic/" target="_blank">Linkedin</a>
                                </p>
                            </div>
                        </div>

                        <!-- Spain -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">Spain</h3>
                                <p class="name">Meritxell Abril</p>
                                <p class="role">Researcher</p>
                                <p class="affiliation">BETA Technological Center (University of Vic-Central University of Catalonia)</p>
                                <p class="link"><a href="https://betatechcenter.com/ca/equip/meritxell-abril-cuevas/" target="_blank">BETA Tech Center</a></p>
                            </div>
                        </div>

                        <!-- UK -->
                        <div class="ambassador-card">
                            <div class="ambassador-info">
                                <h3 class="country">UK</h3>
                                <p class="name">Adrian Cooper</p>
                                <p class="role">Chair and Senior Project Manager</p>
                                <p class="affiliation">Felixstowe Citizen Science Group</p>
                                <p class="link"><a href="https://www.facebook.com/profile.php?id=100063740970696" target="_blank">Facebook Profile</a></p>
                            </div>
                        </div>
        </div>
                    </section>
                        

                </main>
            <!-- Modal for Ambassadors Cards-->
            <div class="modal fade" id="ambassadorModal" tabindex="-1" aria-labelledby="ambassadorModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content ambassador-modal">
                        <div class="modal-body ambassador-info">
                            <!-- Aquí iría el contenido de la card que se desea mostrar en el modal -->
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script>
        $(document).ready(function() {
    $('.ambassador-card').on('click', function() {
        // Tomar el contenido de la tarjeta en la que se hizo clic
        let cardContent = $(this).html();
        
        // Colocar el contenido en el cuerpo del modal
        $('#ambassadorModal .modal-body').html(cardContent);

        // Mostrar el modal
        $('#ambassadorModal').modal('show');
        });
    });

    </script>
</body>

</html>
{% endblock list_of_items %}   