{% load i18n %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1>{% trans "New" %}<span class="lightBlue-color"> {% trans "Event" %}</span></h1>
        <div class="row">
            <div class="col-12">
                <div class="small mb-2"> {% trans "Thank you for submitting an event to the EU-Citizen.Science platform. Upon clicking on “Add”, the event will immediately show up on the platform but will be later moderated by one of the platform moderators. This step is simply to check for spam or inappropriate uses of the platform." %}

                </div>
            </div>
        </div>
    </div>
</div>