{% extends "base_r2.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} :: Events{% endblock %}


{% block list_of_items %}
<div class="container">
    {% if ongoingEvents %}
    <h1>{% trans "On going <span class='lightBlue-color'>events</span>" %}</h1>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            {% for event in ongoingEvents %}
            {% include "_event_card.html" %}
            {% endfor %}
        </div>
    </div>
    {% endif %}


    {% if events %}
    <h1>{% trans "Upcoming <span class='lightBlue-color'>events</span>" %}</h1>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            {% for event in events %}
            {% include "_event_card.html" %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if pastEvents %}
    <h1 class="mt-5">{% trans "Past <span class='lightBlue-color'>events</span>" %}</h1>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            {% for event in pastEvents %}
            {% include "_event_card.html" %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock list_of_items %}

{% block scripts %}
<script>
    function setFeaturedEvent(idEvent, featured){
        var htmlId = "featured" + idEvent;
        var request = $.ajax(
            {
                type: "POST",
                url: "{% url 'setFeaturedEvent' %}",
                data: {
                    "event_id": idEvent,
                    "featured": featured,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    window.location.reload(false);
                }
            }
        );
    }

function setApprovedEvent(idEvent, approved){
    var eventID= 0;

    var request = $.ajax(
        {
            type: "POST",
            url: "{% url 'setApprovedEvent' %}",
            data: {
                "event_id": idEvent,
                "approved": approved,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {
                window.location.reload(false)
                if(!approved){
                    eventID = idEvent
                    window.location.href ="{% url 'submitter_contact' group='editEvent' pk=12345 %}".replace(/12345/, eventID.toString());
                }
            }
        }
    );
}
</script>
{% endblock scripts %}
