:root {
 
    --gray3: #333;
    --gray5: #555;   
    --gray7: #777;
    --gray9: #999;
    --white: #fff;
   

    --background: #faf9fa;
    --color1: #01A0D1;
    --color2: #d90368;
    --color3: #57a773;
    --color4: #004e98;
    --color5: #157145;
}

body {
    color: var(--gray5);
    background-color: var(--background) !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}
h2 {
    border-left: 6px solid var(--color2);
    padding-left: 10px;
}


a {
    text-decoration: none !important;
}

.my-link{
    color: var(--color4) !important;
}


/* Clors for text */
.bg-my-dark{
    background-color: var(--gray3) !important;
    color: var(--white) !important;
}


.nav-link{
    color: var(--gray3) !important;
    border-bottom: 2px solid transparent;
}
.nav-link:hover{
    color: var(--color4) !important;
    border-bottom: 2px solid var(--color4);
}
.nav-link.active{
    color: var(--color4) !important;
    border-bottom: 2px solid var(--color4);
}
.bg-dark{
    background-color: var(--gray3) !important;
}

/* For cards */
.my-card-title{
    height: 2.6em;  /* Adjust based on your font size and line height */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
}
.my-card-country{
    height: 1rem;
}

.profileImage{
    min-height: 400px !important;
    background-image: fixed;

}

