{% extends "base_r2.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'site/css/leaflet-geosearch_style.css' %}">
<link rel="stylesheet" href="{% static 'site/css/leaflet.css' %}">
{{ profile_form.media.css }}
{% endblock head %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="" %}
{% endblock %}
{% block list_of_items %}
<div class="container">
	<div class="row mt-5">
		<div class="container-fluid">
			<div class="card mt-5 mb-5 shadow">
				<div class="card-body">
					<div class="card-title">
						<h2>
							<img title="profile picture" class="img-fluid rounded-circle"
							src="{% thumbnail user.profile.picture|default:'default_profile.png' 140x140 crop %}">
							{% trans "Edit profile" %}: {{ user.get_full_name }}
						</h2>
					</div>
					<div class="card-text">
						<form enctype="multipart/form-data" method="post">
							{% csrf_token %}
							{{ user_form.name|as_crispy_field }}							
							{{ user_form.email|as_crispy_field }}

							{{ profile_form.picture|as_crispy_field }}
							{{ profile_form.title|as_crispy_field }}
							{{ profile_form.bio|as_crispy_field }}
							{{ profile_form.orcid|as_crispy_field }}
							{{ profile_form.organisation|as_crispy_field }}
							{{ profile_form.interestAreas|as_crispy_field }}
							{{ profile_form.choices|as_crispy_field }}
							{{ profile_form.latitude|as_crispy_field }}
							{{ profile_form.longitude|as_crispy_field }}

							<br/><br/>
							<button id="upload" type="submit" class="btn btn-green"><i class="fas fa-share-square"></i> {% trans "Save" %}</button>
							<a class="btn btn-red float-right" href="{% url 'accounts:password-change' %}"><i class="fas fa-key"></i> {% trans "Change Password" %}</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock list_of_items%}

	{% block scripts %}
	<script src="{% static 'site/js/leaflet-geosearch_2_7.min.js' %}"></script>
	<script>

		$(document).ready(function () {
			$('.js-example-basic-single').select2();
			var choices = $("#id_choices").val();
			var choices = choices.split(",");

			for (choice of choices){
				$("#id_interestAreas").append("<option value='" + choice +"' selected> " + choice + " </option>");
			}

			$("#div_id_interestAreas div").on('keyup', function(e){
				var key = $("#div_id_interestAreas .selection input").val();
				if (key.indexOf(',') > -1) {
					var word =key.slice(0, -1);				
					$("#div_id_interestAreas .selection input").val("");
					if(word.length > 1){
						$("#id_interestAreas").append("<option value='" + word +"' selected> " + word + " </option>");
					}
				}
				if(e.which == 13) {
					$("#div_id_interestAreas .selection input").val("");
					if(key.length > 1){
						$("#id_interestAreas").append("<option value='" + key +"' selected> " + key + " </option>");
					}
				}
			});

			$("#upload").on('click', function(){
				var option_all = $("#id_interestAreas option:selected").map(function () {
					return $.trim($(this).text());
				}).get().join(',');
				$("#id_choices").val(option_all);
				$("#id_interestAreas").empty();
			});

		});
	</script>

	<script type="text/javascript">

	</script>

	{{ profile_form.media.js }}
	{% endblock scripts %}
