{% extends "base2.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="" %}
{% endblock %}
{% block list_of_items %}
<div class="container-fluid">
	<div class="card card-mb-4">
		<div class="card-body">
			<div class=card-title">
				<h2>
					 <img title="profile picture" class="img-fluid rounded-circle" 
						src="{% thumbnail user.profile.picture|default:'default_profile.png' 140x140 crop %}">
      			Edit profile: {{ user.get_full_name }}
				</h2>
			</div>
			<div class="card-text">
   			<form enctype="multipart/form-data" method="post">
					{% crispy user_form %}
					{% crispy profile_form %}
   			<a class="btn btn-danger float-right" href="{% url 'accounts:password-change' %}">Change Password</a>
      	</form>
			</div>
		</div>
	</div>
<br>
<br>
{% endblock list_of_items%}


