{% extends "base_r2.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load countries %}
{% block head %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.js"
integrity="sha256-7BfFV/dSvQT4pGBvRAIt6JDXsehb92DQqpGUndLCPQ4=" crossorigin="anonymous"></script>
{% endblock head %}
{% block title %}{{ block.super }} :: {{show_user.get_full_name}}{% endblock %}
{% block navbar-left %}
{% include "_navbar.html" with active_link="project" %}
{% endblock %}


{% block list_of_items %}


<!-- Delete modal -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title" id="myModalLabel">{% trans "Confirm delete" %}</h4>
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		</div>
		<div class="modal-body">
		  <p>{% trans "You are going to delete this profile, this procedure is irreversible." %}</p>
		  <p>{% trans "Do you want to proceed?" %}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
		  <a class="btn btn-red btn-delete"><i class="fas fa-trash-alt"></i> {% trans "Delete" %}</a>
		</div>
	  </div>
	</div>
</div>

<!-- Delete modal -->
<div class="modal fade" id="confirm-dropout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title" id="myModalLabel">{% trans "Confirm membership cancellation" %}</h4>
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		</div>
		<div class="modal-body">
		  <p>{% trans "We’re sorry to see you go!" %}</p>
		  <p>{% trans "Please confirm that you no longer wish to be a member of ECSA." %}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
		  <a class="btn btn-red btn-dropout"><i class="fas fa-trash-alt"></i> {% trans " Cancel membership" %}</a>
		</div>
	  </div>
	</div>
  </div>


<div class="container">
	<div class="row mt-5">
		<div class="container-fluid">
			<div class="card mt-5 shadow">
				<div class="card-body">
					<div class="card-title">
						<h1>
							<img title="profile picture" class="img-fluid rounded-circle" src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 140x140 crop %}">
							{{ show_user.get_full_name }} {% if show_user.profile.lastname %}{{show_user.profile.lastname}} {% endif %}
							{% if show_user.profile.paid %}
							<img style=" margin-left: 50px;" src="{% static 'site/img/ecsa_main_Member.png' %}"/>
							{% endif %}
								</div>
				
					{% if editable and not show_user.profile.ecsa_requested_join %}
						<a href="{% url 'accounts:new_ecsa_individual_membership' %}" class="btn btn-outline btn-info float-right ml-2 mt-5"><i class="fas fa-users"></i> {% trans "Sign up for Individual ECSA membership" %}</a>
					{% endif %}
					
				</div>
					
				{%if editable %}
				{% if show_user.profile.paid or show_user.profile.former_member or show_user.profile.ecsa_requested_join %}
				<div class="card-header flex  flex-row-reverse">
					<ul class="nav nav nav-tabs card-header-tabs mr-auto flex-row-reverse">
						<li class="nav-item">
						<a class="nav-link sub" id="ecsa_organizational_tab" href="#"
						onClick="$('#ecsa_individual').hide(); 
						$('#profile').hide();
						$('#ecsa_individual').hide();
						$('#ecsa_organizational').show();
						$('#ecsa_organizational_tab').addClass('active')
						$('#ecsa_individual_tab').removeClass('active') 
						$('#profile_tab').removeClass('active')
						">{% trans "Organizational ECSA membership" %}</a>
						</li>

						<li class="nav-item">
						<a class="nav-link sub" id="ecsa_individual_tab" href="#"
						onClick="$('#profile').hide(); 
						$('#ecsa_organizational').hide();
						$('#ecsa_individual').show();
						$('#ecsa_individual_tab').addClass('active')
						$('#ecsa_organizational_tab').removeClass('active') 
						$('#profile_tab').removeClass('active')
						">{% trans "Individual ECSA membership" %}</a>
						</li>

						<li class="nav-item">
						<a class="nav-link sub active" id="profile_tab" href="#"
						onClick="$('#ecsa_organizational').hide(); 
						$('#ecsa_individual').hide();
						$('#profile').show();
						$('#profile_tab').addClass('active')
						$('#ecsa_individual_tab').removeClass('active')
						$('#ecsa_organizational_tab').removeClass('active')
						">{% trans "Profile" %}</a>
						</li>

					</ul>
					</div>
					{% endif %}
					{% endif %}

				<div class="card-text" id="profile">
					<div class="row p-3">
						<div class="col-12 col-sm-6">
							<p><b>{% trans "Email" %}: </b>{{ show_user.email|default:"missing"}}</p>

							<p><b>{% trans "Joined" %}: </b>{{ show_user.date_joined | date:"d/m/Y"}}</p>							
							<p><strong>{% trans "Interest areas" %}</strong>:
								{% for area in show_user.profile.interestAreas.all %}
								{{ area }}
								{% endfor %}
							</p>

						</div>
						<div class="col-12 col-sm-6">
							<p><strong>{% trans "Title" %}</strong>: {{ show_user.profile.title }} </p>
							<p><strong>{% trans "Bio and disciplinary background" %}</strong>: {{ show_user.profile.bio }}</p>
							<p><strong>{% trans "ORCID profile" %}</strong>: {% if show_user.profile.orcid %} <a href="https://orcid.org/{{ show_user.profile.orcid }}" target="_blank">{{ show_user.profile.orcid }}</a>{% endif %}</p>
							<p><b>{% trans "Organisation" %}:</b>
							{% for organisation in show_user.profile.organisation.all %} <a href="/organisation/{{organisation.id}}">{{organisation}}</a>  {% endfor %}							        </p>
							<p><b>{% trans "City" %}: </b>{{ show_user.profile.city }}</p>
							<p><b>{% trans "Country" %}: </b>{%if show_user.profile.country %}{% get_country show_user.profile.country as country %}{{ country.name }}{% endif %}</p>
							<br/>
						</div>
				{% if editable %}
						<div class="col-12 col-sm-6">
							<a data-href="{% url 'accounts:delete' %}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-outline btn-red float-right ml-2 mt-5"><span class="fas fa-trash-alt"></span>&nbsp;{% trans "Delete Profile" %}</a>
							<a href="{% url 'profiles:edit_self' %}" class="btn btn-outline btn-green float-right ml-2 mt-5"><i class="fas fa-edit"></i> {% trans "Edit Profile" %}</a>
							{% endif %}							
						</div>

					</div>
				</div>

				<div class="card-text myhidden" id="ecsa_individual">
					<div class="row p-3">
						<div class="col-12">
							{% if show_user.profile.former_member %}
								Former member
							{% elif show_user.profile.paid %}
								{% trans "You are a full member...." %}	
							{% elif show_user.profile.ecsa_requested_join %}
								{% trans "You have requested to join...." %}
							{% endif %}
						</div>
						<div class="col-12 col-sm-6 mt-2">
								<p><b>{% trans "Member since" %}: </b>{{ show_user.profile.ecsa_member_since | date:"d/m/Y" }}</p>								
								<p><b>{% trans "Member number" %}: </b>{{ show_user.profile.ecsa_member_number }}</p>							
								<p><b>{% trans "Reduced fee" %}: </b>{%if show_user.profile.ecsa_reduced_fee %} Yes {% else %} No{% endif %}</p>
								<p><b>{% trans "20% discount for CSA/ACSA members" %}: </b>{%if show_user.profile.ecsa_old_member_fee %} Yes {% else %} No{% endif %}</p>
						</div>
						<div class="col-12 col-sm-6 mt-2">
							<p><b>{% trans "Street" %}: </b>{{ show_user.profile.ecsa_street }}</p>
							<p><b>{% trans "Postal code" %}: </b>{{ show_user.profile.ecsa_postal_code }}</p>
							<p><b>{% trans "City" %}: </b>{{ show_user.profile.ecsa_city }}</p>
							<p><b>{% trans "Country" %}: </b>{%if show_user.profile.ecsa_country %}{% get_country show_user.profile.ecsa_country as country %}{{ country.name }}{% endif %}</p>
							<p><b>{% trans "Occupation" %}: </b>{{ show_user.profile.occupation }}</p>
							{% if show_user.profile.paid or show_user.profile.former_member %}					
								<a data-href="{% url 'accounts:drop_out_ecsa_membership' %}" name='dropoutECSA' data-toggle="modal" data-target="#confirm-dropout"
								class="btn btn-outline btn-red float-right ml-2 mt-5"><i class="fas fa-users"></i> {% trans "Cancel ECSA membership" %}</a>
							{% endif %}
							<a href="{% url 'accounts:editEcsaIndividualMembership' %}" class="btn btn-outline btn-green float-right ml-2 mt-5"><i class="fas fa-edit"></i> {% trans "Edit" %}</a>
						</div>							
					</div>
				</div>


				<div class="card-text myhidden" id="ecsa_organizational">
					<div class="row p-3">
						<div class="col-12">
							{% if organisations %}
							<div>You are a delegate of:</div>
							{% for organisation in organisations.all %}
							<div><a class="badge badge-light pt-1" href="/organisation/{{organisation.id}}">{{organisation|upper}}</a></div>
							{% endfor %}
							{% else %}
							You are currently not a delegate of any organisation.
							{%endif%}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock list_of_items%}
{% block scripts %}


	<script type="text/javascript">
		$('#confirm-delete').on('show.bs.modal', function(e) {
			$(this).find('.btn-delete').attr('href', $(e.relatedTarget).data('href'));
		});

		$('#confirm-dropout').on('show.bs.modal', function(e) {
			$(this).find('.btn-dropout').attr('href', $(e.relatedTarget).data('href'));
		});

	</script>
	{% endblock scripts %}
