
{% load i18n %}
{% load staticfiles %}
{% block subject %}
{% endblock subject %}

{% block html_body  %}
<p>Dear {{ name }} {%if lastname %}{{ lastname }}{%endif%},</p>
<p>We warmly welcome you to the ECSA community.</p>
<p>Your ECSA member number is {{ecsa_member_number}}. </p>
<p>We have also developed a membership badge (attached in this email) which you are encouraged to place on your website and link back to http://ecsa.citizen-science.net/, as well as in your presentations and materials.
</p>

<p>You now have access to the internal mailing list that reaches all current ECSA members. We encourage you to use the list to share and request information on anything citizen science-related with ECSA members. To send messages to the list, please use the following address: ecsa-all@listserv.dfn.de. You will receive a separate email confirming that you have been signed up to the list. </p>
<p>You are also invited to promote your citizen science-related news via the bi-monthly ECSA Newsletter that reaches over 2000 institutions andnb #äl individuals globally or via the events page of EU-Citizen.Science. A call will be made on the ECSA mailing list for contributions prior to each newsletter.</p>
<p>Information on ECSA’s working groups can be found on our website. </p>
<p>Please go ahead with the payment of your membership fee for this year. Instructions to carry out the payment are attached to this email.</p>
<p>If you would like to make an additional contribution to ECSA, please let us know. We are sincerely thankful for your support.</p>
<p>Please do not hesitate to contact us at ecsa-admin@mfn.berlin regarding any questions you may have.</p>
<p>We are excited that you decided to join ECSA and look forward to working together.</p>
<p>With kind regards,</p>
<p>The ECSA HQ-Team</p>
{% endblock html_body %}
