{% extends "base2.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Contact{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" %}
{% endblock %}

{% block page_title %}
Contact
{% endblock page_title %}

{% block list_of_items %}
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4 mt-4 mb-4">
      <h3>Contact Us</h3>
    </div>
    <div class="col-12 col-sm-8 mt-4 mb-4">
      <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row">
          <div class="col-6">
            {{ form.name | as_crispy_field}}
          </div>
          <div class="col-6">
            {{ form.surname | as_crispy_field}}
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6">
            {{ form.from_email | as_crispy_field}}
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6">
          {{ form.message | as_crispy_field}}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
            <button type="submit" class="btn btn-success">Send</button>
        </div>

    </form>
  </div>
</div>
{% endblock list_of_items %}
