{% extends "base_r2.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} :: Contact{% endblock %}
{% block splash %}
<div class="jumbotron jumbotron-fluid jumbotron-default">
	<div class="container">
		<h1 class="display-4 pt-4 pb-4 text-white">{% trans "Submitter Contact" %}</h1>

	</div>
</div>
{% endblock splash %}
{% block navbar-left %}
{% include "_navbar.html" with active_link="contact" %}
{% endblock %}

{% block page_title %}
{% trans "Contact" %}
{% endblock page_title %}

{% block list_of_items %}
<div class="container">
	<div class="row">
		<div class="col-12 col-sm-12 mt-4 mb-4">
			<div class="card mb-4 mt-5 shadow">
				<div class="card-text p-3">
					<h3>{% trans "Contact" %}</h3>
					<p>{% trans "This email will be sent to submitter of" %} <a target="_blank" href="{{ referenceURL }}">{{ referenceURL }}</a></p>
					<form method="post" autocomplete="off">
						{% csrf_token %}
						<div class="row">
							<div class="col-6">
								{{ form.subject | as_crispy_field}}
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-sm-12">
								{{ form.message | as_crispy_field}}
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-sm-6">
								<button type="submit" class="btn btn-success">{% trans "Send" %}</button>
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock list_of_items %}
