<div class="container-fluid pb-5 bg-my-lightBlue woodc" style="background: url('/static/site/img/ilustracion_2.png') no-repeat">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
            </div>
            <div class="col-12 col-md-6">
                <h1 class="mt-5">About the platform</h1>
                <h3 class="fw-light">
                    EU-Citizen.Science is an online platform for sharing knowledge, tools, 
                    training and resources for citizen science – by the community, for the community.
                </h3>
                <h3 class="fw-light mb-5">
                    The vision for the platform is to serve as a Knowledge Hub and to become the European reference 
                    point for citizen science in aid of its mainstreaming.
                </h3>

                <h3 class="m-0 float-end mt-5">Learn more in the about page<br /> and the FAQ!</h3>
            </div>
        </div>
    </div>
</div>

