<div class="container-fluid pb-5 blueb woodc" style="background: url('/static/site/img/ilustracion_2.png') no-repeat">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
            </div>
            <div class="col-12 col-md-6">
                <h1 class="mt-5">About the platform</h1>
                <h3 class="fw-light">Here is a more explicative text on this section one that can be on two or three lines more or less</h3>
                <h3 class="p-5 m-5 float-end"></h3>
                <h3 class="p-0 m-0 fw-light float-end">on this section one that can be one, </h3>
                <h3 class="p-0 m-0 fw-light float-end">two or three lines more or less</h3>
                <h3 class="p-0 m-0 fw-light float-end">sections of the content</h3> 
                <h3 class="p-5 m-5 float-end"></h3>
                <h3 class="pt-5 m-0 float-end">Do a diasdadsooasop fixxx</h3>
                <h3 class="m-0 float-end"> and you lsdl be as ppy frre</h3>
            </div>
        </div>
    </div>
</div>

