<li style="margin-right:3em" {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">HOME</a></li>
<li style="margin-right:3em" {% if active_link == "projects" %}class="active"{% endif %}><a href="{% url 'projects' %}">PROJECTS</a></li>
<li style="margin-right:3em" {% if active_link == "resources" %}class="active"{% endif %}><a href="{% url 'resources' %}">RESOURCES</a></li>
<li style="margin-right:3em" {% if active_link == "blog" %}class="active"{% endif %}><a href="{% url 'blog' %}">BLOG</a></li>
<li style="margin-right:3em" {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">ABOUT</a></li>