{% load i18n %}
{% load active_link_tags %}
<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-light bg-white sub-nav-bar pb-0 pl-0">
            <ul class="nav">
                <li class="nav-item text-start">
                    <a class="nav-link ps-0 pt- pr-4 {% active_link 'projects' %}"
                       href="{% url 'projects' %}{% if request.GET.keywords %}?keywords={{request.GET.keywords}}{%endif%}">
                        <i class="fas fa-binoculars"></i> {% trans "Projects" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ps-0 pr-4 {% active_link 'resources' %}"
                       href="{% url 'resources' %}{% if request.GET.keywords %}?keywords={{request.GET.keywords}}{%endif%}">
                        <i class="fas fa-book"></i> {% trans "Resources" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ps-0 pr-4 {% active_link 'training_resources' %}"
                       href="{% url 'training_resources' %}{% if request.GET.keywords %}?keywords={{request.GET.keywords}}{%endif%}">
                        <i class="fas fa-graduation-cap"></i> {% trans "Training" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ps-0 pr-5 {% active_link 'organisations' %}"
                       href="{% url 'organisations'%}{% if request.GET.keywords %}?keywords={{request.GET.keywords}}{%endif%}">
                        <i class="fas fa-university"></i> {% trans "Organisations" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ps-0 pr-5 {% active_link 'platforms' %}"
                       href="{% url 'platforms'%}{% if request.GET.keywords %}?keywords={{request.GET.keywords}}{%endif%}">
                        <i class="fas fa-globe-europe"></i> {% trans "Platforms" %}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right {% active_link 'curated'%}">
                <li class="nav-item">
                    <a class="nav-link {% active_link 'curated' %}" href="{% url 'curated' %}">
                        <i class="fas fa-star"></i> {% trans "Our Gold Star Selection" %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% if isSearchPage and request.get_full_path != '/' %}
<div class="row">
    <div class="col-12">
        <form id="searchTop"
              {% if 'all' in request.get_full_path %}
              action="/all"
              {% elif 'training_resources' in request.get_full_path %}
              action="/training_resources"
              {% elif 'resources' in request.get_full_path %}
              action="/resources"
              {% elif 'organisations' in request.get_full_path %}
              action="/organisations"
              {% elif 'platforms' in request.get_full_path %}
              action= "platforms"
              {% else %}
              action="/projects"
              {% endif %}>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
                <input type="text" 
                       id="keywords" 
                       name="keywords"  
                       autocomplete="off" 
                       value="{{filters.keywords}}" 
                       class="basicAutoComplete form-control" 
                       placeholder="Search..." 
                       {% if 'all' in request.get_full_path %}
                       data-url="/home_autocomplete/"
                       {% elif 'training_resources' in request.get_full_path %}
                       data-url="/trainingsAutocompleteSearch/"
                       {% elif 'resources' in request.get_full_path %}
                       data-url="/resourcesAutocompleteSearch/"
                       {% elif 'organisations' in request.get_full_path %}
                       data-url="/organisationsAutocompleteSearch/"
                       {% elif 'platforms' in request.get_full_path %}
                       data-url="/platformsAutocompleteSearch/"
                       {% else %}
                       data-url="/projectsAutocompleteSearch/"
                       {% endif %}
                       >
                       <div class="input-group-text clickable" id="backsign"></div>
            </div>
        </form>
    </div>
</div>
{% endif %}
