{% load active_link_tags %}
<nav class="navbar navbar-light bg-white
{% if request.get_full_path == "/" %} mt-0 {% else %} mt-5 {% endif %} pb-0 pl-0" >
  <div class="navbar order-1 order-md-0 pb-0 pl-0">
    <ul class="nav pl-0">
      <li class="nav-item pl-1">
        <a class="nav-link sub {% active_link 'all' %}"
        href="{% url 'all' %}{% if request.GET.keywords %}?keywords={{request.GET.keywords}}{%endif%}">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link sub {% active_link 'projects' %}"
        href="{% url 'projects' %}{% if request.GET.keywords %}?keywords={{request.GET.keywords}}{%endif%}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link sub {% active_link 'resources' %}"
        href="{% url 'resources' %}{% if request.GET.keywords %}?keywords={{request.GET.keywords}}{%endif%}">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link sub {% active_link 'training_resources' %}"
        href="{% url 'training_resources' %}{% if request.GET.keywords %}?keywords={{request.GET.keywords}}{%endif%}">Training</a></li>
        <li class="nav-item">
          <a class="nav-link sub {% active_link 'organisations' %}"
          href="{% url 'organisations'%}{% if request.GET.keywords %}?keywords={{request.GET.keywords}}{%endif%}">Organisations</a></li>
          <li class="nav-item"><a class="nav-link sub {% active_link 'curated' %}" href="{% url 'curated' %}">Our Selection</a></li>
        </ul>
        <!--ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a class="nav-link" href="#" onclick="$('#content-2').hide(); $('#content-1').show()">0</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#" onclick="$('#content-1').hide(); $('#content-2').show()">1</a>
    </li>
  </ul-->
</div>
</nav>

<!--li class="nav-item"><a class="nav-link {% if active_link == "contact" %}active{% endif %}" href="{% url 'contact' %}">CONTACT</a></li-->
