<div class="container-fluid pt-5 pb-5" style="background: #FFF url('/static/site/img/What_u_will_find.png') fixed no-repeat right">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>What can you find here?</h1>
            </div>
            <div class="col-md-5 col-12 mb-3 mt-3">
                <div class="card h-100 shadow border-0">
                    <div class="card-body">
                        <h3 class="card-title">{{ counterprojects }} projects</h3>
                        that are engaging the public in research via citizen science activities
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-12 mb-3 mt-3">
                <div class="card h-100 shadow border-0">
                    <div class="card-body">
                        <h3 class="card-title">{{ counterresources }} resources</h3>
                        useful for planning and running citizen science projects
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-12 mb-3 mt-3">
                <div class="card h-100 shadow border-0">
                    <div class="card-body">
                        <h3 class="card-title">{{ countertresources }} training resources</h3>
                        about the practice of citizen science
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-12 mb-3 mt-3">
                <div class="card h-100 shadow border-0">
                    <div class="card-body">
                        <h3 class="card-title">{{counterorganisations}} organisations</h3>
                        involved in citizen science projects and research
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-12 mb-3 mt-3">
                <div class="card h-100 shadow border-0">
                    <div class="card-body">
                        <h3 class="card-title">Platforms</h3>
                        to get an overview of further developments in citizen science
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-12 mb-3 mt-3">
                <div class="card h-100 shadow border-0">
                    <div class="card-body">
                        <h3 class="card-title">Users</h3>
                        with whom you can connect
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="m-0 float-end mt-5">Check out our events calendar, blog and forum!</h3>
            </div>
        </div>
    </div>
</div>

