{% load i18n %}
<div class="container-fluid pt-5" style="background: #ABB79B url('/static/site/img/solution.png') left no-repeat" >
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
            </div>
        <div class="col-12 col-md-6">
            <h1 class="mt-5 text-black">
                {% trans "what is <span class='text-white'>citizen science?</span>" %}
            </h1>
            <h3 class="fw-light mb-5">
                <div class="mb-2">{% trans "Citizen science is any activity that involves the public in scientific research and thus has the potential to bring together science, policy makers, and society as a whole in an impactful way. Through citizen science, all people can participate in many stages of the scientific process, from the design of the research question, to data collection and volunteer mapping, data interpretation and analysis, and to publication and dissemination of results. Citizen science is also an approach of scientific work that may be used as a part of a broader scientific activity." %}</div>
       </h3>
            <h3 class="fw-light mb-5">

                <div>{% trans "Learn more about it with the <a href='/resource/88'>ECSA 10 Principles of Citizen Science</a> and the <a href='/resource/87'>ECSA Characteristics of Citizen Science!</a>" %}</div>
            </h3>
        </div>
    </div>
</div>

