<div class="container-fluid pt-5 pb-5" style="background: #FFF url('/static/site/img/What_u_will_find.png') fixed no-repeat right">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <h1 class="mt-5">What can you find here?</h1>
                <h3 class="fw-light mb-5">Here is a more explicative text on this section two that can be one, two or three lines more or less
                    with <a href="#">links,</a> to sections of the content</h3>
            </div>
            <div class="col-md-6 col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-12 mb-5 mt-5">
                <div class="card h-100 shadow border-0">
                    <div class="card-body">
                        <h3 class="card-title">{{ counterprojects }} projects</h3>
                        This is the text explaining what can you find in projects
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 mb-5 mt-5">
                <div class="card h-100 shadow border-0">
                    <div class="card-body">
                        <h3 class="card-title">{{ counterresources }} resources</h3>
                        This is the text explaining what can you find in projects
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 mb-5 mt-5">
                <div class="card h-100 shadow border-0">
                    <div class="card-body">
                        <h3 class="card-title">{{ countertresources }} training resources</h3>
                        This is the text explaining what can you find in projects
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 mb-5">
                <div class="card h-100 shadow border-0">
                    <div class="card-body">
                        <h3 class="card-title">{{counterorganisations}} organisations</h3>
                        This is the text explaining what can you find in projects
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 mb-5">
                <div class="card h-100 shadow border-0">
                    <div class="card-body">
                        <h3 class="card-title">Platforms</h3>
                        This is the text explaining what can you find in projects
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 mb-5">
                <div class="card h-100 shadow border-0">
                    <div class="card-body">
                        <h3 class="card-title">People</h3>
                        This is the text explaining what can you find in projects
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

