{% extends "base_r2.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ block.super }} :: {% trans "About" %}{% endblock %}
{% block splash %}
<div class="jumbotron jumbotron-fluid jumbotron-blue">
	<div class="container">
		<h1 class="display-4 pt-4 pb-4 text-white">{% trans "About" %}</h1>
	</div>
</div>
{% endblock splash %}
{% block navbar-left %}
{% include "_navbar.html" with active_link="about" %}
{% endblock %}
{% block list_of_items %}
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-12 mt-4 mb-4">
			<h3>{% trans "Watch our teaser, in 12 different languages!" %}</h3>
		</div>
		<div class="col-sm-8 col-12 mt-4 mb-4">
			<div class="col-sm-4 col-12">
				<select id="id_teaser" class="select form-control" onchange="loadTeaserVideo()">
					<option value = "NL">Dutch</option>
					<option value = "EN" selected>English</option>
					<option value = "ET">Estonian</option>
					<option value = "FR">French</option>
					<option value = "DE">German</option>
					<option value = "EL">Greek</option>
					<option value = "HU">Hungarian</option>
					<option value = "IT">Italian</option>
					<option value = "LT">Lithuanian</option>
					<option value = "PT">Portuguese</option>
					<option value = "ES">Spanish</option>
					<option value = "SV">Swedish</option>
				</select>
			</div>
			<br/>
			<iframe id="teaserIframe" width="640" height="360" src="https://www.youtube.com/embed/jBfgV8LkYl8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-12 mt-4 mb-4">
			<h3>{% trans "The Platform" %}</h3>
		</div>
		<div class="col-sm-8 col-12 mt-4 mb-4">
			<p>{% trans "EU-Citizen.Science is an online platform for sharing knowledge, tools, training and resources for citizen science – by the community, for the community." %}<br><br>
				{% trans "The vision for the platform is to serve as a Knowledge Hub, in aid of the mainstreaming of citizen science, and build on the growing impact of citizens participating in research across the full range of scientific enquiry." %}
				{% trans "We accomplish this by supporting the sharing of knowledge, know-how, and experience between anyone doing or wanting to do citizen science." %}<br>
			</p>
			<p>
				{% trans "On this platform you will find" %}:
				<ul>
					<li><a href="/resources">{% trans "Resources" %}</a> {% trans "that are useful for citizen science practitioners" %}</li>
					<li><a href="/projects">{% trans "Projects" %}</a> {% trans "that are engaging the public in research via citizen science activities" %}</li>
					<li>{% trans "Training resources and materials citizen science as a practice" %}</li>
					<li>{% trans "Organisations that are involved in citizen science projects and research" %}
					<li>{% trans "an" %} <a href="/events">{% trans "Events" %}</a> {% trans "calendar" %}</li>, {% trans "and" %}
					<li>{% trans "Community Forums for questions, conversations, and collaboration with the rest of the community." %}</li>
				</ul>
			</p>
			<p>
				{% trans "Spotted something missing? You can add your own profiles for Resources, Projects, and Training via the +ADD button in the top menu. Have a suggestion for us? Please share your thoughts in our community feedback forum or in the" %} <a href="/contact">{% trans "contact" %}</a> {% trans "section" %}.
			</p>
		</div>
	</div>
</div>
<div class="container-fluid bg-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<h3>{% trans "The Project" %}</h3>
				<img  class="img-fluid img-zoom col-12 mt-5" src="{% static 'site/img/undraw_maker_launch_crhe.svg' %}"/>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				<p>{% trans "The EU-Citizen.Science project has been funded by the European Commission Horizon 2020 programme, in the Science with and for Society programme of work (also known as SwafS).  Our mission is ambitious –to become the reference point for citizen science through cross-network knowledge sharing for citizen science participants, practitioners, researchers, policy makers and society across Europe" %}</p>
					<div class="row">
						<div class="col-sm-6 col-12 mt-4 mb-4">
							<div class="card h-100 shadow-sm">
								<div class="card-body">
									<h4 class="card-title">{% trans "Our Vision" %}</h4>
									<div class="card-text">{% trans "is that Citizen Science becomes an appreciated and widely established means for the democratization of science in Europe" %}</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-12 mt-2">
							<div class="card h-100 shadow-sm">
								<div class="card-body">
									<h4 class="card-title">{% trans "Our Core Mission" %}</h4>
									<div class="card-text">{% trans "is to become the European reference point for CS through cross-network knowledge sharing for citizen science participants, practitioners, researchers, policy makers and society across Europe" %}</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-12 mt-4">
							<div class="card h-100 shadow-sm">
								<div class="card-body">
									<h4 class="card-title">{% trans "Objective 1: Establish" %}</h4>
									<div class="card-text">{% trans "EU-Citizen.Science as the knowledge and community hub for high-quality CS exchange and learning in Europe" %}</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-12 mt-4">
							<div class="card h-100 shadow-sm">
								<div class="card-body">
									<h4 class="card-title">{% trans "Objective 2: Consolidate" %}</h4>
									<div class="card-text">{% trans "the CS knowledge base and celebrate outstanding practices and state of the art in CS in Europe" %}</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-12 mt-4">
							<div class="card h-100 shadow-sm">
								<div class="card-body">
									<h4 class="card-title">{% trans "Objective 3: Empower" %}</h4>
									<div class="card-text">{% trans "diverse stakeholders to become citizen scientists, start CS initiatives, and implement CS approaches professionally" %}</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-12 mt-4">
							<div class="card h-100 shadow-sm">
								<div class="card-body">
									<h4 class="card-title">{% trans "Objective 4: Explore" %}</h4>
									<div class="card-text">{% trans "new pathways for participatory governance, by strengthening links between CS and policy making" %}</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-12 mt-4 mb-4">
							<div class="card h-100 shadow-sm">
								<div class="card-body">
									<h4 class="card-title">{% trans "Objective 5: Advance" %}</h4>
									<div class="card-text">{% trans "CS into the mainstream of public engagement, science communication and education" %}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 mb-4">
							{% trans "In keeping with our mission, we aim to engage equally with CS participants, practitioners, researchers, policy makers and society as a whole throughout the course of the project. In order to do so effectively, it is necessary to have a clear understanding of who our target audience is, their needs and requirements, and how we can build a community of engaged users of the Platform." %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<h3>{% trans "The Team" %}</h3>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				{% trans "The EU-Citizen.Science consortium consists of 14 partners and 9 third parties from across 14 European member states, as well as other project supporters. We represent a variety of stakeholders that are active in citizen science, including universities, non-governmental organisations, local authorities, community service organisations and museums." %}
				<img class="img-fluid mb-4 mt-4" src="{% static 'site/img/team.png' %}">
			</div>
		</div>
	</div>
	<div class="container-fluid bg-white">
		<div class="container">
			<div class="row">
				<div class="col-12 mt-4 mb-1">
					<h3>{% trans "Consortium partners" %}</h3>
				</div>
				<div class="col-12 mt-1 mb-4">
					<div class="row align-items-center">
						<div class="col-6 col-xl-2">
							<a href="https://www.museumfuernaturkunde.berlin/" target="_blank"><img src="{% static 'site/img/mfn.png' %}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="https://ecsa.citizen-science.net/" target="_blank"><img src="{% static 'site/img/ecsa_main_id.png' %}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="https://www.iiasa.ac.at/" target="_blank"><img src="{% static 'site/img/iiasalogo.png' %}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="https://earthwatch.org.uk/"><img src="{% static 'site/img/Earthwatch_logo_Green.jpg' %}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="http://www.ciencia.gob.es/portal/site/MICINN/"><img src="{% static 'site/img/Logotipo_del_Ministerio_de_Ciencia_e_Innovacion.png' %}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="https://www.mruni.eu/lt/"><img src="{% static 'site/img/mru.png' %}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="https://www.geog.ucl.ac.uk/research/research-centres/excites"><img src="{% static 'site/img/University_College_London_logo.png' %}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="https://www.ecsite.eu/" target="_blank"><img src="{% static 'site/img/Ecsite_logo.jpg' %}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-2 align-items-center">
							<a href="https://www.tcd.ie/"><img src="{% static 'site/img/Trinity_Main_Logo.jpg' %}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="https://v-a.se/"><img src="{% static 'site/img/va-logo.png' %}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="https://www.nhm.ac.uk/"><img src="{% static 'site/img/Natural-History-Museum-Logo.gif' %}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="https://www.universiteitleiden.nl/en"><img src="{% static 'site/img/zegel.png' %}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="https://cm-fcr.pt/en/pontos-de-interesse-english/"><img src="{% static 'site/img/Figueira.png' %}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-1">
							<a href="https://www.zsi.at/"><img src="{% static 'site/img/logo.gif' %}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="https://www.uc.pt/"><img src="{% static 'site/img/cropped-universidade-de-coimbra-uc.jpg.pagespeed.ce.WmFimWGBGi.jpg'%}" class="d-block img-fluid"/></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href=""><img src="{% static 'site/img/ximg021.jpg.pagespeed.ic.zDZzgJ-A8b.jpg'%}" class="d-block img-fluid"/></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 mt-4 mb-1">
					<h3>{% trans "Third party partners" %}</h3>
				</div>
				<div class="col-12 mt-1 mb-4">
					<div class="row align-items-center">
						<div class="col-3 col-xl-1">
							<a href="https://boku.ac.at/" target="_blank"><img src="{% static 'site/img/Boku-wien.svg.png' %}" class="img-fluid"></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="https://www.naturalsciences.be/" target="_blank"><img src="{% static 'site/img/museumbelgique.png' %}" class="d-block img-fluid"></a>
						</div>
						<div class="col-xl-1 col-3 align-items-center">
							<a href="https://www.ut.ee/et" target="_blank"><img src="{% static 'site/img/tartuulikool.png' %}" class="d-block img-fluid"></a>
						</div>
						<div class="col-3 col-xl-1">
							<a href="https://www.mnhn.fr/" target="_blank"><img src="{% static 'site/img/MNHN-logo.jpg' %}" class="d-block img-fluid"></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="https://www.auth.gr/en" target="_blank"><img src="{% static 'site/img/thessaloniki_logo.png' %}" class="d-block img-fluid"></a>
						</div>
						<div class="col-6 col-xl-1">
							<a href="https://www.essrg.hu/en/" target="_blank"><img src="{% static 'site/img/essrg-logo.png' %}" class="d-block img-fluid"></a>
						</div>
						<div class="col-3 col-xl-1">
						<a href="https://www.fondazionegrossetocultura.it/index.php/museo/" target="_blank"><img src="{% static 'site/img/fgrc-logo.png' %}" class="d-block img-fluid"></a>
						</div>

						<div class="col-6 col-xl-2">
							<a href="https://ibercivis.es/" target="_blank"><img src="{% static 'site/img/Logo_Ibercivis_CMYK.png' %}" class="d-block img-fluid"></a>
						</div>
						<div class="col-6 col-xl-2">
							<a href="https://www.fecyt.es/" target="_blank"><img src="{% static 'site/img/ministerio-fecyt.png' %}" class="d-block img-fluid"></a>
						</div>
						<div class="col-3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-12 mt-4 mb-4">
			<h3>{% trans "Citizen Science" %}</h3>
		</div>
		<div class="col-sm-8 col-12 mt-4 mb-4">
			<p>{% trans "Citizen science actively involves the public in scientific research that generates new knowledge or understanding, and thus has the potential to bring together science, policy makers, and society as a whole in an impactful way. As a core dimension of Open Science, it opens up the opportunity for all members of society to take an active role in research, innovation and the development of evidence-based policy, at local, national and EU levels." %}</p>
			<p>{% trans "Citizen science is a flexible concept which can be adapted and applied within diverse situations and disciplines. In order to set out some of the key principles which we as a community believe underlie good practice in citizen science, the following" %} <b>{% trans "10 Principles of Citizen Science" %}</b> {% trans "were developed by the ‘Sharing best practice and building capacity’ working group of the" %} <b>{% trans "European Citizen Science Association" %}</b>, {% trans "led by the Natural History Museum London with input from many members of the Association." %}</p>
         </div>
	</div>
</div>
<div class="container-fluid bg-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4" id="ten">
				<h3>{% trans "Ten principles of citizen science" %}</h3>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				<ol>
					<li><b> {% trans "Citizen science projects actively involve citizens in scientific endeavour that generates new knowledge or understanding. Citizens may act as contributors, collaborators, or as project leader and have a meaningful role in the project." %}</b></li>
					<li><b>{% trans "Citizen science projects have a genuine science outcome." %} </b> {% trans "For example, answering a research question or informing conservation action, management decisions or environmental policy." %}</li>
					<li><b> {% trans "Both the professional scientists and the citizen scientists benefit from taking part." %}</b> {% trans "Benefits may include the publication of research outputs, learning opportunities, personal enjoyment, social benefits, satisfaction through contributing to scientific evidence e.g. to address local, national and international issues, and through that, the potential to influence policy." %}</li>
					<li><b>{% trans "Citizen scientists may, if they wish, participate in multiple stages of the scientific process." %}</b> {% trans "This may include developing the research question, designing the method, gathering and analysing data, and communicating the results." %}</li>
					<li><b>{% trans "Citizen scientists receive feedback from the project." %}</b> {% trans "For example, how their data are being used and what the research, policy or societal outcomes are." %}</b></li>
					<li><b> {% trans "Citizen science is considered a research approach like any other, with limitations and biases that should be considered and controlled for." %}</b> {% trans "However unlike traditional research approaches, citizen science provides opportunity for greater public engagement and democratisation of science." %}</li>
					<li><b> {% trans "Citizen science project data and meta-data are made publicly available and where possible, results are published in an open access format." %}</b>{% trans "Data sharing may occur during or after the project, unless there are security or privacy concerns that prevent this." %} </li>
					<li><b>  {% trans "Citizen scientists are acknowledged in project results and publications." %}</b></li>
					<li><b> {% trans "Citizen science programmes are evaluated for their scientific output, data quality, participant experience and wider societal or policy impact." %}</b></li>
					<li><b>{% trans "The leaders of citizen science projects take into consideration legal and ethical issues surrounding copyright, intellectual property, data sharing agreements, confidentiality, attribution, and the environmental impact of any activities." %}</b></li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock list_of_items %}

{% block scripts %}
<script>
	function loadTeaserVideo(){
		var code = $("#id_teaser").val();
		switch (code) {
			case "NL": $("#teaserIframe").attr("src", "https://www.youtube.com/embed/hPMN9LUo2x0"); break;
			case "EN": $("#teaserIframe").attr("src", "https://www.youtube.com/embed/jBfgV8LkYl8"); break;
			case "ET": $("#teaserIframe").attr("src", "https://www.youtube.com/embed/94wsDZDwU2A"); break;
			case "FR": $("#teaserIframe").attr("src", "https://www.youtube.com/embed/cTsiWL7kzjc"); break;
			case "DE": $("#teaserIframe").attr("src", "https://www.youtube.com/embed/E4Nl2qT3UVU"); break;
			case "EL": $("#teaserIframe").attr("src", "https://www.youtube.com/embed/sVAsKEzbOSg"); break;
			case "HU": $("#teaserIframe").attr("src", "https://www.youtube.com/embed/P4qvioSYLEk"); break;
			case "IT": $("#teaserIframe").attr("src", "https://www.youtube.com/embed/szQTUB4fzqs"); break;
			case "LT": $("#teaserIframe").attr("src", "https://www.youtube.com/embed/LPytoycYlio"); break;
			case "PT": $("#teaserIframe").attr("src", "https://www.youtube.com/embed/eJl0CyHVoF8"); break;
			case "ES": $("#teaserIframe").attr("src", "https://www.youtube.com/embed/6dF63l4sLRw"); break;
			case "SV": $("#teaserIframe").attr("src", "https://www.youtube.com/embed/h2qNh32QIfs"); break;
			default: $("#teaserIframe").attr("src", "https://www.youtube.com/embed/jBfgV8LkYl8");
		}

	}
</script>
{% endblock scripts %}
