<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load thumbnail %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% block description %}{% endblock description %}">
  <meta name="author" content="Arun Ravindran">
  <link rel="shortcut icon" href="{% static 'site/ico/favicon.ico' %}">

  <title>{% block title %}{% include "_brandname.html" %} :: {% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this site -->
  {% block styles %}
  <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
  {% endblock styles %}

  <!-- Template Shards -->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"-->
  <link rel="stylesheet" href="{% static 'bootstrap/css/grayscale.min.css' %}">
  <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0"
    href="{% static 'styles/shards-dashboards.1.1.0.css'%}">
  <link rel="stylesheet" href="{% static 'styles/extras.1.1.0.min.css' %}">
  <link rel="stylesheet" href="{% static 'site/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'styles/cropper.min.css' %}">

</head>

<body>

  {% block navbar %}

  <div id="navbar" class="navbar-collapse justify-content-between" role="navigation">

    <nav class="navbar navbar-light bg-light fixed-top navbar-expand-lg ">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'site/img/logo.png' %}" alt="logo">
          {% include "_brandname.html" %}
        </a>
        <ul class="navbar-nav ml-auto">
          {% block navbar-left %}
          {% endblock %}
        </ul>
      </div>

      <div class="dropdown-divider"></div>
      <ul class="navbar-nav">
        {% block navbar-right %}
        {% if not user.is_authenticated %}
        <li> <a class="navbar-brand" href="{% url 'accounts:login' %}" role="button">Log in</a> </li>
        <li><a class="navbar-brand" href="{% url 'accounts:signup' %}" role="button">Sign up</a></li>
        {% else %}

        {% if user.is_staff %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}

        <li class="dropdown">
          <a href="#" class="dropdown-toggle profile-menu" data-toggle="dropdown">
            <img src="{% thumbnail user.profile.picture|default:'default_profile.png' 30x30 crop %}" alt="" />
            {{ user.get_full_name|truncatechars:20 }}
          </a>

          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'profiles:show_self' %}">Profile</a></li>
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>

    </nav>
  </div>

  {% endblock %}

  </div>
  {% endblock navbar %}

  {% block messages %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    <a class="close" data-dismiss="alert">×</a>
    {{ message|safe }}
  </div>
  {% endfor %}
  {% endif %}
  {% endblock %}

  {% block splash %}
  {% endblock splash %}

  {% block container %}
  <div class="container">
  </div><!-- /.container -->
  {% endblock container %}

  <!-- Site footer -->
  {% block footer %}
  <!-- Some social button for contact will do -->
  <div class="container">
	  <div class="footer">
		  <div class="row">
			  <div class="col-lg-1"></div>
			  <div class="col-lg-5">
				  <p>&#127279; Company {% now 'Y' %}</p>
			  </div>
			  <div class="col-lg-5 text-right">
				  Connect with us on
				  <a href="https://www.facebook.com/EUCitSciProject/" target="_blank"><i class="fab fa-facebook"></i>
					  Facebook</a> or
				  <a href="https://twitter.com/eucitsci?lang=es" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
			  </div>
			  <div class="col-lg-1"></div>

		  </div>
	  </div>
  </div>
  {% endblock %}

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.js"
    integrity="sha256-7BfFV/dSvQT4pGBvRAIt6JDXsehb92DQqpGUndLCPQ4=" crossorigin="anonymous"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'scripts/cropper.min.js' %}"></script>
  <script src="{% static 'scripts/jquery-cropper.min.js' %}"></script>
  {% block scripts %}
  {% endblock scripts %}
</body>

</html>
