<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}
{% load leaflet_tags %}
{% load cookielaw_tags %}
{% load countries %}
{% load active_link_tags %}

{% get_countries as countries %}
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="shortcut icon" href="{% static 'site/ico/favicon.png' %}">
  <title>
    {% block title %}
    EU-Citizen.Science
    {% endblock title%}
  </title>
  <!-- Google Fonts Roboto -->
  <!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"-->
  <link rel="stylesheet" href="{% static 'site/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'site/css/style_21_07_2020.css' %}">
  <!--link rel="stylesheet" href="{% static 'styles/extras.1.1.0.min.css' %}"-->
  <link rel="stylesheet" href="{% static 'cookielaw/css/cookielaw.css' %}">
  {% endblock head %}
</head>
<body>
  <header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-md navbar-dark navbar-front text-white text-weight-bold fixed-top b-0 pt-0 pb-0">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{% static 'site/img/icon.png' %}" width="30" height="30" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>

        <!--div class="ribbon ribbon-top-left">
        <span>
        <a style="text-decoration:none;color:white"
        href="https://eu-citizen.science/blog/2020/04/03/welcome-alpha-release-eu-citizenscience-platform/">ALPHA-2</a>
      </span>
    </div-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if request.get_full_path != "/" %}
      <form class="mx-auto my-auto d-inline w-100" id="searchTop" action="
      {% if 'all' in request.get_full_path %}
      /all
      {% elif 'training_resources' in request.get_full_path %}
      /training_resources
      {% elif 'resources' in request.get_full_path %}
      /resources
      {% elif 'organisations' in request.get_full_path %}
      /organisations
      {% else %}
      /projects
      {% endif %}"
      >

      <div class="input-group pr-2">
        <div class="input-group-prepend">
          <div class="input-group-text inhead clickable "><i class="fas fa-search"></i></div>
        </div>
        <input  type="text" id="keywords" name="keywords"  autocomplete="off"
        value="{{filters.keywords}}" class="basicAutoComplete form-control inhead"
        placeholder="Search..."
        {% if 'all' in request.get_full_path %}
        data-url="../home_autocomplete/">
        {% elif 'resources' in request.get_full_path %}
        data-url="../resources_autocomplete">
        {% elif 'organisations' in request.get_full_path %}
        data-url="../organisations_autocomplete">
        {% else %}
        data-url="../text_autocomplete/">
        {% endif %}
        <div class="input-group-append">
          <div class="input-group-text inhead clickable" id="backsign"></div>
        </div>
      </div>

    </form>
    {% else %}
    <div class="navbar-brand">EU-CITIZEN.SCIENCE</div>
    {% endif%}


    <ul class="navbar-nav ml-auto">
      {% block navbar-left %}
      {% endblock navbar-left %}
      <li class="nav-item"><a class="nav-link main {% active_link  'blog' %}" href="{% url 'blog' %}">BLOG</a></li>
      <li class="nav-item"><a class="nav-link main {% active_link  'events' %}" href="{% url 'events' %}">EVENTS</a></li>
      <li class="nav-item"><a class="nav-link main" href="/forum">FORUM</a></li>
      {% if not user.is_authenticated %}
      <li class="nav-item"><a class="nav-link main" href="{% url 'accounts:login' %}">LOGIN</a></li>
      <li class="nav-item"><a class="nav-link main" href="{% url 'accounts:signup' %}">SIGNUP</a></li>

      {% else %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" href="#"></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'profiles:show_self' %}">My Profile</a>
          <a class="dropdown-item" href="{% url 'profiles:self_projects' %}">Submitted projects</a>
          <a class="dropdown-item" href="{% url 'profiles:self_resources' %}">Submitted resources</a>
          <a class="dropdown-item" href="{% url 'profiles:followed_projects' %}">Followed projects</a>
          <a class="dropdown-item" href="{% url 'profiles:saved_resources' %}">Resources library</a>

          {% if user.is_staff %}
          <a  class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
          <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
          {% endif %}
        </div>
      </li>
      {% endif %}
    </ul>

    <button data-toggle="modal" data-target="#modalinfo" class="btn btn-green mysubmit redbackground"
    type="submit"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;ADD&nbsp;&nbsp;</button>
  </div>
</div>
</nav>
<!--/.Navbar-->
</header>

<main class="flex-fill">
  {% include "modalinfo.html" %}
  {% block splash %}

  {% endblock splash %}
  <div class="container">
    <div class="row col-12 m-0 p-0">
      {% block searchbar %}
      {% endblock searchbar %}
    </div>
  </div>
  <div class="fluid-container whitebackground">
    <div class="container">
      {% include "_subnavbar.html"  %}
    </div>
  </div>

  <div class="container">
    <div class="row mt-4">
      <div class="col-12">
        {% block page_header %}
        {% endblock page_header %}
      </div>
    </div>
  </div>

  {% block list_of_items %}
  {% endblock list_of_items %}

</main>
{% cookielaw_banner %}
{% block footer %}
{% include "_footer.html" %}
{% endblock footer %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link href="/static/reviews/css/star-rating.css" type="text/css" media="all" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/cropper.min.css' %}">
<script type="text/javascript" src="{% static 'site/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/lazysizes.min.js' %}"></script>
<script src="{% static 'scripts/cropper.min.js' %}"></script>
<script src="{% static 'scripts/jquery-cropper.min.js' %}"></script>
<script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-139349847-1' , 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
<script>
$(".navbar-toggler-icon").click(function () {
  if($(".ribbon-top-left").is(":visible")){
    $(".ribbon-top-left").hide();
  }else{
    $(".ribbon-top-left").show();
  }
});

$('#mysearch').click(function(){
  $('#finder').submit();
});
$('#backsign').click(function(){
  $('#keywords').val('');
  $('#backsign').html('')
});

$('.basicAutoComplete').keyup(function(){
  if(($(".basicAutoComplete").val().length)>0){
    $('#backsign').html('<i class="fas fa-backspace"></i>')
  }else{
    $('#backsign').html('')
  }
});
</script>
{% block scripts %}
{% endblock scripts %}

</body>
</html>
