{% extends "base_r2.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ block.super }} :: Criteria{% endblock %}


{% block splash %}
<div class="jumbotron jumbotron-fluid jumbotron-default">
	<div class="container">
		<h1 class="display-4 text-white pt-4 pb-4">{% trans "Quality criteria" %}</h1>

	</div>
</div>
{% endblock splash %}
{% block navbar-left %}
{% include "_navbar.html"  %}
{% endblock %}


{% block list_of_items %}
<div class="container">
	<div class="row">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<h3>The quality criteria for resources </h3>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				Our ambitious goal is to become the place to share useful resources about
				planning and running citizen science initiatives, including tools and guidelines,
				best practices and training modules. We hope to make practical citizen science project
				guidance findable and accessible to all, and enable people to initiate their own
				activities wherever they are. It is therefore very important to us, and the community of
				practitioners, that we have a way of ensuring that the resources shared and profiled on the
				platform are indeed of good quality, and valuable to the community.<br/><br/>
				<b>What are citizen science resources?</b> They are resources and practices that could be
				used for help and support in the context of citizen science - they can help individuals,
				projects or organizations to understand, plan, implement and evaluate citizen science and
				citizen science practices, and demonstrate the value of citizen science to different audiences.
				Resources can include documents such as how-to guides, publications, reports, policy briefs,
				and protocols; technical tools such as software or hardware; other file formats such as videos,
				podcasts, and diagrams; and even websites or webpages.<br/><br/>
				<b>What are good-quality citizen  science  resources?</b> They are resources that are easy to access,
				implement and adapt; well structured; clearly described; written with a clear language and
				ideally have an impact (e.g., on science, policy or society, etc.); and therefore useful
				to the citizen science community and beyond.<br/><br/>
				We have developed the following set of required and suggested quality criteria as a way
				of ensuring that the resources that you can find on this platform are indeed of good quality.
				You can read more about how we developed these in the blog post ‘How we developed the quality
				criteria for resources’.<br/><br/>
				When you are creating a profile for a resource to share on the platform, please ensure that it
				meets all of the mandatory criteria, and as many of the suggested criteria as possible.<br/><br/>

			</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid whitebackground">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<h3>The overarching criteria</h3>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				<h4>Required criteria for all resources</h4>
				<b>1. The resource must be about citizen science or relevant to citizen science</b><br/><br/>
				Although there are no hard and fast definitions of what citizen science is and is not
				(nor should there be - citizen science should always remain a broad and inclusive concept),
				we can turn to the recent work conducted by the citizen science practitioner community on
				the <a target="_blank" href="https://zenodo.org/communities/citscicharacteristics/?page=1&size=20">Characteristics of Citizen Science</a> as guidance. If you are uncertain whether the
				resource you would like to share really does relate to citizen science, please consult <a target="_blank" href="https://zenodo.org/communities/citscicharacteristics/?page=1&size=20">these Characteristics</a>.<br/><br/>
				<b>2. The mandatory information fields in the resource profile must all be completed. </b><br/><br/>
				The purpose of this requirement is to ensure that all resources have sufficient information provided about them to
				enable users of the platform to see whether it is useful or relevant to them. It will not be possible to
				submit your profile without this information. The mandatory data fields are:<br/><br/>
				<ul>
					<li>Title of the Resource</li>
					<li>URL</li>
					<li>Abstract</li>
					<li>Resource category (i.e. guideline, tool, training resource, etc)</li>
					<li>Resource audience</li>
					<li>Keywords</li>
					<li>Author (or project, or leading institution)</li>
					<li>Language</li>
					<li>Theme (i.e. engagement, communication, data quality, etc)</li>
				</ul>
				<h4>Suggested criteria for all resources</h4>
				<b>3.The resource engages with the 10 principles of citizen science</b><br/><br/>
				A great source of guidance on what can determine the quality of a resource are the
				<a href="/about#ten">10 Principles of Citizen Science,</a> but we recognise that it is not possible to treat those
				as a checklist of requirements to meet, as sometimes they simply won’t apply.
				We therefore ask that you ensure that the resource you are sharing does
				reasonably ‘engage’ or ‘align’ with the 10 Principles, and is in keeping with the ethos of the Principles.
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-12 mt-4 mb-4">
			<h3>Specific criteria</h3>
		</div>
		<div class="col-sm-8 col-12 mt-4 mb-4">
			We consider good quality citizen science resources to be those that are easy to access,
			implement and adapt, are well structured, are clearly described and written in clear language,
			and ideally improve or support the desired impact of the initiative (eg. on science, policy or society, etc).<br/><br/>

			When submitting a resource please ensure that it meets as many of these criteria as possible:<br/><br/>
			<ul>
				<li><b>Easy access to the resource:</b>the resource should be easy to access, i.e. it doesn’t require registration, and is not behind a paywall. </li>
				<li><b>Readability and Legibility:</b></li>
				<ul>
					<li>
						the resource should be <b>clearly structured</b> according to the type of the resource. For example, a scientific paper or report should include an introduction, methodology,
						results, discussion and/or conclusions, and methodology documents should include an introduction, audience description, step by step methodology, and an example.
					</li>
					<li>
						the resource should be written in <b>clear language</b> that is easy to read and understand for the intended target audience, and should be concise, unambiguous,
						and avoid the use of unusual words and jargon. Where technical terms are used, their meaning should be explained clearly.
					</li>
					<li>
						the resource should pay attention to <b>basic formatting</b>, such as clear titles and paragraphs,
						correct grammar and spelling, a legible font of large enough size to read, and clearly marked references.
					</li>
				</ul>
				<li>
					<b>Clarity of Content:</b> the resource should clearly describe its aims, goals and methods, so that it is easy for
					readers to understand how to apply the resource in their own context.
				</li>
				<li><b>Applicability</b></li>
				<ul>
					<li>
						the resource should be <b>easy to implement,</b> ideally with descriptions of how it can be implemented,
						the contexts that it is useful for, and recommendations for further use or development.
					</li>
					<li>
						the resource should be <b>easy to adapt</b> to different cases, ideally with an explanation
						of any limitations of the resource and the contexto in which it could be useful, and with
						guidelines or recommendations for its adaptation to different cases.
					</li>
				</ul>
				<li><b>Object Quality:</b></li>
				<ul>
					<li>If the resource is an audio object, it should be <b>clearly audible</b>, with no interruptions or background noise.</li>
					<li>If the resource is a video, an image or illustration, the quality should be good enough to <b>see clearly, with a sharp focus</b>.</li>

				</ul>

			</ul>
			When you submit a resource profile to the platform, a moderator from the EU-Citizen.Science team will check the relevant aspects of your resource
			against those criteria, to ensure that the majority of these criteria have been met. Until these have been checked, it will be marked as ‘not yet moderated’
			on the platform, and will not automatically be visible in search results.

		</div>
	</div>
</div>
<div class="container-fluid whitebackground">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<h2>Supporting criteria</h2>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				It really enhances the value and quality of your resources when you can say something about how it has been
				used and developed further in practice, and whether or not it has been evaluated for usefulness and
				applicability in practice. The moderator will also take it into positive consideration if there is evidence
				of the following criteria being met (but these are not part of the threshold calculation mentioned above):<br/><br/>
				<ul>
					<li><b>Evaluation:</b></li>
					<ul>
						<li>
							The resource has been <b>used in the context of citizen science,</b>
							or is currently being used in a citizen science initiative,  and the outcome of this has been shared.
						</li>
						<li>
							The resource has been <b>evaluated</b> in terms of the quality of the content, or the methods,
							or the results of the method, and the outcomes of these evaluations have been shared.
						</li>
					</ul>
					<li><b>Impact</b></li>
					<ul>
						<li>The resource refers to any <b>impact</b> that it could have (or has had) on science, policy,  society, etc.</li>
						<li>The impact of the resource has been <b>measured</b> and is shared in the resource.</li>
					</ul>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock list_of_items %}
