{% extends "base_r2.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}:: Our Selection{% endblock %}
{% block splash %}

<!--div class="jumbotron jumbotron-fluid jumbotron-lists mb-0">
	<div class="container">
		<h1 class="display-4 pb-0 pt-0 text-white"><br>Our selection</h1>
		<p class="lead text-light">A selection of Gold Star citizen science resources made by the EU-Citizen.Science consortium</p>
	</div>
</div-->

{% endblock splash %}
{% block navbar-left %}
{% include "_navbar.html" with active_link="curated" %}
{% endblock %}
{% block page_title %}
Curated Resources
{% endblock page_title %}
{% block list_of_items %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<b>The EU-Citizen.Science consortium has made a selection of Gold Star citizen science resources</b>
			to help you get started with designing and launching your own citizen science project, categorised across the project lifecycle.
		</div>
	</div>
</div>
{% for group in groups %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<hr/>
		</div>
		<div class="col-lg-12 mt-3">
			<h2>{{group.name}}</h2>
		</div>
	</div>

	<div class="row">
		{% for rg in resourcesgrouped %}
		{% if rg.group == group %}

		<div class="col-lg-4 col-md-12 mb-4">
			<div class="card h-100 shadow">
				<a class="card-img-wrap" href="/resource/{{rg.resource.id}}">
					{% if rg.resource.image1 %}
					<img class="img-fluid img-zoom" src="{{ rg.resource.image1 }}" />
					{% else %}
					<img class="img-fluid img-zoom" src="{% static 'site/img/proct.png' %}" />
					{% endif %}
				</a>
				<div class="upper">
					{% get_language_info_list for LANGUAGES as languages %}
					{% for language in languages %}
					{% if language.code == rg.resource.inLanguage %}
					<a class="badge frontpage" href="/resources?language={{rsc.inLanguage}}">{{language.name_local | upper}}</a>
					{% endif %}
					{% endfor %}
				</div>
				<div class="card-body">
					<h6 class="card-title mt-3 mb-3"><a class="card-link card-link-resource" href="/resource/{{rg.resource.id}}" class="card-link">{{ rg.resource.name | truncatewords:12 }}</a></h6>
					<div class="card-text mt-3">{{rg.resource.abstract | safe | truncatewords:30 }}
						<a class="" href="/resource/{{rg.resource.id}}" target="_blank">Read more</a>
					</div>
					<a class="badge badge-dark" href="/resources?category={{rsc.category.id}}">{{ rg.resource.category | upper }}</a><br>
					{% for theme in rg.resource.theme.all %}<a class="badge badge-light" href="/resources?theme={{theme.id}}">{{ theme | upper}}</a> {% endfor %}<br>
					{% for keyword in rg.resource.keywords.all %} <a class="badge  badge-light" href="/resources?keywords={{keyword}}">{{keyword | upper}}</a>  {% endfor %}
				</div><!-- end of card-body -->
				<div class="card-footer bg-white">
					<div class="row">
						<div class="col-6">
						</div>
						<div class="col-6">
							{% if user.is_authenticated %}
							<div id="saved{{rsc.id}}">
								{% if rg.resource.id in savedResources %}
								<button type="button" class="btn btn-outline-primary float-right mt-2" onclick="setSavedResource({{rg.resource.id}},{{user.id}}, false)">In my library</button>
								{% else %}
								<button type="button" class="btn btn-outline-secondary float-right mt-2" onclick="setSavedResource({{rg.resource.id}},{{user.id}}, true)">To my library</button>
								{% endif %}
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>

{% endfor %}
{% endblock list_of_items %}
{% block scripts %}
<script>
	$(document).ready(function() {
		$( ".card" ).hover(
		function() {
			$(this).addClass('shadow-none').css('cursor', 'pointer');
		}, function() {
			$(this).removeClass('shadow-none');
		});
	});
</script>
{% endblock scripts %}
