{% extends "base_r2.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}:: Our Selection{% endblock %}
{% block list_of_items %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
            <h1>{% trans "gold star <span class='lightBlue-color'> selection</span>" %}</div>
        </div>
        <div class="col-12 small">
			<b>{% trans "The EU-Citizen.Science consortium has curated a selection of Gold Star citizen science resources" %}</b>
			{% trans "to help you get started with designing and launching your own citizen science project or simply learn about citizen science, categorised across the project lifecycle." %}
    {% include "_subnavbar.html" %}
		</div>
	</div>
</div>
{% for group in groups %}
<div class="container">
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-lg-12 mt-5">
            <h2>{{group.name}}</h2>
        </div>
    </div>

    <!-- TODO: Endpoint is not working here -->
	<div class="row">
		{% for rg in resourcesgrouped %}
		{% if rg.group == group %}
        {% include 'resource_card_one.html' with resource=rg.resource %}
		{% endif %}
		{% endfor %}
	</div>
</div>

{% endfor %}
{% endblock list_of_items %}
