{% extends "base_r2.html" %}
{% load i18n %}


{% block title %}{{ block.super }} :: Development{% endblock %}

{% block splash %}
<div class="jumbotron jumbotron-fluid jumbotron-default">
  <div class="container">
    <h1 class="display-4 pt-4 pb-4 text-white">{% trans "Development" %}</h1>
  </div>
</div>
{% endblock splash %}

{% block navbar-left %}
{% include "_navbar.html" %}
{% endblock %}


{% block list_of_items %}

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-12 mt-4 mb-4">
      <h2>Participation in the development</h2>
    </div>
    <div class="col-sm-8 col-12 mt-4 mb-4">
      <h5>Code of conduct</h5>
      This project adheres to the Contributor Covenant <a href="#covenant">code of conduct</a> (see bellow). By participating, you are expected
      to uphold this code. Please report unacceptable behaviour to the <a href="development@eu-citizen.science">Project Maintainers</a>.
      <br><br><h5>How can I contribute</h5>
      <h6><u>Reporting Bugs</u></h6>
      Bugs are tracked as <a href="">Github issues</a>. Please create an issue in the repository and tag it with the Bug tag.<br><br>
      Bugs are tracked as Github issues. Please create an issue in the repository and tag it with the Bug tag.<br>
      <ul>
        <li>Use a clear and descriptive title for the issue to identify the problem.</li>
        <li>Describe the exact steps which reproduce the problem in as many details as possible.</li>
        <li>Provide specific examples to demonstrate the steps. Include links to files or GitHub projects, or copy/pasteable snippets, which you use in those examples.</li>
        <li>Describe the behavior you observed after following the steps and point out what exactly the problem is with that behaviour.</li>
        <li>Explain which behaviour you expected to see instead and why.</li>
        <li>Include screenshots and animated GIFs which show you following the described steps and clearly demonstrate the problem.</li>
      </ul>
      <h6><u>Pull Requests</u></h6>
      The source code of the project is stored in this <a href="https://github.com/Ibercivis/EU-CS_platform">GitHub Repository</a>
      under license <a href="https://github.com/Ibercivis/EU-CS_platform/blob/master/LICENSE">EUPL 1.2</a>. To perform a pull request:
      <ul>
        <li>Include screenshots and animated GIFs in your pull request whenever possible.</li>
        <li>Follow the <a href="https://www.python.org/dev/peps/pep-0008/">PEP8 Python Style Guide.</a></li>
        <li>Avoid platform-dependent code</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-12 mb-4 mt-4" id="covenant">
        <h2>Contributor Covenant Code of Conduct</h2>
      </div>
      <div class="col-sm-8 col-12 mb-4 mt-4">
        <h5>Our Pledge</h5>
        <p>
          In the interest of fostering an open and welcoming environment, we as
          contributors and maintainers pledge to making participation in our project and
          our community a harassment-free experience for everyone, regardless of age, body
          size, disability, ethnicity, gender identity and expression, level of experience,
          nationality, personal appearance, race, religion, or sexual identity and
          orientation.
        </p>
        <h5>Our Standards</h5>
        <p>Examples of behaviour that contribute to creating a positive environment include:</p>
        <ul>
          <li>Using welcoming and inclusive language</li>
          <li>Being respectful of differing viewpoints and experiences</li>
          <li>Gracefully accepting constructive criticism</li>
          <li>Focusing on what is best for the community</li>
          <li>Showing empathy towards other community members</li>
        </ul>
        <p>Examples of unacceptable behaviour by participants include:</p>
        <ul>
          <li>The use of sexualized language or imagery and unwelcome sexual attention or advances</li>
          <li>Trolling, insulting/derogatory comments, and personal or political attacks</li>
          <li>Public or private harassment</li>
          <li>Publishing others' private information, such as a physical or electronic
            address, without explicit permission
          </li>
          <li>Other conduct which could reasonably be considered inappropriate in a professional setting</li>
        </ul>
        <h5>Our Responsibilities</h5>
        <p>Project maintainers are responsible for clarifying the standards of acceptable behaviour and are expected to take appropriate and fair corrective action
          in response to any instances of unacceptable behaviour.</p>
        <p>
          Project maintainers have the right and responsibility to remove, edit, or
          reject comments, commits, code, wiki edits, issues, and other contributions
          that are not aligned to this Code of Conduct, or to ban temporarily or
          permanently any contributor for other behaviours that they deem inappropriate,
          threatening, offensive, or harmful.
        </p>
        <h5>Scope</h5>
        <p>
          This Code of Conduct applies both within project spaces and in public spaces
          when an individual is representing the project or its community. Examples of
          representing a project or community include using an official project e-mail
          address, posting via an official social media account, or acting as an appointed
          representative at an online or offline event. Representation of a project may be
          further defined and clarified by project maintainers.
        </p>
        <h5>Enforcement</h5>
        <p>
          Instances of abusive, harassing, or otherwise unacceptable behaviour may be
          reported by contacting the project team at <code>development at eu-citizen.science dot com</code>. All
          complaints will be reviewed and investigated and will result in a response that
          is deemed necessary and appropriate to the circumstances. The project team is
          obligated to maintain confidentiality with regard to the reporter of an incident.
          Further details of specific enforcement policies may be posted separately.
        </p>
        <p>
          Project maintainers who do not follow or enforce the Code of Conduct in good
          faith may face temporary or permanent repercussions as determined by other
          members of the project's leadership.
        </p>
        <h5>Attribution</h5>
        <p>
          This Code of Conduct is adapted from the <a href="http://contributor-covenant.org" rel="nofollow">Contributor Covenant</a>, version 1.4,
          available at <a href="http://contributor-covenant.org/version/1/4/" rel="nofollow">http://contributor-covenant.org/version/1/4</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
