{% extends "base2.html" %}

{% load staticfiles %}
{% block title %}{{ block.super }} :: Events{% endblock %}


{% block splash %}
<div class="jumbotron jumbotron-fluid jumbotron-events">
	<div class="container">
		<h1 class="display-4 pb-0 pt-0 text-white"><br>Events</h1>
		<p class="lead text-light">Upcoming events related to citizen science</p>
	</div>
</div>
{% endblock splash %}
{% block navbar-left %}
{% include "_navbar.html" with active_link="events" %}
{% endblock %}


{% block list_of_items %}
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-12 mt-4 mb-4">
			<h3>ECSA Conference 2020<br/> September 6-8, 2020</h3>
		</div>
		<div class="col-sm-8 col-12 mt-4 mb-4">
			Due to the ongoing COVID-19 (coronavirus) pandemic in Europe, we have regrettably
			decided to postpone the third international ECSA conference until 6-8 September 2020.
			We sincerely hope that the situation for everyone, in Europe and beyond,
			will have returned to normal long before then, and that people will be
			able to meet and travel as normal. The conference organisers will follow the
			situation extremely closely and follow all advice and regulations from the Italian government.
			The health and safety of everyone - conference delegates, organising staff and the citizens of Trieste -
			will remain our primary concern. A further update about whether we go ahead with the conference
			will be made on 1 June 2020, to give everyone enough time to prepare accordingly.<br/><br/>

			<b>Registration</b> for the conference remains open. If you have already registered
			and paid, then this is of course still valid for the rescheduled event. Should the
			rescheduled conference need to be postponed again, or cancelled, then you are entitled to a refund of the registration fees.
			If you have already registered and paid, but will not be able to participate in September,
			registration fees will be refunded. You can ask for a total refund until 15 June 2020 by writing to
			ecsa2020 [at] medialab.sissa.it.
			The early bird deadline for registration has been extended to 15 June.
			We will review this at the beginning of June, in light of how the situation has developed.
		</div>
	</div>
</div>
{% endblock list_of_items %}
