{% extends "base2.html" %}

{% load staticfiles %}
{% block title %}{{ block.super }}Events{% endblock %}


{% block splash %}
<div class="jumbotron jumbotron-fluid jumbotron-events">
	<div class="container">
		<h1 class="display-5"><br>Events</h1>
		<p class="lead text-light">Have a look to the next citizen science events</p>
	</div>
</div>
{% endblock splash %}
{% block navbar-left %}
{% include "_navbar.html" with active_link="events" %}
{% endblock %}


{% block list_of_items %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<h3>Events</h3>
			<p class="lead">Share, initiate and learn - citizen science in Europe</p>
		</div>
		<div class="col-12">
			<p>Do you want to find out more about EU-Citizen.Science? We will be presenting the platform at several events in
				the coming months, both project-run events and external events. </p>
			</div>
			<div class="col-12">
				<p><b>2020</b></p>
				<p><a href="https://www.ecsa-conference.eu/" target="_blank"> ECSA 2020 conference</a></p>
				<p><i>May 24-26, Trieste; external event</i></p>
				<p>
					EU-Citizen.Science will be presenting during several sessions at the third international ECSA conference.
				</p>
			</div>
			<div class="col-12">
				<p><b>2021</b></p>

				<p><a href="https://www.ecsite.eu/conference" target="_blank"> Ecsite annual conference</a></p>

				<p><i>Dates and location to be confirmed; EU-Citizen.Science event</i></p>

				<p>
					The platform will hold a pre-conference workshop at Ecsite’s annual conference in 2021, which will be focused on science centres that haven’t yet worked with citizen science.
				</p>

			</div>
		</div>
	</div>
	{% endblock list_of_items %}
