{% extends "base_r2.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ block.super }} :: {% trans "About" %}{% endblock %}

{% block list_of_items %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1 class="mt-5 mb-5">
                {% trans "frequently <span class='lightBlue-color'>asked questions</span>" %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-12"></div>
        <div class="col-sm-8 col-11">
            <div class="row">
                <div class="col-12">
                    <h3>{% trans "What is Citizen Science?"%}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "Citizen science actively involves the public in scientific research that generates new knowledge or understanding, and thus has the potential to bring together science, policy makers, and society as a whole in an impactful way. As a core dimension of Open Science, it opens up the opportunity for all members of society to take an active role in research, innovation and the development of evidence-based policy, at local, national and EU levels. Citizen scientists can participate in many stages of the scientific process, from data collection and volunteer mapping, through data interpretation and analysis, to publication and dissemination of results." %}</div>
                    <div class="small mb-2">{% trans "Citizen science is a flexible concept which can be adapted and applied within diverse situations and disciplines, and represents a range of approaches and historical practices for public participation in scientific research. As a result, there are a wide range of activities that can fall under the umbrella of citizen science, as can be seen in the ECSA Characteristics of Citizen Science. A good source of guidance when planning a citizen science initiative is the ECSA 10 Principles of Citizen Science. They have been translated to 30 languages by the citizen science community!" %}</div>
                </div>
            </div><!-- End of What is Citizen Sience section -->

            <div class="row">
                <div class="col-12">
                    <h3>{% trans "Who is the EU-Citizen.Science Knowledge Hub for?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "Our community is open to anyone interested in citizen science - our vision for the platform is to encourage the democratization of science via the wide establishment and appreciation of citizen science approaches across Europe." %}</div>

                    <div class="small mb-2">{% trans "We hope to become the central reference point for anyone setting up or running a citizen science project (practitioners, researchers, educators, communities and citizens), anyone supporting the ecosystem of citizen science projects (policy makers and funding bodies), and anyone interested in the outcomes and impact of citizen science (decision makers, the press, and society as a whole). It doesn’t matter if you have years of experience or are completely new to citizen science." %}</div>
                </div>
            </div><!-- End of Who is  section -->

            <div class="row">
                <div class="col-12">
                    <h3>{% trans "What are the features of the EU-Citizen.Science platform?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "On the platform you can browse and search for resources that are useful for planning and running citizen science projects, training resources and materials about the practice of citizen science, and citizen science projects to learn from the experience of others and collaborate. There is a section with training modules or MOOCS on citizen science from introduction to citizen science over research design and methods to engagement, impact and communication. There are also an events calendar and a blog, profiles of organisations and platforms involved in citizen science projects and research, community forums for questions and conversations with the community." %}</div>
                </div>
            </div><!-- End of template section -->

            <div class="row">
                <div class="col-12">
                    <h3>{% trans "Why should I sign-up to become a member of the community?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "A range of additional features become available to you when you sign-up to be a member of the community. You will be able to share your own projects and resources with the community, profile your organisation and link that profile with the projects you are involved in, and leave feedback or information about your own experience using the materials on the platform. When viewing a project profile, you can follow it, or when viewing a resource profile you can bookmark it to find them quickly again from your Personal Area. You will also be able to join the discussions in the Forum." %}</div>
                </div>
            </div><!-- End of template section -->

            <div class="row">
                <div class="col-12">
                    <h3>{% trans "Are the resources hosted on the EU-Citizen.Science platform?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "No, we don’t host any documents, files, or software on our platform. When a profile is created for a resource, it points to the location where that resource is stored or published, and project profiles point to the external website of that project. We strongly recommend the use of permanent repositories (such as the publisher’s page, Zenodo, OSF or the RIO Journal) to create permalinks and digital object identifiers (DOI) for all resources." %}</div>
                </div>
            </div><!-- End of template section -->

            <div class="row">
                <div class="col-12">
                    <h3>{% trans "I can’t find the type of resource that I’m looking for, can you help?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "While there are a lot of resources on the platform, we don’t host a database of all possibly existing materials on citizen science. Maybe what you are looking for does not exist yet. Please send us a message via the contact form and we will do our best to help you find it, or initiate the creation of it!" %}</div>
                </div>
            </div><!-- End of template section -->

            <div class="row">
                <div class="col-12">
                    <h3>{% trans "Can I add a project or resource of my own?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "Yes, we actively encourage all members of the community to create a profile for their organisations, citizen science projects and resources on the platform. To create a profile, you will first need to sign up and log in to the platform and then select the appropriate form via the +Add button in the top right-hand corner." %}</div>
                    <div class="small mb-2">{% trans "Please note that we moderate all submissions (What is the moderation process?) to ensure that all resources are of good quality (What are the quality criteria?), and that all projects are indeed citizen science initiatives (What is citizen science?). Please note that resources are not uploaded to the platform, rather they are linked to from within the profile that you create." %}</div>
                </div>
            </div><!-- End of template section -->

            <div class="row">
                <div class="col-12">
                    <h3>{% trans "What types of resources can I submit?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "Resources should be related to citizen science, and useful for understanding, planning, implementing and evaluating citizen science and citizen science practices, or otherwise of value to citizen science practitioners. Resources can include documents such as how-to guides, publications, reports, policy briefs, and protocols; technical tools such as software or hardware; other file formats such as videos, podcasts, and diagrams; and even websites or webpages. Please note that there is a separate form for training resources and materials that are about the practice of citizen science. All resources should meet a range of quality criteria such as being clearly structured, easy to read (or hear, or view), and easy to understand. For guidance, read our quality criteria." %}</div>
                </div>
            </div><!-- End of template section -->

            <div class="row">
                <div class="col-12">
                    <h3>{% trans "What types of projects can I submit?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "The projects profiled must involve participants in a way that can genuinely be considered citizen science. For guidance, please refer to ECSA's Characteristics of Citizen Science. The projects can be short-term or long-term initiatives or projects without an end date. Citizen science projects can involve voluntary participants (citizen scientists) in many fields of research and in many stages of the research process - from data collection and volunteer mapping, through data interpretation and analysis, to publication and dissemination of results. Additionally, projects profiled on the platform should engage as much as possible with the ECSA 10 Principles of Citizen Science." %}</div>
                </div>
            </div><!-- End of template section -->

            <div class="row">
                <div class="col-12">
                    <h3>{% trans "How do I add a project or resource?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "Once you have signed up and are logged in, look for the +Add button in the top right-hand corner of the website. There you can select the profile form that you wish to complete. We recommend that you first create a profile for your organisation, so that it can be linked to your projects and resources. In this form you will be asked to provide descriptive information in a number of mandatory and optional data fields. This information will be used for creating the public profile of the project or resource on our platform. Please note that resources are not uploaded to the platform, rather they are linked to from within the profile that you create." %}</div>

                    <div class="small mb-2">{% trans "Please note that you will be required to describe the citizen science aspects of your project, and the way in which your resource relates to the practice of citizen science. When saved, the profile will be submitted to a member of the EU-Citizen.Science team for moderation. Once that process is complete, the profile will be marked as ‘Moderated’, and will be fully available on the platform." %}</div>

                </div>
            </div><!-- End of template section -->

            <div class="row">
                <div class="col-12">
                    <h3>{% trans "How does moderation work?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "When a profile is saved, it will be submitted for moderation to the platform moderator, and marked as ‘not yet moderated’ on the platform. The first criterion that the moderator will look for, is that you have described the citizen science aspects of your project, or described the way in which your resource is relevant to citizen science. Guidance for this can be found in ECSA's Characteristics of Citizen Science developed by the citizen science community. The moderator will also consider whether your resource or project is in alignment with the ECSA 10 Principles of Citizen Science." %}</div>

                    <div class="small mb-2">{% trans "Resources will be assessed further against a range of specific criteria to ensure that they are easy to access, implement and adapt, well structured, clearly described and written in clear language, and ideally improve or support the desired impact of the initiative (e.g. on science, policy or society, etc.). You can read the full list of quality criteria." %}</div>
                </div>
            </div><!-- End of template section -->

            <div class="row">
                <div class="col-12">
                    <h3>{% trans "What are the quality criteria for resources?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "After completing all mandatory metadata fields in the profile, and ensuring that the resource is relevant to citizen science initiatives, the resource will be assessed against a set of specific criteria developed to ensure that all resources profiled on the platform are of good quality. We consider good quality citizen science resources to be those that are easy to access, implement and adapt, well structured, clearly described and written in clear language, and ideally improve or support the desired impact of the initiative (e.g. on science, policy or society, etc.). It also enhances the value and quality of your resource when you can say something about how it has been used and developed further in practice, and whether or not it has been evaluated for usefulness, applicability, and impact. You can read the full list of quality criteria." %}</div>
                </div>
            </div><!-- End of template section -->
            <div class="row">
                <div class="col-12">
                    <h3>{% trans "What are the quality criteria for projects?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "The same overarching criteria are applied to both projects and resources. You are required to provide descriptive information in a number of data fields in the project profile, some of which are mandatory, before it can be submitted for moderation. One of these mandatory fields is a description of the citizen science aspects of the project. Guidance for this can be found in ECSA's Characteristics of Citizen Science. A further suggested overarching criteria for projects is that they be in alignment with the ECSA 10 Principles of Citizen Science." %}</div>
                </div>
            </div><!-- End of template section -->

            <div class="row">
                <div class="col-12">
                    <h3>{% trans "Can I edit a profile after I have saved it?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "Yes, you can edit and update the profiles of the projects, resources, and organisations that you have shared, both before and after they have been moderated. You can find these profile edit pages in your Personal Area." %}</div>
                </div>
            </div><!-- End of template section -->

            <div class="row">
                <div class="col-12">
                    <h3>{% trans "What is the Our Gold Star Selection page?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "The members of the EU-Citizen.Science consortium have curated a list of ‘Gold Star’ resources from amongst those in the (training) resources section that are of particularly high quality, or represent best practice, to make it easier for new and experienced practitioners alike to zoom in on the most useful resources. Read more about Our Selection on the blog post ‘How we selected the starter set of resources, and curated ‘Our Selection’’. " %}</div>
                </div>
            </div><!-- End of template section -->

            <div class="row">
                <div class="col-12">
                    <h3>{% trans "What is the Personal Area?" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <div class="small mb-2">{% trans "The Personal Area is where you can edit any of the content profiles that you have submitted (as a logged-in member of the platform), in order to keep those profiles up to date. There you will also find the list of projects that you have ‘followed’, and the resources that you have bookmarked so that you can find them quickly again from your Personal Area. Please also share more information about yourself in the Profile area with other members of the community." %}</div>
                </div>
            </div><!-- End of template section -->


            <div class="row">
                <div class="col-12">
                    <h3></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                </div>
            </div><!-- End of template section -->

        </div>
    </div>
</div>
{% endblock list_of_items %}

