{% extends "base_r2.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }} :: {% trans "Final Event" %}{% endblock %}

{% block list_of_items %}
<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<h1 class="mt-5 mb-5">
				final <span class="lightBlue-color">event</span>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8 mb-3">
			<img class="img-fluid" src="{%static 'site/img/1024x512_Conference_Twitter_final.jpg' %}" alt="final event image" />
		</div>
	</div>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="row">
				<div class="col-12">
					<h3 class="mt-4">The future of citizen science: sharing experiences from the European community</h3>
				</div>
				<div class="col-1"></div>
				<div class="col-11 mb-3">
					<p>EU-Citizen.Science is holding its final conference in collaboration with the ACTION project on 24th and 25th November 2021. <b>The future of citizen science: sharing experiences from the European community</b> will be a gathering of the global citizen science community full of exciting talks, sharing of experiences, stimulating debates and informal networking moments. You will hear from a great variety of speakers, be able to share your ideas, and meet like-minded individuals.</p> 
					<p>The event will take place online from 11:00 to 16:30 CET on 24 November and from 10:00 to 13:00 CET on 25 November.</p>

					<p>Click <a href="https://hopin.com/events/the-future-of-citizen-science-sharing-experiences-from-the-european-community">here</a> to register for the event and see the full programme.</p>
					<p>The event is jointly organized by the EU-Citizen.Science and the <a href="https://actionproject.eu/" target="_blank">ACTION</a> 
					projects and moderated by <a href="https://stickydot.eu/" target="_blank">Stickydot.</a></p>
					<p>EU-Citizen.Science's Organization Team:</p>
					<ul>
									<li>Antonella Radicchi (MfN)</li>
									<li>Silke Voigt-Heucke (MfN)</li>
									<li>Claudia Fabó Cartas (ECSA)</li>
									<li>Francisco Sanz (Ibercivis)</li>
									<li>Lucie Steigleder (Ecsite)</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock list_of_items %}

