{% load staticfiles %}
<div class="container" style="color:black">
	<div class="card">
		<div class="card-body">
			<form action="{% url 'results' %}">
				<div class="row">
					<div class="col-md-11 col-sm-9 input-group">
						<input type="text" id="keywords" name="keywords" autocomplete="off"
						       class="basicAutoComplete form-control mb-4" placeholder="What are you looking for today?"
							 data-url="text_autocomplete/">

					</div>
					<div class="col-md-1 col-sm-1">
						<button class="btn btn-info" id="search" type="submit" alt="Find">
							<i class="fas fa-search"></i>
						</button>

					</div>
				</div>
			</form>
		</div>
	</div>
</div>
