{% extends "base3.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ block.super }}Home{% endblock %}
{% block navbar-left %}
{% include "_navbar.html" with active_link="about" %}
{% endblock %}

{% block splash %}
<div class="jumbotron">
	<div class="row main_info">
		<div class="col-sm-12">
			{% include "finder.html" %}
		</div>
		<div class="col-sm-12">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-12 mt-4">
										{% if featuredProject %}
										<div class="card h-100">
											{% if featuredProject.image %}
											<img class="img-fluid" src="{{ featuredProject.image }}" />
											{% else %}
											<img class="img-fluid" src="static/site/img/project.png" />
											{% endif %}

											<div class="card-body">
												<h4 class="card-title">
													{{ featuredProject.name }}</h4>
												{% for country in countries %}
												{% if country.code == featuredProject.country %}
												<a class="badge badge-pill badge-success"
													href="projects?country={{country.code}}">{{ country.name }}</a>
												{% endif %}
												{% endfor %}
												{% for topic in featuredProject.topic.all %} <a
													class="badge badge-pill badge-dark"
													href="projects?keywords=&topic={{topic|urlencode}}">{{topic}}</a>
												{% endfor %}
												{% for keyword in featuredProject.keywords.all %} <a
													class="badge badge-pill badge-info"
													href="projects?keywords={{keyword|urlencode}}">{{keyword}}</a>
												{% endfor %}
												<div class="card-text">
													{{featuredProject.description | truncatechars:100 }}
												</div>
											</div>
											<div class="card-footer bg-white">
												<a class="btn btn-outline-primary float-right" target="_black"
													href="/project/{{featuredProject.id }}"> Read more </a>
											</div>
										</div>
										{% endif %}

					</div>
					<div class="col-lg-8 col-sm-12">
										{% if featuredResource %}
										<div class="card mt-4">
											<div class="card-body">
												<h4 class="card-title">{{ featuredResource.name | truncatewords:4 }}</h4>
												<img class="card-img" style=" float: left; background-color: #fff; border-radius: 50%; border: 0px; width: 75px"
													src="static/site/img/gdoc.png">
										
												<p class="card-text">
													{% get_language_info_list for LANGUAGES as languages %}
													{% for language in languages %}
													{% if language.code == featuredResource.inLanguage %}
													<a class="badge badge-pill badge-success"
														href="/resources?language={{featuredResource.inLanguage}}">{{language.name_local}}</a>
													{% endif %}
													{% endfor %}
													<a class="badge badge-pill badge-dark" href="">{{featuredResource.license}}</a>
													{% for keyword in featuredResource.keywords.all %} <a class="badge badge-pill badge-secondary"
														href="/resources?keywords={{keyword}}">{{keyword}}</a> {% endfor %}
												</p>
										
												<p class="card-text">{{featuredResource.abstract |truncatewords:20 }}<br>
										
											</div>
											<div class="card-footer bg-white">
										
												<a class="btn btn-outline-secondary float-right ml-2" href="{{featuredResource.url}}" target="_blank">Download</a>
												<a class="btn btn-outline-primary float-right ml-2" href="/resource/{{featuredResource.id}}" target="_blank">Read More</a>
											</div>
										</div>
										{% endif %}
					<div class="card  mt-4">
							<div class="card-body">
								<h3><u>Last Blog Entry</u></h3> <br />
								{% if lastBlogEntry %}
								<h5 class="card-title">{{ lastBlogEntry.title }}</h5>
								<p class="card-text text-muted h6">{{ lastBlogEntry.author.name }} |
									{{ lastBlogEntry.created_on}} </p>
								<p class="card-text">{{lastBlogEntry.content | slice:":200" | safe }}</p>
								<a href="{% url 'post_detail' lastBlogEntry.slug  %}" class="btn btn-primary">Read
									More</a>
								{% endif %}
							</div>
						</div>
				<div class="row">
					<div class="col-lg-12 mt-4">
						<div class="card card-small card-post h-100">
							<div class="card-body">
								<h5 class="card-title">
									Share, initiate and learn about citizen science in Europe
								</h5>
								<b>EU-Citizen.Science</b> is a platform for sharing knowledge, tools, training and
								resources for Citizen Science. Resources by the community, for the community.
								<b>Search</b> for handy guidelines, <b>share</b> your latest projects, <b>find</b> your
								needed tool, <b>upload</b> your protocols, or simply <b>join</b> the conversation in the
								community forums.

							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	{% endblock splash %}
