{% extends "base3.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ block.super }}Home{% endblock %}
{% block navbar-left %}
{% include "_navbar.html" with active_link="about" %}
{% endblock %}

{% block splash %}
<div class="jumbotron">
	<div class="row main_info">
<div class="container" style="color:black">
			<form id="finder" action="/resources" >
				<div class="row">
					<div class="col-lg-9 col-12">
						<input type="text" id="keywords" name="keywords" autocomplete="off" class="form-control"
							placeholder="What are you looking for today?">

					</div>
					<div class="col-lg-3 col-12">
<div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
  <label class="btn btn-light active">
    <input type="radio" name="options" id="resources" checked onClick='$("#finder").attr("action", "resources").submit()'> Resources
  </label>

  <label class="btn btn-light">
    <input type="radio" name="options" id="projects" onClick='$("#finder").attr("action", "projects").submit()'> Projects
  </label>
</div>

					</div>
				</div>
			</form>
</div>

	</div>
</div>
	{% endblock splash %}
{% block script %}
{{ block.super }}
{% endblock script %}
