{% extends "base_r2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load leaflet_tags %}
{% block head %}
{{block.super }}
{% leaflet_js %}
{% leaflet_css %}
<meta name="Description" content="Citizen Science in Europe, projects, resources, events">
{% endblock %}
{% block navbar-left %}
{% include "_navbar.html"  %}
{% endblock %}
{% block splash %}
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">

{% endblock splash %}
{% block page_header %}
{% include "finder_all.html" %}
{% endblock page_header %}
{% block list_of_items %}


<div class="container">
	<div class="row">
		{% include "projects_cards.html" %}
		{% include "resources_cards.html" %}
		{% include "resources_cards.html" with resources=tresources %}
		<div class="col-12 text-center mt-4 mb-5">
			<a type="button" class="btn  btn-red btn-lg shadow-sm" href="/projects">SEE ALL PROJECTS</a>
		</div>
	</div>
	<div class="col-12">&nbsp;</div>
</div>
{% endblock list_of_items %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.js"
integrity="sha256-7BfFV/dSvQT4pGBvRAIt6JDXsehb92DQqpGUndLCPQ4=" crossorigin="anonymous"></script>
<script
src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/3de7ad37/dist/latest/bootstrap-autocomplete.js"></script>
<script>
	$('.basicAutoComplete').autoComplete(
	{ minLength: 3 }
	);
</script>
{% endblock scripts %}
