{% extends "base3.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{{ block.super }}Home{% endblock %}
{% block navbar-left %}
{% include "_navbar.html"  %}
{% endblock %}
{% block splash %}

<div class="jumbotron jumbotron-fluid jumbotron-main">
	<div class="container">
		<h1 class="display-4 mt-5 pt-5 pb-0"><br>Join the Citizen Science Community</h1>
		<p class="lead text-light">	Here goes a great short phrase with links to actions like <a href="#"> login</a> , or also <a href="#">sign-up</a>, or things like <a href="#">browse</a></p>
	</div>
</div>
<div class="container-fluid"  style="background: #f8f8f8;">
	<div class="row">
		<div class="container">
			<form id="finder" action="/resources" >
				<div class="form-row">
					<div class="input-group mb-3">
						<input type="text" id="keywords" name="keywords" autocomplete="off" class="basicAutoComplete form-control"
						placeholder="What are you looking for today?" data-url="home_autocomplete/"/>

							<button  id="resources" class="btn btn-info" style="margin-left: 5px;" onClick='$("#finder").attr("action", "resources").submit()'> Resources</button>
							<button  id="resources" class="btn btn-info" style="margin-left: 5px;" onClick='$("#finder").attr("action", "projects").submit()'> Projects</button>
					</div>
					</div
				</form>
			</div>
		</div>
	</div>
	<div class="container-fluid border-top border-bottom" style="background: #e8e8e8;">
		<div class="container">
			<div class="row">
				<div class="col-12 mt-4">
					<h2 style="color: #5937c3">Lastest resources</h2>
				</div>
			</div>
			<div class="row">
				{% for resource in resources %}
				<div class="col-12 col-xl-4 mt-2 mb-4">
					<div class="card h-100 shadow">
						<a class="card-img-wrap overlay-blue" href="/resource/{{resource.id }}">
							{% if resource.image2 %}
							<img class="card-img-top img-fluid img-zoom lazyload img-filter" src="{{ resource.image2 }}" />
							{% else %}
							<img class="card-img-top img-fluid img-zoom lazyload" src="{% static 'site/img/project.png' %}" />
							{% endif %}
						</a>
						<div class="upper">
							<a class="badge frontpage" href="projects?country={{country.code}}">{{ resource.name |  truncatechars:32 | upper }}</a>
						</div>
					</div>
				</div>
				{% endfor %}
				<div class="col-12 text-center">
					<a type="button" class="btn  btn-outline-primary btn-lg shadow-sm" href="/resources">See All</a>
				</div>
			</div>
		</div>
		<div class="col-12">&nbsp;

		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 mt-4">
				<h2>Lastest projects</h2>
			</div>
		</div>
		<div class="row">
			{% for project in projects %}
			<div class="col-12 col-xl-4 mt-2 mb-4">
				<div class="card h-100 shadow">
					<a class="card-img-wrap overlay-orange " href="/project/{{project.id }}">
						{% if project.image3 %}
						<img class="card-img-top img-fluid img-zoom lazyload img-filter" src="{{ project.image3 }}" />
						{% else %}
						<img class="card-img-top img-fluid img-zoom lazyload" src="{% static 'site/img/project.png' %}" />
						{% endif %}
					</a>
					<div class="upper">
						<a class=" badge frontpage round-0" href="projects?country={{country.code}}">{{ project.name | upper }}</a>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="col-12 text-center">
				<a type="button" class="btn  btn-outline-primary btn-lg shadow-sm" href="/projects">Projects</a>
			</div>
		</div>
		<div class="col-12">&nbsp;</div>
	</div>
	<div class="container-fluid border-top border-bottom" style="background: #e8e8e8;">
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-12 mt-4">
						<h2>Lastest blog entries</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-xl-4 mt-5">
						asd
					</div>
					<div class="col-12 col-xl-4 mt-5">
						asd2
					</div>
					<div class="col-12 col-xl-4 mt-5">
						asd3
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock splash %}
	{% block script %}
	<script type="text/javascript" src="{% static 'site/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'site/js/bootstrap.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.js"
	integrity="sha256-7BfFV/dSvQT4pGBvRAIt6JDXsehb92DQqpGUndLCPQ4=" crossorigin="anonymous"></script>
	<script
	src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/3de7ad37/dist/latest/bootstrap-autocomplete.js"></script>

	<script>
		$('.basicAutoComplete').autoComplete(
		{ minLength: 3 }
		);
	</script>
	{{ block.super }}
	{% endblock script %}
