{% extends "horizontal_card.html" %}
{% load thumbnail %}
{% load i18n %}
{% block img %}
<a href="/resource/{{resource.id}}">
<img title="project picture" class="img-fluid p-1" src="{% thumbnail resource.image1|default:'default_profile.png' 200x133 crop %}">
</a>
{% endblock img %}
{% block title %}
<a href="/resource/{{resource.id}}">{{ resource.name | truncatechars:30}}</a>
<div class="small text-muted">{{resource.dateCreated}}</div>
{% if not resource.moderated %}
<div class="small text-danger">{% trans "Not yet moderated" %}</div>
{% else %}
{% if not resource.approved %}
<div class="small text-danger">{% trans "Not approved" %}</div>
{% endif %}
{% endif %}

{% endblock title %}
