{% extends "base_r2.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} :: Imprint{% endblock %}
{% block splash %}
<div class="jumbotron jumbotron-fluid jumbotron-default">
	<div class="container">
		<h1 class="display-4 pb-4 pb-4 text-white">{% trans "Imprint" %}</h1>
	</div>
</div>
{% endblock splash %}
{% block navbar-left %}
{% include "_navbar.html" %}
{% endblock %}
{% block list_of_items %}

<div class="container">
	<div class="row mt-5">
		<div class="col-sm-4 col-12 mt-4 mb-4">
			<h2>{% trans "Imprint" %}</h2>
		</div>
		<div class="col-sm-8 col-12 mt-4 mb-4">

			<b>EU-Citizen.Science</b><br>
			c/o Museum für Naturkunde Berlin<br>
			Leibniz-Institut für Evolutions- und Biodiversitätsforschung<br>
			Invalidenstraße 43<br>
			10115 Berlin<br>
			Germany<br><br>

			<b>Museum für Naturkunde Berlin</b><br>
			Telephone: +49 308 8914 08943<br>
			Email: Antonella.Radicchi [at] mfn.berlin or eucitsci [at] mfn.berlin<br>
			Website: http://eu-citizen.science<br><br>
			<b>ECSA</b><br>
			Telephone: +49 308 8914 08776<br>
			Email: D.Riemenschneider [at] mfn.berlin<br>
			Telephone: +49 308 8914 08943<br><br>
			<b>Authorised representative person</b><br>
			Silke Voigt-Heucke, Museum für Naturkunde Berlin (MfN)<br><br>
			<b>Content responsibility (German law § 55 Abs. 2 RStV)</b><br>
			Silke Voigt-Heucke, MfN<br>
			VAT-ID (German law § 27 a Umsatzsteuergesetz)<br>
			DE262426477<br><br>
			<b>Bank account</b><br>
			Deutsche Bank<br>
			Account number: 512 087 800<br>
			Bank code (BLZ): 100 708 48<br>
			IBAN: DE40 1007 0848 051 2087 800<br>
			BIC/SWIFT: DEUTDEDB110<br><br>
			<b>Responsible persons</b><br>
			Project coordinator:<br>
			<ul>
				<li>Silke Voigt-Heucke, MfN</li>
			</ul>

			Project manager:<br>
			<ul>
				<li>Antonella Radicchi, MfN</li>
			</ul>

			Editorial:<br>
			<ul>
				<li>Claudia Fabó Cartas, ECSA</li>
				<li>Lucie Steigleder, Ecsite</li>
			</ul>

			Video making:<br>
			<ul>
				<li>Andrea Troncoso, ECSA</li>
			</ul>

			Web concept:
			<ul>
				<li>Francisco Sanz García, Ibercivis Foundation</li>
			</ul>

			Design and layout:
			<ul>
				<li>Francisco Sanz García, Ibercivis Foundation</li>
				<li>Daniel Lisbona, Ibercivis Foundation</li>
			</ul>

			Website programming:
			<ul>
				<li> Francisco Sanz García, Ibercivis Foundation</li>
				<li> Victor Val, Ibercivis Foundation</li>
			</ul>

			<b>Previous collaborators (in alphabetical order)</b><br>
			<ul>
				<li> Margaret Gold, ECSA (Web concept, layout and community engagement)</li>
				<li> Marzia Mazzonetto, ECSA (Participatory design and concept definition)</li>
				<li> Katrin Vohland (Project Coordinator)</li>
				<li> Katherin Wagenknecht (Project manager)</li>
				<li> Tim Woods, ECSA (Communication and promotion)</li>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid bg-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mb-4 mt-4">
				<h2>Legal notices</h2>
			</div>
			<div class="col-sm-8 col-12 mb-4 mt-4">

				All the information on this platform has been carefully reviewed. We endeavour to ensure that all information is complete, up to date and factually correct. Nevertheless, we cannot rule out the possibility of errors appearing. We therefore cannot guarantee the completeness, accuracy or current validity of information contained on this website. This also applies to the permanent availability of the contents shown or made available.<br><br>

				EU-Citizen.Science can change and/or suspend operation of the website at its discretion without prior notice. It is not obliged to update the contents of this website. The information made accessible, as well as all results generated and displayed using the available presentation and analysis tools, serve exclusively to provide information to visitors of the EU-Citizen.Science website. It does not give any advice or any sort of recommendation.<br><br>

				EU-Citizen.Science owns the copyright and other proprietary rights of all material on this website, including the layout, source code, software and content. Copyright notices and trademarks may not be modified or removed. Unless otherwise indicated, the .xls and .csv files on this website are subject to the terms of the Data Licence Germany – attribution – Version 2.0. Any other use requires the prior written permission of EU-Citizen.Science. The retrieval of information can take place only in a manner that does not impair the use of the website by other visitors.<br><br>

				EU-Citizen.Science does not take any responsibility for the content or the accessibility of third-party websites accessible through this website via external links. Responsibility for this external content lies solely with the content provider. EU-Citizen.Science only provides access to the use of such content.<br><br>

				EU-Citizen.Science expressly dissociates itself from all content that could be of potential relevance in terms of criminal or civil liability, or which violates the accepted principles of morality.<br><br>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-12 mb-4 mt-4">
			<h2>Other info</h2>
		</div>
		<div class="col-sm-8 col-12 mb-4 mt-4">
			<b>Data protection</b><br>

			You can find the EU-Citizen.Science data protection statement <a href="/privacy">here.</a><br><br>

			<b>Other provisions</b><br>

			German law exclusively applies to the terms of use and the relationship established between the user and EU-Citizen.Science.<br><br>

			<b>Picture credits</b><br>

			Unless otherwise indicated: EU-Citizen.Science<br><br>

			<b>Barrier-free access</b><br>

			These pages are designed to meet the Web Content Accessibility Guidelines 2.1 (WCAG)  propossed by the W3C consortium. A summary of these guidelines can be found <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">here</a>. <br><br>

			<b>Official EU-Citizen.Science logos</b> for use in Press Release can be found <a href="{% static 'site/files/eu-citizen_science_logos.zip' %}">here (zip file)</a><br><br>

			<b>Copyright</b><br>

			Unless otherwise indicated, the content of the website is subject to the terms of the Creative Commons Attribution 4.0 International <a href="https://creativecommons.org/licenses/by/4.0/legalcode" target="_blank">(CC BY 4.0)</a>
			<br><br>
		</div>
	</div>
</div>

{% endblock list_of_items %}
