{% extends "base_r2.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} :: Citizen Science for Policy across Europe{% endblock %}
{% block splash %}
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-5 pt-2 pb-4 text-secondary">{% trans "Citizen Science for Policy across Europe" %}</h1>
		<h3>22 June 2021 at 11:00 AM to 12:30 PM CEST</h3>
		<br/>
	</div>
</div>
{% endblock splash %}

{% block navbar-left %}
{% include "_navbar.html" %}
{% endblock %}

{% block list_of_items %}
<div class="container mt-5">
	        <div class="row mt-4 mb-4">
                <div class="col-12" style="background-image: url('/media/eventoo.webp'); background-position: center; background-size: cover; height: 500px">
                        <div class="row h-100">
                        <div class="col-6"></div>

                        <div class="col-6 mt-auto">
                        <!--h5>EVENT</h5>
                        <h2>Citizen Science for Policy across Europe<br /></h2>
                        <h4 class="pb-4"> 22nd June 2021, from 11:00 to 12:30 CEST</h4-->
                        <a class="btn btn-outline-primary m-5 float-right" href="https://www.eventbrite.be/e/citizen-science-for-policy-across-europe-registration-156963944383" target="_blank"/>Register here!</a>
                        </div>
                        </div>
                </div>
        </div>
	<div class="row">
		<div class="col-sm-4 col-12 mb-4">
		<h3>Mission</h3>
		</div>
		<div class="col-sm-8 col-12 mb-4">
EU-Citizen.Science is inviting representatives from ministries across Europe and at the regional and local levels to engage in a discussion about citizen science and its benefits for policy making.
The main aim of this event is to develop collaborations among policy makers with citizen science interests. This event will be held as a satellite event of the European Research and Innovation Days on 22 June 2021.
		</div>
	</div>
</div>
<div class="container-fluid bg-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<h3>Objectives</h3>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
					<ul>
									<li>Explore the current state of citizen science in Europe to enhance synergies across borders.</li>
									<li>Open discussions by presenting good practices and success stories about citizen science operating at different levels, highlighting the barriers that affect the development of citizen science and providing solutions to overcome them to produce a powerful policy decision making tool.</li>
									<li>Foster collaborations  among different countries to promote citizen science, establishing common paths.</li>


			</div>
		</div>
	</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-12 mt-4 mb-4">
      <h3>How to follow the event</h3>
    </div>
    <div class="col-sm-8 col-12 mt-4 mb-4">
						You can register <a href="https://www.eventbrite.be/e/citizen-science-for-policy-across-europe-registration-156963944383" target="_blank">here</a> to join the event on Zoom and have the opportunity to interact with speakers. The event will be broadcasted live on the <a href="https://www.youtube.com/channel/UC-KXyw1Qg6fLrdoQ5IrC_zg">ECSA Youtube channel</a>. Viewers will be able to participate by sending questions and remarks using the Youtube chat. Questions will be answered by ministries representatives. <b>Please, save the date!</b>
    </div>
  </div>
</div>
<div class="container-fluid bg-white">
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-12 mt-4 mb-4">
			<h3>Agenda</h3>
		</div>
		<div class="col-sm-8 col-12 mt-4 mb-4">
						<p>The event will last 1.5 hour. It is made up of four  blocks, each dedicated to a citizen science topic. Each block begins with a presentation given by an invited speaker, followed by an open discussion  for sharing different experiences  from representatives of Ministries of European Member States and the participants in the event.</p>
						<ul>
										<li><b>11:00 - 11:05 </b>Welcoming and introduction to the event by the EU-Citizen.Science Project coordinator and FECYT/Ibercivis (5’)</li>
										<li><b>11:05 - 11:25 </b> Block 1: <i>Current state of citizen science across Europe</i> introduced by Sven Schade,  Scientific Policy Officer, Joint Research Center, European Commission (5’), followed by a discussion (15’)</li>
										<li><b>11:25 - 11:45 </b> Block 2: <i>Promoting citizen science through the launch of national plans for funding citizen science projects</i> introduced by Carmen Castresana,  General Director  of Research Planning, Spanish Ministry of Science and innovation (5’), followed by a discussion (15’)</li>
										<li><b>11:45 - 12:05 </b> Block 3: <i>Overcoming the barriers to citizen science</i> introduced by José Paulo Esperança, Vice-President of the Foundation for Science and Technology, Portuguese Ministry of Science and Technology and Higher Education (5’), followed by a discussion (15’)</li>
										<li><b>12:05 - 12:25 </b> Block 4: <i>Science for the people, by the people –  policy instruments to anchor citizen science in research and society</i> introduced by Anne Overbeck, Policy Officer for Citizen Science, German Federal Ministry of Education and Research (5’), followed by a discussion (15’)</li>
										<li><b>12:25 - 12.30 </b> Concluding remarks (5’)</li>
						</ul>
		</div>
	</div>
</div>
<!-- Participants -->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<h3>Invited Speakers</h3>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<img  class="img-fluid img-zoom" src="{% static 'site/img/Sven.jpeg' %}"/>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				<h4>Sven Schade</h4>
				He works at the European Commission’s in-house scientific and knowledge management service, the Joint Research Centre (JRC), where he leads the research on digital transformation and the modernisation of the public sector for recovery. His research interests include digital governance, multi-disciplinary interoperability, and public participation in science for policy.
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<img  class="img-fluid img-zoom" src="{% static 'site/img/carmen_castresana.jpg' %}"/>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				<h4>Carmen Castresana</h4>
				Dr. Carmen Castresana is Director General for Research Planning at the Spanish Ministry of Science and Innovation since February 2020. She is Full Professor at the Spanish National Research Council (CSIC) and has developed most of her research career in the field of Plant Molecular Biology at the National Center for Biotechnology, where she acted as Director from 2013 to 2015.
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<img  class="img-fluid img-zoom" src="{% static 'site/img/jose_paulo.png' %}"/>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				<h4>José Paulo Esperança</h4>
				José Paulo Esperança is the Vice President of the Portuguese Foundation for Science and Technology (FCT). He is full professor of Finance and former Dean of the ISCTE Business School as well as former Pro-Rector for International Relations and Entrepreneurship at ISCTE-IUL. He cofounded AUDAX-ISCTE, an associated centre focused on entrepreneurship and family business and BGI, a new ventures accelerator. He is an associated member of several associations aimed at promoting biodiversity in his home region of Beira Interior.
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<img  class="img-fluid img-zoom" src="{% static 'site/img/anne.png' %}"/>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				<h4>Anne Overbeck</h4>
				Anne Overbeck is Policy Officer at the German Federal Ministry of Education and Research focusing on Citizen Science and other participatory approaches in science and research. Prior to her position at the ministry, Anne Overbeck has been working as a museum curator concentrating on participation in the knowledge creation process in (digital) exhibitions.
			</div>
		</div>
	</div>
	        <div class="container">
                <div class="row">
                        <div class="col-sm-4 col-12 mt-4 mb-4">
                                <h3>Invited Panelists</h3>
                        </div>
                        <div class="col-sm-8 col-12 mt-4 mb-4">
                        </div>
                </div>
        </div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<img  class="img-fluid img-zoom" src="{% static 'site/img/Svetlana.png' %}"/>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				<h4>Svetlana Jesiļevska</h4>
				Dr. oec. Svetlana Jesiļevska is an expert in smart energy at the Latvian Ministry of Education and  Science, the author of several scientific publications, books and publications in the mass-media devoted to innovation and R&amp;D. Work experience as data analyst in the Central Statistical Bureau and the State Chancellery of Latvia.
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<img  class="img-fluid img-zoom" src="{% static 'site/img/luigi.png' %}"/>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				<h4>Luigi Ceccaroni</h4>
Luigi manages innovation and strategic research at Earthwatch, an independent research organisation in Oxford, UK. He is the principal investigator and leader of the European Commission’s project “MICS” (2019-2021) to evaluate citizen-science impacts. He also leads the awareness raising and engagement efforts in EU-Citizen.Science. Luigi is the author of more than 100 publications on citizen science, the environment, artificial intelligence and personalised medicine, topics he is passionate about. He was the vice-chair of the European Citizen Science Association in 2019-2020.
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<img  class="img-fluid img-zoom" src="{% static 'site/img/pascu.png' %}"/>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				<h4>Adrian Pascu</h4>
				Mr. Adrian Pascu works at the Ministry of Research, Innovation and Digitalization in Romania, as a policy officer preparing the participation to the EU Council meetings in research and to the ERAC. He has a relevant experience in the development of ERA in Romania and in the participation to the EU R&amp;I framework programmes, as well as in related supporting activities.
			</div>
		</div>
	</div>







</div>




<!-- end of participants -->





	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<h3>General Information</h3>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
							<p><b>Organizers</b></p>
							<ul>
								<li>The EU-Citizen.Science project and FECYT/Ibercivis with the support of 
									<ul>
										<li>The European Commission</li>
										<li>The Spanish Ministry of Science and Innovation</li>
										<li>The Portuguese Ministry of Science and Technology and Higher Education</li>
										<li>The German Federal Ministry of Education and Research</li>
									</ul>
							</ul>
							<p><b>Moderators</b></p>
							<ul>
											<li>EU-Citizen.Science Project Coordinator</li>
											<li>FECYT</li>
											<li>Ibercivis</li>
											<li>Stickydot</li>
							</ul>
							<p><b>Organization Team</b></p>
							<ul>
											<li>Antonella Radicchi (MfN)</li>
											<li>Silke Voigt-Heucke (MfN)</li>  
											<li>Francisco Sanz (Ibercivis)</li>
											<li>Daniel Lisbona (Ibercivis)</li> 
											<li>Maite  Pelacho  (Ibercivis)</li>  
											<li>Pablo Camacho (FECYT)</li> 
											<li>Maria Inês Vicente (Município de Figueira de Castelo Rodrigo)</li>
											<li>Lucie Steigleder (Ecsite)</li>
											<li>Claudia Fabo Cartas (ECSA)</li>
											<li>Andrea Troncoso (ECSA)</li>  
											<li>with the support of the EU-Citizen.Science Consortium</li>

							  </ul>
			</div>
		</div>
	</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4 col-12 mt-4 mb-4">
			<h3></h3>
		</div>
		<div class="col-sm-8 col-12 mt-4 mb-4">
		</div>
	</div>
</div>




<div class="container-fluid bg-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<h3></h3>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-12 mt-4 mb-4">
			<h3></h3>
		</div>
		<div class="col-sm-8 col-12 mt-4 mb-4">
		</div>
	</div>
</div>


{% endblock list_of_items %}
