{% extends "base_r2.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} :: Privacy{% endblock %}
{% block splash %}
<div class="jumbotron jumbotron-fluid jumbotron-default">
	<div class="container">
		<h1 class="display-4 pt-4 pb-4 text-white">{% trans "Privacy" %}</h1>
	</div>
</div>
{% endblock splash %}

{% block navbar-left %}
{% include "_navbar.html" %}
{% endblock %}

<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-5"><br>{% trans "Privacy" %}</h1>
		<p class="lead text-light"></p>
	</div>
</div>
{% block list_of_items %}
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-12 mt-4 mb-4">
			<h3>What information Eu-Citizen.Science collects</h3>
		</div>
		<div class="col-sm-8 col-12 mt-4 mb-4">
			<b>"Personal User Information"</b> is any information about one of our Users which could, alone or together with other information, personally identify
			them or otherwise be reasonably linked or connected with them. Information such as a username and password, an email address, a real name, an Internet protocol
			(IP) address, and a photograph are examples of “Personal User Information.”<br><br>
			Personal User Information does not include aggregated, non-personally identifying information that does not identify a User or cannot otherwise be reasonably linked or
			connected with them. We may use such aggregated, non-personally identifying information for research purposes and to operate, analyze, improve, and optimize our Website and Service.<br><br>
			<b>Information users provide directly to EU-Citizen.Science</b><br><br>
			<i>Registration Information</i><br><br>
			We require some basic information at the time of account creation. When you create your own username and password, we ask you for a valid email address.<br><br>
			<i>Profile Information</i><br><br>
			You may choose to give us more information for your Account profile, such as your full name, an avatar which may include a photograph, your biography, your location,
			your company, and a URL to a third-party website. This information may include User Personal Information. Please note that your profile information may be visible to other
			Users of our Service.<br><br>
		</div>
	</div>
</div>
<div class="container-fluid bg-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<h3>How Eu-Citizen.Science uses your information</h3>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				We may use your information for the following purposes:
				<ul>
					<li>We use your Registration Information to create your account, and to provide you with the Service.</li>
					<li>We use your Personal User Information, specifically your username, to identify you on EU-CITIZEN.SCIENCE</li>
					<li>We use your email address to communicate with you, if you've said that's okay, and only for the reasons you’ve said that’s okay.</li>
					<li>We use Personal User Information to respond to support requests.</li>
					<li>We may use Personal User Information to invite you to take part in surveys, beta programs, or other research projects, subject, where necessary, to your consent.</li>
					<li>We may use your Personal User Information if it is necessary for security purposes or to investigate possible fraud or attempts to harm EU-CITIZEN.SCIENCE or our Users.</li>
					<li>We may use your Personal User Information to comply with our legal obligations, protect our intellectual property, and enforce our <a href="/terms">Terms of Use</a></li>
					<li>We limit our use of your Personal User Information to the purposes listed in this Privacy Statement. If we need to use your Personal User Information for other purposes,
						we will ask your permission first. You can always see what information we have, how we're using it, and what permissions you have given us in your user profile.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<h3>Our legal bases for processing information</h3>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				To the extent that our processing of your Personal User Information is subject to certain international laws (including, but not limited to, the European Union's General Data Protection
				Regulation (GDPR)), EU-CITIZEN.SCIENCE is required to notify you about the legal basis on which we process Personal User Information. EU-CITIZEN.SCIENCE processes Personal User Information
				on the following legal bases:<br><br>
				<ul>
					<li>Contract Performance:</li>
					<ul>
						<li
						>When you create a EU-Citizen.Science Account, you provide your Registration Information.
						We require this information for you to enter into the Terms of Service agreement with us, and we process
						that information on the basis of performing that contract. We also process your username and email address on other legal bases, as described below.
					</li>
				</ul>
				<li>Consent:</li>
				<ul>
					<li>We rely on your consent to use your Personal User Information under the following circumstances: when you fill out the information in your user profile;
						when you decide to participate in a research project, beta program, or survey; and for marketing purposes, where applicable. All of this Personal User Information
						is entirely optional, and you have the ability to access, modify, and delete it at any time. While you are not able to delete your email address entirely,
						you can make it private. You may withdraw your consent at any time.</li>
					</ul>
					<li>Legitimate Interests:</li>
					<ul>
						<li>
							Generally, the remainder of the processing of Personal User Information we perform is necessary for the purposes of our legitimate interest, for example, for legal compliance purposes,
							security purposes,or to maintain ongoing confidentiality, integrity, availability, and resilience of EU-Citizen.Science’s systems, Website, and Service.
						</li>
					</ul>
					<li>If you would like to request deletion of data we process on the basis of consent or if you object to our processing of personal information, please send an email to eu-citizen.science at ibercivis dot es</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid bg-white">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-12 mt-4 mb-4">
					<h3>How you can access and control the information we collect</h3>
				</div>
				<div class="col-sm-8 col-12 mt-4 mb-4">
					If you're already a EU-Citizen.Science user, you may access, update, alter, or delete your basic user profile information by editing your user profile.
					As a EU-Citizen.Science user, you can always take your data with you.
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<h3>Our use of cookies and tracking</h3>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				EU-Citizen.Science uses cookies to make interactions with our service easy and meaningful. Cookies are small text files that websites often store on computer
				hard drives or mobile devices of visitors. We use cookies (and similar technologies, like HTML5 localStorage) to keep you logged in, remember
				your preferences, and provide information for future development of EU-Citizen.Science platform. For security purposes, we use cookies to identify a device.
				By using our Website, you agree that we can place these types of cookies on your computer or device.
				If you disable your browser or device’s ability to accept these cookies, you will not be able to log in or use EU-Citizen.Science services.
			</div>
		</div>
	</div>
	<div class="container-fluid bg-white">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-12 mt-4 mb-4">
					<h3>Newsletter</h3>
				</div>
				<div class="col-sm-8 col-12 mt-4 mb-4">
					On the website, users are given the opportunity to subscribe to our project newsletter. The personal data transmitted to EU-Citizen.Science when subscribing to
					the newsletter consist of the first name, last name, and valid email address of the subscriber, for the sole purpose of delivering the newsletter,
					to inform the subscriber of EU-Citizen.Science and other Citizen Science project news.<br/><br/>
					In conformance with GDPR, a simple opt-in confirmation e-mail will be sent to the e-mail address entered for the first time by the person concerned.
					This confirmation email is used to check whether the owner of the e-mail address has authorised receipt of the newsletter.<br/><br/>
					The newsletter is sent via MailChimp, a newsletter distribution platform by US provider Rocket Science Group, LLC, 675 Ponce De Leon Ave NE #5000,
					Atlanta, GA 30308, USA. The email addresses of our newsletter recipients as well as further data that will be described in these notes will be stored
					on MailChimp servers in the USA. MailChimp uses this information for distributing and evaluating the newsletter on our behalf. According to information
					published by MailChimp, the data will be used for optimising their own services, such as technical optimisation of the distribution process or the layout
					of the newsletter, as well as for commercial use by determining the recipients‘ countries of residence. However, MailChimp does not use this data to contact
					subscribers directly nor does it pass this data on to third parties.<br/><br/>
					MailChimp has been certified in line with the <a href="https://www.privacyshield.gov/participant?id=a2zt0000000TO6hAAG"> Privacy Shield</a> agreement
					between the US and EU. This means that MailChimp will abide by the EU data protection
					requirements. Our use of the MailChimp platform for the purpose of sending out our newsletter is governed by a
					<a href="https://mailchimp.com/legal/forms/data-processing-agreement/">Data-Processing Agreement</a> with MailChimp,
					by which they are obliged to protect the data of our subscribers and process your data on our behalf according to its own data protection regulations
					laid out in the agreement, which means in particular, not to pass on data to third parties. MailChimp’s data regulations can be viewed
					<a href="https://mailchimp.com/legal/privacy/">here</a>.
				</div>
			</div>
		</div>
	</div>


	{% endblock list_of_items %}
