{% load i18n %}
{% load staticfiles %}
{% load reviews %}
{% for project in projects %}
<div class="col-lg-4 col-sm-6 col-12 mb-5">
	<div class="card h-100 shadow border-0">
		<a class="card-img-wrap "href="/project/{{project.id }}">
			{% if project.image1 %}
			<img class="card-img-top img-fluid img-zoom lazyload {% if project.id not in approvedProjects %}
			nonmoderated {% endif %}" src="{{ project.image1 }}" />
			{% else %}			
			<picture>
				<source srcset="{% static 'site/img/project_default_card.png' %}" type="image/png">
				<source srcset="{% static 'site/img/project_default_card.webp' %}" type="image/webp">
				<img src="site/img/project_default_card.png" class="card-img-top img-fluid img-zoom lazyload {% if project.id not in approvedProjects %}
				nonmoderated {% endif %}">	
			</picture>	  
			{% endif %}
			<div class="upper">
				{% if project.hidden or project.id in unApprovedProjects %}<a class="badge frontpage frontpage-red mb-2" href="/faq#moderation">{% trans "NOT ACCEPTED" %}</a><br/>
				{% else %} {% if project.id not in approvedProjects %} <a class="badge frontpage frontpage-red mb-2"
				href="/faq#moderation">{% trans "NOT YET MODERATED" %}</a><br/>
				{% else %} {% if filters.approvedCheck == "All" %}  <a class="badge frontpage frontpage-green mb-2"
				href="/faq#moderation">{% trans "MODERATED" %}</a><br/> {% endif %}
				{% endif %}{% endif %}
				{% for country in countries %}{% if country.code == project.country %}
				<a class="badge badge-dark" href="/projects?country={{country.code}}">{{ country.name | upper }}</a>
				{% endif %}{% endfor %}
			</div>
		</a>
		<div class="card-body">
			<h6 class="card-title">
				<div class="col-12 colorred pl-0 mb-3">
					<i class="fas fa-binoculars"></i> {% if project.featured %} {% trans "Featured project" %} {% else %} {% trans "Project" %} {% endif %}
				</div>
				<a class="card-link" href="/project/{{project.id }}">{{ project.name }}</a></h6>
				{% for topic in project.topic.all %}
				<a class="badge badge-light pt-1" href="/projects?keywords=&topic={{topic|urlencode}}">{{topic | upper}}</a>
				{% endfor %}
				{% for keyword in project.keywords.all %} <a class="badge badge-light pt-1"
				href="/projects?keywords={{keyword|urlencode}}">{{keyword | upper}}</a>  {% endfor %}
			</div><!-- End of card-body -->
			<div class="card-footer">
				<div class=" small text-right">
					{% get_rating for project as avg_rating %}
					{% get_review_count for project as review_count %}
					<span class="gl-star-rating-stars s{{ avg_rating | stringformat:'d'}}0 readonly">
						<span class="align-middle" data-value="1" data-text="Terrible"></span>
						<span  class="align-middle" data-value="2" data-text="Poor"></span>
						<span  class="align-middle" data-value="3" data-text="Average"></span>
						<span  class="align-middle" data-value="4" data-text="Very Good"></span>
						<span  class="align-middle" data-value="5" data-text="Excellent"></span>
					</span>
					{{ review_count }} {% if review_count == 1 %} {% trans "review" %} {% else %} {% trans "reviews" %} {% endif %}
					<!--div class="small text-right">Last updated: {{rsc.dateLastModification}}</div-->
				</div>
			</div>
		</div><!-- end of card -->
	</div><!-- end of col -->
	{% endfor %}
	{% if 'projects' in request.get_full_path %}
	<div class="col-lg-12">
		{% include "paginator.html" %}
	</div>
	{% endif %}
