{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% if resources %}
{% for rsc in resources  %}
<div class="col-lg-4 col-md-12 mb-4">
  <div class="card h-100 shadow">
    <a class="card-img-wrap" href="/resource/{{rsc.id}}">
      {% if rsc.image1 %}
      <img class="img-fluid img-zoom {% if rsc.id not in featuredResources %} nonmoderated {% endif %} " src="{{ rsc.image1 }}" />
      {% else %}
      <img class="img-fluid img-zoom {% if rsc.id not in featuredResources %} nonmoderated {% endif %}" src="{% static 'site/img/resource_default_card.png' %}" />
      {% endif %}
    </a>
    <div class="upper">
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
      {% if language.code == rsc.inLanguage %}
      {% if rsc.id not in featuredResources %} <a class="badge frontpage frontpage-red mb-2" href="/faq#moderation">NOT YET MODERATED</a><br/> {% endif %}
      <a class="badge frontpage" href="/resources?language={{rsc.inLanguage}}">{{language.name | upper}}</a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="card-body">
      <h6 class="card-title mt-3 mb-3"><a class="card-link card-link-resource" href="/resource/{{rsc.id}}" class="card-link">{{ rsc.name | truncatewords:12 }}</a></h6>
      <div class="card-text mt-3">{{rsc.abstract | safe | truncatewords:30 }}
        <a class="" href="/resource/{{rsc.id}}" target="_blank">Read more</a>
      </div>
      <a class="badge badge-dark" href="/resources?category={{rsc.category.id}}">{{ rsc.category | upper }}</a><br>
      {% for theme in rsc.theme.all %}<a class="badge badge-light" href="/resources?theme={{theme.id}}">{{ theme | upper}}</a> {% endfor %}<br>
      {% for keyword in rsc.keywords.all %} <a class="badge  badge-light" href="/resources?keywords={{keyword}}">{{keyword | upper}}</a>  {% endfor %}
    </div><!-- end of card-body -->
    <div class="card-footer bg-white">
      <div class="row">
        <div class="col-6">
          <div id="featured{{rsc.id}}" class="float-left">
            {% if user.is_staff %}
            {% if rsc.id in featuredResources %}
            <img onclick="setFeaturedRsc({{rsc.id}})" class="img-fluid mt-2" src="{% static 'site/img/icon_color.png' %}" />
            {% else %}
            <img onclick="setFeaturedRsc({{rsc.id}})" class="img-fluid mt-2" src="{% static 'site/img/icon_bw.png' %}" />
            {% endif %}
            {% else %}
            {% if rsc.id in featuredResources %}
            <img  class="img-fluid mt-2" src="{% static 'site/img/icon_color.png' %}" />
            {% else %}
            <img  class="img-fluid mt-2" src="{% static 'site/img/icon_bw.png' %}" />
            {% endif %}
            {% endif %}
          </div>
          <div id="hidden{{rsc.id}}">
            {% if user.is_staff %}
            {% if rsc.hidden %}
            <a onclick="setHiddenResource({{rsc.id}}, false)"><i class="fas fa-eye-slash"></i></a>
            {% else %}
            <a onclick="setHiddenResource({{rsc.id}}, true)"><i class="fas fa-eye"></i></a>
            {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="col-6">
          {% if user.is_authenticated %}
          <div id="saved{{rsc.id}}">
            {% if rsc.id in savedResources %}
            <button type="button" class="btn btn-outline-primary float-right mt-2" onclick="setSavedResource({{rsc.id}},{{user.id}})">In my library</button>
            {% else %}
            <button type="button" class="btn btn-outline-secondary float-right mt-2" onclick="setSavedResource({{rsc.id}},{{user.id}})">Add to library</button>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<div class="col-lg-12">
  {% include "fr2.html" %}
</div>
{% else %}
<div class="col-12">
  <img  class="img-fluid img-zoom col-12 mt-5" src="{% static 'site/img/undraw_empty_xct9.svg' %}"
  <h5>Sorry, nothing found</h5>
</div>
{% endif %}
