{% extends "base_r2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} :: Terms{% endblock %}
{% block splash %}
<div class="jumbotron jumbotron-fluid jumbotron-default">
	<div class="container">
		<h1 class="display-4 pt-4 pb-4 text-white">Terms of use</h1>
	</div>
</div>
{% endblock splash %}

{% block navbar-left %}
{% include "_navbar.html" %}
{% endblock %}


{% block list_of_items %}

<div class="container">
	<div class="row">
		<div class="col-12">
			<h2>EU-CITIZEN.SCIENCE Acceptable Use Policies</h2>
		</div>
		<div class="col-12 mt-4 mb-4">
			Short version: <i>We host the crowdsourced content profiles for a wide variety of resources and collaborative citizen science projects from all over the world, and that
				collaboration only works when our users are able to work together in good faith. While using the Service, you must comply with our
				Acceptable Use Policies, which include some restrictions on content you can post, conduct on the service, and other limitations.
				In short, be excellent to each other.</i>
			</div>
		</div>
	</div>

	<div class="container-fluid bg-white">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-12 mt-4 mb-4">
					<h3>Compliance with Laws and Regulations</h3>
				</div>
				<div class="col-sm-8 col-12 mt-4 mb-4">
					You are responsible for using the Service in compliance with all applicable laws,
					regulations, and all of our Acceptable Use Policies. These policies may be updated from time to time and are provided below,
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-12 mt-4 mb-4">
				<h3>Content Restrictions</h3>
			</div>
			<div class="col-sm-8 col-12 mt-4 mb-4">
				Under no circumstances will Users upload, post, host, execute, link to or transmit any Content that:
				<ul>
					<li>is unlawful or promotes unlawful activities</li>
					<li>is or contains sexually obscene content;</li>
					<li>is libelous, defamatory, or fraudulent;</li>
					<li>is discriminatory or abusive toward any individual or group;</li>
					<li>gratuitously depicts or glorifies violence, including violent images;</li>
					<li>
						contains or installs any active malware or exploits, or uses our platform for exploit
						delivery (such as part of a command and control system); or
					</li>
					<li>infringes any proprietary right of any party, including patent, trademark, trade secret, copyright, right of publicity, or other right.</li>
				</div>
			</div>
		</div>
		<div class="container-fluid bg-white">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-12 mt-4 mb-4">
						<h3>Conduct Restrictions</h3>
					</div>
					<div class="col-sm-8 col-12 mt-4 mb-4">
						While using the Service, under no circumstances will you
						<ul>
							<li>harass, abuse, threaten, or incite violence towards any individual or group, including our employees, officers, and agents, or other users;</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% endblock list_of_items%}
