{% extends "base2.html" %}
{% block title %}{{ block.super }}Resources{% endblock %}
{% block navbar-left %}
{% include "_navbar.html" with active_link="blog" %}
{% endblock %}

{% block splash %}
<div class="jumbotron jumbotron-fluid jumbotron-blog">
	<div class="container">
		<h1 class="display-5 pb-0"><br>Blog</h1>
		<p class="lead text-light">Share, initiate and learn - citizen science in Europe</p>
	</div>
</div>
{% endblock splash %}


{% block list_of_items %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card-columns">
				{% for post in post_list %}
				<div class="card shadow">
					<a  href="{% url 'post_detail' post.slug  %}">
						<img class="card-img-top" src="/media/{{post.image}}" alt="Card image">
					</a>
					<div class="card-body">
						<a href=""><h5 class="card-title">{{ post.title }}</h5></a>
						<p class="card-text text-muted h6">{{ post.author.name }} <br/> {{ post.created_on}} </p>
						<p class="card-text">{{post.excerpt | safe }}<br/><br/>
							<a href="{% url 'post_detail' post.slug  %}" >Read More >></a></p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{%endblock%}
	{% block scripts %}
	<script>
		$(document).ready(function() {
			$( ".card" ).hover(
			function() {
				$(this).addClass('shadow-none').css('cursor', 'pointer');
			}, function() {
				$(this).removeClass('shadow-none');
			}
			);
		});
	</script>
	{% endblock scripts %}
