{% extends "base_r2.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{{ block.super }} :: Blog {% endblock %}

{% block list_of_items %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-5 mb-5">
                eu-citizen.science <span class="lightBlue-color">blog</span>
            </h1>
        </div>
        {% for post in post_list %}
        <div class="col-md-6 col-12 mb-5">
            <div class="card h-100 border-0">
                <a href="{{ post.get_absolute_url }}">
                    <img class="card-img-top"  src="{% thumbnail post.image|default:'void_600.png' 600x400 upscale  crop%}" alt="Card image">
                </a>
                <div class="card-body">
                    <p class="small text-muted">
                    {% if post.author.name != "Empty user" %}
                    {{ post.author.name }},
                    {% endif %} 
                    {{ post.created_on}}
                    </p>

                    <a href="{{ post.get_absolute_url }}" class="card-title">
                        <h3 class="">{{ post.title }}</h3>
                    </a>
                    <p class="card-text gray7">{{post.excerpt | safe }} </p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-lg-12">
            {% include "blog_paginator.html" %}
        </div>
    </div>
</div>

{% endblock list_of_items %}
