{% extends "base_r2.html" %}
{% block title %}{{ block.super }} :: Blog {% endblock %}
{% block navbar-left %}
{% include "_navbar_r2.html" with active_link="blog" %}
{% endblock %}

{% block splash %}
<div class="jumbotron jumbotron-fluid jumbotron-blue">
	<div class="container">
		<h1 class="display-4 text-white"><br>Blog</h1>
		<p class="lead text-light">&nbsp</p>
	</div>
</div>
{% endblock splash %}


{% block list_of_items %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card-columns">
				{% for post in post_list %}
					<div class="card shadow">
						<a href="{{ post.get_absolute_url }}">
							<img class="card-img-top" src="/media/{{post.image}}" alt="Card image">
						</a>
						<div class="card-body">
							<a href="{{ post.get_absolute_url }}">
								<h5 class="card-title">{{ post.title }}</h5>
							</a>
							<p class="card-text text-muted h6">{{ post.author.name }} <br /> {{ post.created_on}} </p>
							<p class="card-text">{{post.excerpt | safe }}<br /><br />
								<a href="{{ post.get_absolute_url }}">Read More >></a></p>
						</div>
					</div>
					<br />
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{%endblock%}

{% block scripts %}
<script>
	$(document).ready(function () {
		$(".card").hover(
			function () {
				$(this).addClass('shadow-none').css('cursor', 'pointer');
			}, function () {
				$(this).removeClass('shadow-none');
			}
		);
	});
</script>
{% endblock scripts %}
