{% extends "base2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load reviews %}
{% block head %}
{{block.super }}
<link href="/static/reviews/css/star-rating.css" type="text/css" media="all" rel="stylesheet">
{% endblock head %}
{% block title %}{{ block.super }}Blog{% endblock %}
{% block navbar-left %}
{% include "_navbar.html" with active_link="blog" %}
{% endblock %}

{% block splash %}
<div class="jumbotron jumbotron-fluid jumbotron-projects">
	<div class="container">
		<h1 class="display-5 pb-0"><br>Review</h1>
		<p class="lead text-light">Rate and comment</p>
	</div>
</div>
{% endblock splash %}

{% block list_of_items %}
<div class="container mt-5">
    <div class="row">
		<div class="col-12 col-sm-12 ">
			<div class="card  shadow">
				<div class="card-text p-3">

                {% get_review_form for blog.post postID as form %}

                    <form action="{% review_form_target %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                {{ form.rating | as_crispy_field}}                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12">
                            {{ form.comment | as_crispy_field}}
                            </div>
                        </div>

                        {{form.honeypot}}
                        {{form.id}}
                        {{form.content_type}}
                        {{form.object_pk}}
                        {{form.timestamp}}
                        {{form.security_hash}}

                        <input type="hidden" name="next" value="{% url 'post_detail' postID %}" />

                        <input type="submit" name="submit" value="Send">                        
                        <input type="button" name="cancel" value="Cancel" onclick="javascript:history.back();">
                    </form>
                </div>
            </div>
		</div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/reviews/js/star-rating.js"></script>
<script>    
    var starRatingControls = new StarRating('#id_rating', {clearable: false, showText: true, initialText: 'Select a rating'});
</script>
{% endblock %} 