{% extends 'baseblog.html' %}
{% load reviews %}
{% block list_of_items %}
<link href="/static/reviews/css/star-rating.css" type="text/css" media="all" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-sm-10 col-12">
          <div class="card mt-5 mb-5 shadow">
            <div class="card-body">
              <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
              {% get_rating for post as avg_rating %}
              {% get_review_count for post as review_count %}
              <span class="gl-star-rating-stars s{{ avg_rating | stringformat:'d'}}0 readonly">
                <span data-value="1" data-text="Terrible"></span>
                <span data-value="2" data-text="Poor"></span>
                <span data-value="3" data-text="Average"></span>
                <span data-value="4" data-text="Very Good"></span>
                <span data-value="5" data-text="Excellent"></span>
              </span>
              {{ review_count }} <a href="#review-list">{% if review_count == 1 %} review {% else %} reviews {% endif %}</a>
              <p class=" text-muted">{{ post.author }} <br/> {{ post.created_on }}</p>
              <p class="card-text ">{{ object.content | safe }}</p>
              <hr/>
              {% render_review_list for post %}
              {% if user.is_authenticated %}
                <a class="btn btn-outline-secondary" href="/post_review/{{project.id}}">Review</a>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock list_of_items %}
