:root {
    --wood: #494a42;
    --lightBlue: #6ccde7;
    --lightBlueOpacity: #d0eef7; 
    --darkGreen: #8dbc41;
    --darkGreen2: #7dac31;
    --palid: #abb79b;
    --darkBlue: #24abe2;
    --darkBlue2: #149bd2;
    --lightGreen: #d7e028;
    --gray3: #333;
    --gray7: #777;
    --lightGray: #fafafa;
    --white: #fff;
    --black: #000;
    --lightPink: #f7ebec;
}

body {
    color: var(--gray7) !important;
    background-color: var(--white) !important;
    font-weight: 300 !important;
}
h1, h2, h3 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 300 !important;
}
h4, h5, h6 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 300 !important;
}
.active{
    color: var(--darkBlue2) !important;
    /* Otros estilos que desees aplicar a la sección activa */
  }




.bg-dark{
    color: #fff !important;
} 

/* Backgrounds */
.bg-my-darkBlue{
    background-color: var(--darkBlue) !important;
    color: #fff !important;
}
.bg-my-lightBlue{
    background-color: var(--lightBlue) !important;
    color: var(--black) !important;
}
.bg-my-lightGreen{
    background-color: var(--lightGreen) !important;
    color: var(--black) !important;
}
.bg-my-wood{
    background-color: var(--wood) !important;
    color: #fff !important;
}
.bg-my-darkGreen{
    background-color: var(--darkGreen) ! important;
    color: #fff !important;
}
.bg-my-White{
    background-color: var(--white) !important;
    color: var(--gray3) !important;
}

/* Cards */
.card{
}
a.card-title:hover{
    color: var(--lightBlue) !important;
    transition: 0.3s;
}
a.card-title{
    color: #594a42 !important;
}


/* Buttons */
.btn-my-outline-darkBlue{
    border: 1px solid var(--darkBlue) !important;
    color: var(--darkBlue);
}
.btn-my-outline-darkBlue:hover{
    background-color: var(--darkBlue);
    color: var(--white);
    transition: 0.3s;
}
.btn-my-darkBlue{
    background-color: var(--darkBlue);
    color: var(--white);
}
.btn-my-darkBlue:hover{
    background-color: var(--darkBlue2);
    color: var(--white);
    transition: 0.3s;
}

.btn-my-darkBlue2{
    background-color: var(--darkBlue);
    color: var(--white);
    margin: 1em auto;
    margin-top: 8px;
    margin-bottom: 8px;
}
.btn-my-darkBlue2:hover{
    background-color: var(--darkBlue2);
    color: var(--white);
    margin: 1em auto;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: 0.3s;
}

.btn-my-darkGreen{
    background-color: var(--darkGreen);
    color: var(--white);
}
.btn-my-darkGreen:hover{
    background-color: var(--darkGreen2);
    color: var(--white);
    transition: 0.3s;
}
.btn-my-palid{
    background-color: var(--palid);
    color: var(--black);
}
.btn-my-palid:hover{
    background-color: var(--darkBlue2);
    color: var(--white);
    transition: 0.3s;
}

.btn-my-outline-darkGreen{
    border: 1px solid var(--darkGreen) !important;
    color: var(--darkGreen);
}
.btn-my-outline-darkGreen:hover{
    background-color: var(--darkGreen);
    color: var(--white);
    transition: 0.3s;
}


/* Links */
a{
    text-decoration: none;
    color: var(--darkBlue);
}
.nav-link{
    color: var(--gray5) !important;
}
.nav-link:hover{
    color: var(--gray3) !important;
}
.dropdown-item{
    color: var(--gray5) !important;
}
.dropdown-item:hover{
    color: var(--gray3) !important;
}



/* Text-colors */
.lightBlue-color{
    color: var(--lightBlue) !important;
}
.darkGreen-color{
    color: var(--darkGreen) !important;
}
.wood-color{
    color: var(--wood) !important;
}
.gray7-color{
    color: var(--gray7) !important;
}

/* Related with images */
.profileImage{
    height: 400px !important;
    width: 100% !important;
}


/* Other */
.help-block{
    font-size: small;
}
.list-group-item-action.active{
    background: var(--lightBlue) !important;
    border: var(--lightBlue) !important;
}
.img-card{
	aspect-ratio: attr(width) / attr(height);
}
.fa{
    font-weight: 100 !important;
}
.heart{
    cursor: pointer;
}
.followIcon{
    cursor: pointer;
}

/* subnavbar */
.subnavbar-item{
    border-bottom: 2px solid var(--white) !important;

}

.subnavbar-item .active{
    color: var(--darkBlue2) !important;
    border-bottom: 2px solid var(--lightBlue) !important;

}
.subnavbar-item:hover{
    color: var(--darkBlue2) !important;
    transition: 0.5s;
}

.subnavbarCounter-text {
    font-size: 16px;
}


/* Related to ambassadors */

    .ambassador-card {
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        overflow: hidden;
        margin: 15px;
        background-color: var(--lightBlueOpacity);
        transition: box-shadow 0.3s;
        transition: transform 0.2s;
    }

    .ambassador-card:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transform: scale(1.05);
    }

    .ambassador-image img {
        width: 120px;
        height: 120px;
        object-fit: cover;
    }

    .ambassador-info {
        padding: 10px 20px;
        flex-direction: column;
        justify-content: center;
    }

    .country {
        color: var(--black);
        font-weight: bold;
        margin-bottom: 8px;
    }

    .name {
        font-weight: bolder;
        color: var(--darkGreen);
        margin-bottom: 6px;
    }

    .role, .affiliation {
        color: var(--gray7);
        margin-bottom: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
    }

    .link a {
        color: var(--darkBlue2);
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 90%; 
        margin-left: auto;
        margin-right: auto;
    }

    .link a:hover {
        text-decoration: underline;
    }

    
    .ambassadors-container {
        display: flex;        
        flex-wrap: wrap;     
        justify-content: center; 
    }

    /* Media query Small-screens (cellphones) */
    @media (max-width: 600px) {
        .ambassador-card {
            width: 100%;    
        }
    }

    /* Media query Mid-screens (tablets) */
    @media (min-width: 601px) and (max-width: 900px) {
        .ambassador-card {
            width: 48%;     
        }
    }

    /* Media query Big screens */
    @media (min-width: 901px) {
        .ambassador-card {
            width: 30%;     
        }
    }

    
    figure {
        display: flex;
        margin-top: 24px;
        flex-direction: column;
        align-items: center; /* Center vertically */
    }

    
    figure img {
        width: 600px;
        border: 1px solid var(--darkGreen); 
        margin: 0 auto; 
    }

    figure figcaption {
        margin-bottom: 24px; 
        text-align: center; /* Center horizontally */
    }

    .ambassador-modal {
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        overflow: hidden;
        margin: 15px;
        background-color: var(--lightBlueOpacity);
        width: 100%; /* Aquí definimos una anchura del 80% de su contenedor. Ajusta según tus necesidades */
        max-width: 600px; /* Define un ancho máximo si es necesario */
    }
    
    /* Estilo para la información dentro del modal. Si quieres un padding diferente al de la card, ajústalo aquí */
    .ambassador-modal .ambassador-info {
        padding: 20px 30px;
    }
    
    /* Aquí ajustamos el comportamiento de los textos dentro del modal */
    .ambassador-modal .role, .ambassador-modal .affiliation, .ambassador-modal .link a {
        white-space: normal; /* Permitir salto de línea */
        text-overflow: clip; /* Eliminar el comportamiento de los puntos suspensivos */
    }

    #accordion-button {
        transition: opacity 0.5s ease;
    }
    

