{% extends "base2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% block head %}
{{block.super }}
{% leaflet_js %}
{% leaflet_css %}
{{ form.media.css }}
{% endblock head %}

{% block title %}{{ block.super }}Projects{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="" %}
{% endblock %}


{% block list_of_items %}

    <!-- MODAL TO CROP THE IMAGE -->
    <div class="modal fade" id="modalCrop">
      <div class="modal-dialog mdialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Crop the photo</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="" id="image" style="max-width: 100%;">
          </div>
          <div class="modal-footer">
            <div class="btn-group pull-left" role="group">
              <button type="button" class="btn btn-default js-zoom-in">
                <span><i class="material-icons" style="font-size: 18px;">zoom_in</i> </span>
              </button>
              <button type="button" class="btn btn-default js-zoom-out">
                <span><i class="material-icons" style="font-size: 18px;">zoom_out</i></span>
              </button>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END MODAL TO CROP -->
    
<div class="container fluid">
	<div class="card mb-4">
		<div class="card-title p-3">
			<h3>Edit project
            <button type="submit" class="btn btn-danger float-right" onclick="location.href='{% url 'deleteProject' project.id %}'"
              name='deleteProject'><i class="fas fa-trash-alt"></i> Delete
            </button>
				</h3>
		</div>
		<div class="card-text p-3">
  <table class="table mb-0">

          <form action="/editProject/{{project.id}}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <br />

            <div>
              <h4>Project info</h4>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                <input type="hidden" id="projectID" name="projectID" value={{project.id}}>
                {{ form.project_name|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">
                {{ form.aim|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                {{ form.description|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">
                {{ form.keywords|as_crispy_field }}
                {{form.choices |as_crispy_field}}
                {{form.choicesSelected|as_crispy_field}}
              </div>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                {{ form.topic|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">
                {{ form.status|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                {{ form.start_date|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">
                {{ form.end_date|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                {{ form.url|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">
                
              </div>
            </div>


            <hr />
            <h4>Contact person info</h4>
            <a id="contactinfo" href="#">Show</a>
            <div id="contactinfoform" style="display:none">
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.contact_person|as_crispy_field }}
                </div>
                <div class="col-5 p-3 ml-5">
                  {{ form.contact_person_email|as_crispy_field }}
                </div>
              </div>
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.contact_person_phone|as_crispy_field }}
                </div>

              </div>
            </div>
            <hr />
            
            
            <h4>Images and communications</h4>
            <a id="images" href="#">Show</a>
            <div id="imagesform" style="display:none">
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.image|as_crispy_field }}
                  {{ form.x|as_crispy_field }}
                  {{ form.y|as_crispy_field }}
                  {{ form.height|as_crispy_field }}
                  {{ form.width|as_crispy_field }}
                  <a id="imgResult" href="#"> <img id="imageResult" src="{{ project.image }}" alt="Image not upload"></a>
                </div>
                <div class="col-5 p-3 ml-5">
                  {{ form.image_credit|as_crispy_field }}
                </div>
              </div>                              
            </div>
            <hr />

            <h4>Geography</h4>
            <a id="geography" href="#">Show</a>
            <div id="geographyform" style="display:none">
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.latitude|as_crispy_field }}
                </div>
                <div class="col-5 p-3 ml-5">
                  {{ form.longitude|as_crispy_field }}
                </div>
              </div>
            </div>
            {% leaflet_map "map" callback="window.map_init_basic" %}  
            <hr />

            <h4>Personal and Organizational Affiliates</h4>
            <a id="organization" href="#">Show</a>
            <div id="organizationform" style="display:none">
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.host|as_crispy_field }}
                </div>
                <div class="col-5 p-3 ml-5">
                </div>
              </div>
            </div>
            <hr />


            <h4>Supplementary information for Citizen Science</h4>
            <a id="information" href="#">Show</a>
            <div id="informationform" style="display:none">
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.how_to_participate|as_crispy_field }}
                </div>
                <div class="col-5 p-3 ml-5">
                  {{ form.equipment|as_crispy_field }}
                </div>
              </div>
            </div>
            <hr />
              <button onclick="completeSubmit()" type="submit" class="btn btn-success"><i class="fas fa-share-square"></i> Save</button>
          </form>
      </div>

      </table>

		</div>
	</div>
</div>

{% endblock list_of_items %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
<script src="{% static 'scripts/cropper.min.js' %}"></script>
<script src="{% static 'scripts/jquery-cropper.min.js' %}"></script>
<script>
  $(document).ready(function () {
    var choices = $("#id_choices").val();
    var choices = choices.split(",");
    var choicesSelected = $("#id_choicesSelected").val().split(",");
    for (choice of choices){
      var encontrado = false;
      for(sel of choicesSelected){
        if(sel.trim() == choice.trim()){
          encontrado = true;
          $("#id_keywords").append("<option value='" + choice +"' selected> " + choice + " </option>");
        }
      }  
      if(!encontrado){
        $("#id_keywords").append("<option value='" + choice +"'> " + choice + " </option>");
      }    
    }

    $("#div_id_keywords div").on('keyup', function(){
      var key = $(".selection input").val();
      if (key.indexOf(',') > -1) {
         var word =key.slice(0, -1);
         $(".selection input").val("");
         $("#id_keywords").append("<option value='" + word +"' selected> " + word + " </option>");
      }      
    });


    $('#contactinfo').on('click', function () {
      $('#contactinfoform').toggle() ;
      $('html,body').animate({ scrollTop: $("#contactinfo").offset().top - 160 }, { duration: "slow" });
    });

    $('#images').on('click', function () {
      $('#imagesform').toggle();
      $('html,body').animate({ scrollTop: $("#images").offset().top - 160 }, { duration: "slow" });
    });

    $('#geography').on('click', function () {
      $('#geographyform').toggle();
      $('html,body').animate({ scrollTop: $("#geography").offset().top - 160 }, { duration: "slow" });
    });

    $('#organization').on('click', function () {
      $('#organizationform').toggle();
      $('html,body').animate({ scrollTop: $("#organization").offset().top - 160 }, { duration: "slow" });
    });

    $('#information').on('click', function () {
      $('#informationform').toggle();
      $('html,body').animate({ scrollTop: $("#information").offset().top - 160 }, { duration: "slow" });
    });

    $('#imgResult').on('click', function () {
      $('html,body').animate({ scrollTop: $("#imgResult").offset().top - 220 }, { duration: "slow" });
    });

  });


  $(function () {
    changed = false;
    /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
    $("#id_image").change(function () {
      $('#imageResult').attr('src', '');
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          changed = true;
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
    });

    $("#imageResult").click(function () {
      if(!changed)
        $("#id_image").click();
      else{
        //$("#image").attr("src", $("#imageResult").attr("src"));
        $("#modalCrop").modal("show");
      }

    });

    /* SCRIPTS TO HANDLE THE CROPPER BOX */
    var $image = $("#image");
    var cropBoxData;
    var canvasData;
    $("#modalCrop").on("shown.bs.modal", function () {
      $image.cropper({
        viewMode: 0,
        minCropBoxWidth: 400,
        minCropBoxHeight: 300,
        dragMode: 'move',
        guides: false,
        center: false,
        highlight: false,        
        cropBoxResizable: false,
        toggleDragModeOnDblclick: false,        
        ready: function () {
          $image.cropper("setCanvasData", canvasData);
          $image.cropper("setCropBoxData", cropBoxData);
        }
      });
    }).on("hidden.bs.modal", function () {
      cropBoxData = $image.cropper("getCropBoxData");
      canvasData = $image.cropper("getCanvasData");
      $image.cropper("destroy");
    });

    $(".js-zoom-in").click(function () {
      $image.cropper("zoom", 0.1);
    });

    $(".js-zoom-out").click(function () {
      $image.cropper("zoom", -0.1);
    });

    /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
    $(".js-crop-and-upload").click(function () {     
      var cropData = $image.cropper("getData");      
      $("#id_x").val(cropData["x"]);
      $("#id_y").val(cropData["y"]);
      $("#id_height").val(cropData["height"]);
      $("#id_width").val(cropData["width"]);    
      $("#modalCrop").modal("hide");
      $('#imageResult').attr('src', $image.cropper('getCroppedCanvas', {width: 400, height: 300}).toDataURL());      
    });

  });
</script>

<script type="text/javascript">
  var map;
  var marker_layer = new L.marker([50.5, 30.5]);
  
  function editMarker(e){
    map.removeLayer(marker_layer);
    marker_layer = new L.marker(e.latlng, {draggable:true});
    marker_layer.on('drag', function (e) {
      $("#id_latitude").val((e.latlng.lat).toFixed(6));
      $("#id_longitude").val((e.latlng.lng).toFixed(6));
    });
    map.addLayer(marker_layer);
    $("#id_latitude").val((e.latlng.lat).toFixed(6));
    $("#id_longitude").val((e.latlng.lng).toFixed(6));
  }

  function map_init_basic (leafmap, options) {      
      map = leafmap;
      var obj = { latlng: { 
        lat: parseFloat($("#id_latitude").val()), 
        lng: parseFloat($("#id_longitude").val()) } 
      }
      if($("#id_latitude").val())
        editMarker(obj); 
      map.on('click', editMarker);        
  }

  function completeSubmit(){
    var option_all = $("#id_keywords option:selected").map(function () {
        return $.trim($(this).text());
      }).get().join(',');
      
      $("#id_choices").val(option_all);
      $("#id_keywords").empty();
  }

</script>
{{ form.media.js }}
{% endblock scripts %}
