{% extends "base2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% block head %}
{{block.super }}
{% leaflet_js %}
{% leaflet_css %}
{{ form.media.css }}
{% endblock head %}

{% block title %}{{ block.super }}Projects{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="" %}
{% endblock %}


{% block list_of_items %}

    <!-- MODAL TO CROP THE IMAGE -->
    <div class="modal fade" id="modalCrop">
      <div class="modal-dialog mdialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Crop the photo</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="" id="image" style="max-width: 100%;">
          </div>
          <div class="modal-footer">
            <div class="btn-group pull-left" role="group">
              <button type="button" class="btn btn-default js-zoom-in">
                <span><i class="material-icons" style="font-size: 18px;">zoom_in</i> </span>
              </button>
              <button type="button" class="btn btn-default js-zoom-out">
                <span><i class="material-icons" style="font-size: 18px;">zoom_out</i></span>
              </button>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END MODAL TO CROP -->
    
<div class="container fluid">
	<div class="card mb-4">
		<div class="card-title p-3">
			<h3>Edit project
            <button type="submit" class="btn btn-danger float-right" onclick="location.href='{% url 'deleteProject' project.id %}'"
              name='deleteProject'><i class="fas fa-trash-alt"></i> Delete
            </button>
				</h3>
		</div>
		<div class="card-text p-3">
  <table class="table mb-0">
          <form action="/editProject/{{project.id}}" class="edit-project" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
              <h4>Project info</h4>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                <input type="hidden" id="projectID" name="projectID" value={{project.id}}>
                {{ form.project_name|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">
                {{ form.aim|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                {{ form.description|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">
                {{ form.keywords|as_crispy_field }}
                {{form.choices |as_crispy_field}}
                {{form.choicesSelected|as_crispy_field}}
              </div>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                {{ form.topic|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">
                {{ form.status|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                {{ form.start_date|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">
                {{ form.end_date|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                {{ form.url|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">
                
              </div>
            </div>


            <hr />
            <h4>Contact person info</h4>
            <div id="contactinfoform">
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.contact_person|as_crispy_field }}
                </div>
                <div class="col-5 p-3 ml-5">
                  {{ form.contact_person_email|as_crispy_field }}
                </div>
              </div>
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.contact_person_phone|as_crispy_field }}
                </div>

              </div>
            </div>
            <hr />
            <h4>Images and communications</h4>
            <div id="imagesform">
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.image1|as_crispy_field }}
                  {{ form.x1|as_crispy_field }}
                  {{ form.y1|as_crispy_field }}
                  {{ form.height1|as_crispy_field }}
                  {{ form.width1|as_crispy_field }}
                  <a id="imgResult1" href="#"> <img class="img-fluid img-zoom" id="imageResult1" src="{{ project.image1 }}" alt="Image not upload"></a>
                </div>
                <div class="col-5 p-3 ml-5">
                  {{ form.image_credit1|as_crispy_field }}
                </div>
              </div>
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.image2|as_crispy_field }}
                  {{ form.x2|as_crispy_field }}
                  {{ form.y2|as_crispy_field }}
                  {{ form.height2|as_crispy_field }}
                  {{ form.width2|as_crispy_field }}
                  <a id="imgResult2" href="#"> <img class="img-fluid img-zoom" id="imageResult2" src="{{ project.image2 }}" alt="Image not upload"></a>
                </div>
                <div class="col-5 p-3 ml-5">                 
									{{ form.image_credit2|as_crispy_field }}
                </div>                
              </div>              
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.image3|as_crispy_field }}
                  {{ form.x3|as_crispy_field }}
                  {{ form.y3|as_crispy_field }}
                  {{ form.height3|as_crispy_field }}
                  {{ form.width3|as_crispy_field }}
                  <a id="imgResult3" href="#"> <img class="img-fluid img-zoom" id="imageResult3" src="{{ project.image3 }}" alt="Image not upload"></a>
                </div>
                <div class="col-5 p-3 ml-5">                 
									{{ form.image_credit3|as_crispy_field }}
                </div>                
              </div>                               
            </div>
            <hr />

            <h4>Geography</h4>
						<p>Main location where the project takes place (click on the map)</p>
            <div id="geographyform">
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.latitude|as_crispy_field }}
                </div>
                <div class="col-5 p-3 ml-5">
                  {{ form.longitude|as_crispy_field }}
                </div>
              </div>
            </div>
            {% leaflet_map "map" callback="window.map_init_basic" %}  
            <hr />

            <h4>Personal and Organizational Affiliates</h4>
            <div id="organizationform">
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.host|as_crispy_field }}
                </div>
                <div class="col-5 p-3 ml-5">
                </div>
              </div>
            </div>
            <hr />


            <h4>Supplementary information for Citizen Science</h4>
            <div id="informationform">
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.how_to_participate|as_crispy_field }}
                </div>
                <div class="col-5 p-3 ml-5">
                  {{ form.equipment|as_crispy_field }}
                </div>
              </div>
            </div>
            <hr />

            <h4>Funding</h4>
            <div id="fundingform">
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.funding_body|as_crispy_field }}
                  {{ form.fundingBodySelected|as_crispy_field }}
                </div>
                <div class="col-5 p-3 ml-5">
                  {{ form.funding_program|as_crispy_field }}
                </div>
              </div>
              <div class="row">
                <div class="col-5 p-3 ml-5">
                  {{ form.funding_agency|as_crispy_field }}
                  {{ form.fundingAgencySelected|as_crispy_field }}
                </div>
                <div class="col-5 p-3 ml-5">
                </div>
              </div>
            </div>
            <hr />

              <button type="submit" class="btn btn-success"><i class="fas fa-share-square"></i> Save</button>
          </form>
      </div>

      </table>

		</div>
	</div>
</div>

{% endblock list_of_items %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
<script src="{% static 'scripts/cropper.min.js' %}"></script>
<script src="{% static 'scripts/jquery-cropper.min.js' %}"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"></script>
<script>
  $(document).ready(function () {
    var choices = $("#id_choices").val();
    var choices = choices.split(",");
    var choicesSelected = $("#id_choicesSelected").val().split(",");
    for (choice of choices){
      var found = false;
      for(sel of choicesSelected){
        if(sel.trim() == choice.trim()){
          found = true;
          $("#id_keywords").append("<option value='" + choice +"' selected> " + choice + " </option>");
        }
      }  
      if(!found){
        $("#id_keywords").append("<option value='" + choice +"'> " + choice + " </option>");
      }    
    }

    var funding_body = $("#id_funding_body option").map(function () {
      return $.trim($(this).text());
    }).get();
    $("#id_funding_body").empty();
    var sel = $("#id_fundingBodySelected").val()
    for(fb of funding_body){
      if(sel.trim() == fb.trim()){
          $("#id_funding_body").append("<option value='" + fb +"' selected> " + fb + " </option>");
        }
        else{
          $("#id_funding_body").append("<option value='" + fb +"'> " + fb + " </option>");
        }
    }

    var funding_agency = $("#id_funding_agency option").map(function () {
      return $.trim($(this).text());
    }).get();
    $("#id_funding_agency").empty();
    var sel = $("#id_fundingAgencySelected").val()
    for(fb of funding_agency){
      if(sel.trim() == fb.trim()){
          $("#id_funding_agency").append("<option value='" + fb +"' selected> " + fb + " </option>");
        }
        else{
          $("#id_funding_agency").append("<option value='" + fb +"'> " + fb + " </option>");
        }
    }

    $("#div_id_keywords div").on('keyup', function(){
      var key = $("#div_id_keywords .selection input").val();
      if (key.indexOf(',') > -1) {
         var word =key.slice(0, -1);
         $("#div_id_keywords .selection input").val("");
         $("#id_keywords").append("<option value='" + word +"' selected> " + word + " </option>");
      }      
    });

    $("#div_id_funding_body div").on('select2:open', function(){
      if($("#id_fundingBodySelected").val()){
        $("#id_funding_body").removeAttr('multiple');
      }
      
    });
    $("#div_id_funding_body div").on('keyup', function(){
      var key = $("#div_id_funding_body .selection input").val();
      $("#id_funding_body").removeAttr('multiple');
      if (key.indexOf(',') > -1) {
         var word =key.slice(0, -1);
         $("#div_id_funding_body .selection input").val("");
         $("#id_funding_body").append("<option value='" + word +"' selected> " + word + " </option>");
      }      
    });

    $("#div_id_funding_agency div").on('select2:open', function(){
      if($("#id_fundingAgencySelected").val()){
        $("#id_funding_agency").removeAttr('multiple');
      }      
    });
    $("#div_id_funding_agency div").on('keyup', function(){
      var key = $("#div_id_funding_agency .selection input").val();
      $("#id_funding_agency").removeAttr('multiple');
      if (key.indexOf(',') > -1) {
         var word =key.slice(0, -1);
         $("#div_id_funding_agency .selection input").val("");
         $("#id_funding_agency").append("<option value='" + word +"' selected> " + word + " </option>");         
      }      
    });

    $('#contactinfo').on('click', function () {
      $('#contactinfoform').toggle() ;
      $('html,body').animate({ scrollTop: $("#contactinfo").offset().top - 160 }, { duration: "slow" });
    });

    $('#images').on('click', function () {
      $('#imagesform').toggle();
      $('html,body').animate({ scrollTop: $("#images").offset().top - 160 }, { duration: "slow" });
    });

    $('#geography').on('click', function () {
      $('#geographyform').toggle();
      $('html,body').animate({ scrollTop: $("#geography").offset().top - 160 }, { duration: "slow" });
    });

    $('#organization').on('click', function () {
      $('#organizationform').toggle();
      $('html,body').animate({ scrollTop: $("#organization").offset().top - 160 }, { duration: "slow" });
    });

    $('#information').on('click', function () {
      $('#informationform').toggle();
      $('html,body').animate({ scrollTop: $("#information").offset().top - 160 }, { duration: "slow" });
    });

    $('#funding').on('click', function () {
      $('#fundingform').toggle();
      $('html,body').animate({ scrollTop: $("#funding").offset().top - 160 }, { duration: "slow" });
      $('.select2-container').attr("style", "width:100%");
    });

    $('#imgResult').on('click', function () {
      $('html,body').animate({ scrollTop: $("#imgResult").offset().top - 220 }, { duration: "slow" });
    });


    $("form").submit(function (e) {      
      $('#contactinfoform').show();
      $('#informationform').show();
      $('#imagesform').show();
      $('#organizationform').show();
      $('#geographyform').show();
      $('#fundingform').show(); $('.select2-container').attr("style", "width:100%");
      var validationFailed = false;

      $.each($("[required]"), function (index, value) {
            var id = $(value).parent().parent().attr('id');
            $("#" + id + " .errorMsg").remove();
            if(!$(value).val()){
              validationFailed = true;               
              $(value).parent().append("<span class='errorMsg'> <b>Required field (*)</b></span>");
            }
        });

      if (validationFailed) {
          e.preventDefault();
          $('html,body').animate({ scrollTop: $(".edit-project").offset().top - 160 }, { duration: "slow" });
          return false;
      }else{
        var option_all = $("#id_keywords option:selected").map(function () {
        return $.trim($(this).text());
        }).get().join(',');      
        $("#id_choices").val(option_all);
        $("#id_keywords").empty();

        var fundingBody = $("#id_funding_body option:selected").map(function () {
          return $.trim($(this).text());
        }).get().join(',');
        $("#id_fundingBodySelected").val(fundingBody);
        $("#id_funding_body").empty();

        var fundingAgency = $("#id_funding_agency option:selected").map(function () {
          return $.trim($(this).text());
        }).get().join(',');
        $("#id_fundingAgencySelected").val(fundingAgency);
        $("#id_funding_agency").empty();
      }
    });

  });


  $(function () {
    changed = false;
    var imgSelected;
    /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
    $("#id_image1").change(function () {
      imgSelected = 1;
      $('#imageResult').attr('src', '');
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          changed = true;
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
    });

    $("#id_image2").change(function () {
      imgSelected = 2;
      $('#imageResult2').attr('src', '');
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
    });

    $("#id_image3").change(function () {
      imgSelected = 3;
      $('#imageResult3').attr('src', '');
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
    });

    $("#imageResult1").click(function () {
      if(!changed)
        $("#id_image1").click();
      else{
        $("#modalCrop").modal("show");
      }

    });

    $("#imageResult2").click(function () {
      $("#modalCrop").modal("show");
    });

    $("#imageResult3").click(function () {
      $("#modalCrop").modal("show");
    });

    /* SCRIPTS TO HANDLE THE CROPPER BOX */
    var $image = $("#image");
    var cropBoxData;
    var canvasData;
    $("#modalCrop").on("shown.bs.modal", function () {
      $image.cropper({
        viewMode: 0,
	      aspectRatio: imgSelected == 3 ? 11/3 : 4/3,
        minCropBoxWidth: imgSelected == 3 ? 1100 : 400,
        minCropBoxHeight: 300,
        dragMode: 'move',
        guides: false,
        center: false,
        highlight: false,        
        cropBoxResizable: false,
        toggleDragModeOnDblclick: false,        
        ready: function () {
          $image.cropper("setCanvasData", canvasData);
          $image.cropper("setCropBoxData", cropBoxData);
        }
      });
    }).on("hidden.bs.modal", function () {
      cropBoxData = $image.cropper("getCropBoxData");
      canvasData = $image.cropper("getCanvasData");
      $image.cropper("destroy");
    });

    $(".js-zoom-in").click(function () {
      $image.cropper("zoom", 0.1);
    });

    $(".js-zoom-out").click(function () {
      $image.cropper("zoom", -0.1);
    });

    /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
    $(".js-crop-and-upload").click(function () {
      var cropData = $image.cropper("getData");
      $("#id_x" + imgSelected).val(cropData["x"]);
      $("#id_y" + imgSelected).val(cropData["y"]);
      $("#id_height" + imgSelected).val(cropData["height"]);
      $("#id_width" + imgSelected).val(cropData["width"]);
      $("#modalCrop").modal("hide");
      $('#imageResult' + imgSelected).attr('src', $image.cropper('getCroppedCanvas',
      	{width: imgSelected == 3 ? 1100 : 400, height: 300}).toDataURL());

    });

  });
</script>

<script type="text/javascript">
  var map;
  var marker_layer = new L.marker([50.5, 30.5]);
  
  function editMarker(e){
    map.removeLayer(marker_layer);
    marker_layer = new L.marker(e.latlng, {draggable:true});
    marker_layer.on('drag', function (e) {
      $("#id_latitude").val((e.latlng.lat).toFixed(6));
      $("#id_longitude").val((e.latlng.lng).toFixed(6));
    });
    map.addLayer(marker_layer);
    $("#id_latitude").val((e.latlng.lat).toFixed(6));
    $("#id_longitude").val((e.latlng.lng).toFixed(6));
  }

  function map_init_basic (leafmap, options) {
      map = leafmap;
      var obj = { latlng: { 
        lat: parseFloat($("#id_latitude").val()), 
        lng: parseFloat($("#id_longitude").val()) } 
      }
      if($("#id_latitude").val())
        editMarker(obj); 
      map.on('click', editMarker);        
  }

</script>
{{ form.media.js }}
{% endblock scripts %}
