{% load staticfiles %}

<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
    <br />
    <div class="container">
        <div style="float:right;"><a href="{% url 'clearfilters'%}">Clear <i class="fas fa-eraser"></i></a></div>
        <br />

        <form id="searchProjects" action="{% url 'projects' %}">
            <label for="keywords" style="color:black">Keywords</label>
            <input type="text" id="keywords" name="keywords" autocomplete="off" value="{{filters.keywords}}"
                class="basicAutoComplete form-control mb-4" placeholder="Keywords, project name" data-url="text_autocomplete/">
            
            <label for="topic" style="color:black">Topic:</label>
            <select id="topic" name="topic" class="custom-select topic-select">
                <option value="">Topic</option>
                {% for topic in topics %}                
                <option {% if topic.topic ==  filters.topic %} selected {% endif %} value="{{topic}}">
                    {{topic|capfirst}}
                </option>
                {% endfor %}
            </select>

            <br /><br />
            <label for="status" style="color:black">Status:</label>

            <select id="status" name="status" class="custom-select status-select">
                <option value="">-----</option>
                {% for s in status %}
                <option {% if s.id ==  filters.status %} selected {% endif %} value="{{s.id}}">
                    {{s.status|capfirst}}
                </option>
                {% endfor %}
            </select>

            <br /><br />
            <label for="host" style="color:black">Host</label>
            <input type="text" id="host" name="host" autocomplete="off" value="{{filters.host}}"
                class="basicAutoComplete form-control mb-4" placeholder="Host" data-url="host_autocomplete/">

            <br /><br />
            <button class="btn btn-info btn-block" id="search" type="submit">Find projects</button>
        </form>
    </div>
</aside>