{% load staticfiles %}
{% load countries %}
{% get_countries as countries %}
<!--div class="row">
<div class="col-12">
<h3> Projects</h3>
</div>
</div-->
<div class="row">
	<div class="col-lg-12 mb-3">
		{% if user.is_authenticated %}
		Search for citizen science projects by keyword or title, and filter further across a range of fields.<b> Submitted projects that have been checked by our Moderator,
			have been marked as 'Moderated'</b>. Read more about our <a href="/faq">moderation process.</a>
			{% else %}
			Search for citizen science projects by keyword or title, and filter further across a range of fields.
			Submitted projects that have been checked by our Moderator, have been marked as 'Moderated'.
			Read more about our <a href="/faq">moderation process</a>.
			To add your own project, please first <a href="/signup">Sign Up</a> or <a href="/login">Log In</a>.
			{% endif %}
		</div>
	</div>
	<div class="row">
		<form class="form-inline float-lg-right" id="searchProjects" action="{% url 'projects' %}">
			<div class="col-12 col-lg-9">
				<div class="float-right">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-search"></i></div>
						</div>
						<input size="80" type="text" id="keywords" name="keywords"  autocomplete="off"
						value="{{filters.keywords}}" class="basicAutoComplete form-control" placeholder="Title or keywords"
						data-url="text_autocomplete/?status={{filters.status}}&country={{filters.country}}&topic={{filters.topic}}&featuredCheck={{filters.featuredCheck}}">
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-12  text-right float-rigth">
				<div class="input-group mb-3">

					<div class="input-group-prepend">
						<div class="input-group-text"><i class="fas fa-sort-amount-down"></i></div>
					</div>
					<select id="orderby" name="orderby" class="custom-select form-control float-right">
						<option value="-id" {% if filters.orderby == "-id" %} selected {% endif %}>Newest</option>
						<option value="id" {% if filters.orderby == "id" %} selected {% endif %}>Oldest</option>
					</select>
				</div>
			</div>
			<div class="col-12 col-lg-10">
				<div class="float-left">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-filter"></i></div>
						</div>
						<select id="status" name="status" class="custom-select status-select form-control">
							<option value="">Status<option>
								{% for s in status %}
								<option {% if s.id ==  filters.status %} selected {% endif %} value="{{s.id}}">
									{{s.status|capfirst}}
								</option>
								{% endfor %}
							</select>
							<select id="country" name="country" class="custom-select form-control">
								<option value="">Country<option>
									{% for country in countries %}
									{% for cwc in countriesWithContent %}
									{% if country.code == cwc %}
									<option {% if country.code ==  filters.country %}
									selected {% endif %} value="{{ country.code }}">{{ country.name }}</option>
									{% endif %}
									{% endfor %}
									{% endfor %}
								</select>
								<select id="topic" name="topic" class="custom-select form-control">
									<option value="">Topic</option>
									{% for topic in topics %}
									<option {% if topic.topic ==  filters.topic %} selected {% endif %} value="{{topic}}">
										{{topic|capfirst}}
									</option>
									{% endfor %}
								</select>
								<select id="featuredCheck" name="featuredCheck" class="custom-select form-control">
									<option value="On" {% if filters.featuredCheck == "On" %} selected {% endif %}>Only Moderated</option>
									<option value="Off" {% if filters.featuredCheck == "Off" %} selected {% endif %}>Only not moderated</option>
									<option value="All" {% if filters.featuredCheck == "All" %} selected {% endif %}">All</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-12 text-right">
						{% if user.is_authenticated %}
						<a class="btn btn-warning mb-3 float-right" href="{% url 'new_project' %}" data-toggle="tooltip" data-placement="top" title="Click here to add a new project">
							<i class="fas fa-plus-circle"></i>&nbsp;Add
						</a>
						{% endif %}
					</div>

					{% if request.get_full_path != "/projects" %}
					<div class="col-lg-12 text-right mb-3">
						<a class="text-decoration-none text-muted" href="/projects"><i class="fas fa-times"></i> Clear current search query, filters, and sorts</a>
					</div>
					{% endif %}
				</form>
			</div>
