{% load staticfiles %}
{% load countries %}
{% get_countries as countries %}
<!--div class="row">
<div class="col-lg-12 mb-3">
Submitted projects that have been checked by our Moderator, have been marked as 'Moderated'.
Read more about our <a href="/faq">moderation process</a>.
</div>
</div-->
<div class="row">
	<form class="form-inline float-lg-right" id="searchProjects" action="{% url 'projects' %}">
		<!--div class="col-12 col-lg-12">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text"><i class="fas fa-search"></i></div>
				</div>
				<input  type="text" id="keywords" name="keywords"  autocomplete="off"
				value="{{filters.keywords}}" class="basicAutoComplete form-control form-control-lg" placeholder="Search for citizen science projects by title or keyword"
				data-url="text_autocomplete/?status={{filters.status}}&country={{filters.country}}&topic={{filters.topic}}&doingAtHome={{filters.doingAtHome}}&approvedCheck={{filters.approvedCheck}}">
				<div class="input-group-append">
					<div class="input-group-text"><a href="#" data-toggle="modal" data-target="#projectsinfo" ><i class="fas fa-info-circle"></i></a></div>
				</div>
			</div>
		</div!-->
		<input type="hidden" name="keywords" value="{{filters.keywords}}">
		<div class="col-lg-3 col-12  text-right float-rigth">
			<div class="input-group input-group-sm mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text"><i class="fas fa-sort-amount-down"></i></div>
				</div>
				<select id="orderby" name="orderby" class="custom-select form-control float-right">
					<!--option value="-id" {% if filters.orderby == "-id" %} selected {% endif %}>Newest to Oldest</option>
					<option value="id" {% if filters.orderby == "id" %} selected {% endif %}>Oldest to Newest</option-->
					<option value="-avg_rating" {% if filters.orderby == "-avg_rating" %} selected {% endif %}>Sort by rating</option>
					<!--option value="avg_rating" {% if filters.orderby == "avg_rating" %} selected {% endif %}>Worst average rating</option-->
				</select>
			</div>
		</div>
		<div class="col-12 col-lg-9 d-none d-sm-block">
			<div class="float-left">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text"><i class="fas fa-filter"></i></div>
					</div>
					<select id="status" name="status" class="custom-select status-select form-control">
						<option value="">Status<option>
							{% for s in status %}
							<option {% if s.id ==  filters.status %} selected {% endif %} value="{{s.id}}">
								{{s.status|capfirst}}
							</option>
							{% endfor %}
						</select>
						<select id="country" name="country" class="custom-select form-control">
							<option value="">Country<option>
								{% for country in countries %}
								{% for cwc in countriesWithContent %}
								{% if country.code == cwc %}
								<option {% if country.code ==  filters.country %}
								selected {% endif %} value="{{ country.code }}">{{ country.name }}</option>
								{% endif %}
								{% endfor %}
								{% endfor %}
							</select>
							<select id="topic" name="topic" class="custom-select form-control">
								<option value="">Topic</option>
								{% for topic in topics %}
								<option {% if topic.topic ==  filters.topic %} selected {% endif %} value="{{topic}}">
									{{topic|capfirst}}
								</option>
								{% endfor %}
							</select>
							<select id="doingAtHome" name="doingAtHome" class="custom-select form-control">
								<option value="">Doable at home<option>
									<option value=1 {% if filters.doingAtHome == 1 %} selected {% endif %}>Yes</option>
									<option value=0 {% if filters.doingAtHome == 0 %} selected {% endif %}>No</option>
								</select>
								<select id="approvedCheck" name="approvedCheck" class="custom-select form-control">
									<option value="On" {% if filters.approvedCheck == "On" %} selected {% endif %}>Moderated</option>
									<option value="Off" {% if filters.approvedCheck == "Off" %} selected {% endif %}>Not yet moderated</option>
									<option value="All" {% if filters.approvedCheck == "All" %} selected {% endif %}">All</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-6 mb-3">
						{{ counter }} result{% if counter != 1 %}s{% endif %} found
						{% if user.is_authenticated %}
						<!--a class="btn btn-dark mb-1" href="{% url 'downloadProjects' %}" data-toggle="tooltip" data-placement="top" title="Click here to download all the projects">
						<i class="fas fa-download"></i>&nbsp;DOWNLOAD
					</a-->
					{% else %}
					<!--a href="/signup">Sign up</a-->
					{% endif %}
				</div>
				{% if request.get_full_path != "/projects" %}
				<div class="col-lg-6 col-6 text-right mb-2">
					<a class="text-decoration-none text-muted" href="/projects"><i class="fas fa-times"></i> Clear current search query and filters</a>
				</div>
				{% endif %}
			</form>

		</div>
