<div class="container">
  <div class="row">
    <div class="modal fade" id="projectsinfo">
      <div class="modal-dialog mdialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Info</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <b>Search</b> projects by title or keywords by typing text directly into the the search bar<br/><br/>
            <b>Sort</b> projects by date or by rating<br/><br/>
            <b>Filter</b> search results by project status, country, or topic<br/><br/>

            Submitted projects that have been through the moderation process are marked as 'Moderated'.Only these will show in your search results unless you filter for 'not yet moderated' or 'All'.<br/><br/>

            Read more about our <a href="/moderation">moderation process</a><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
