{% extends "base2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% block head %}
{{block.super }}
{{ form.media.css }}
<link rel="stylesheet" href="{% static 'site/css/leaflet-geosearch_style.css' %}">
<link rel="stylesheet" href="{% static 'site/css/leaflet.css' %}">
{% leaflet_js %}
{% leaflet_css %}
{% endblock head %}

{% block title %}{{ block.super }} :: New projects{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="projects" %}
{% endblock %}


{% block list_of_items %}
<div class="container">
  <div class="row">

    <!-- MODAL TO CROP THE IMAGE -->
    <div class="modal fade modal-lg" id="modalCrop">
      <div class="modal-dialog mdialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Crop the photo</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-11">
                <img src="" id="image" class="img-fluid img-zoom" >
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="btn-group pull-left" role="group">
              <button type="button" class="btn btn-default js-zoom-in">
                <span><i class="material-icons" style="font-size: 18px;">zoom_in</i> </span>
              </button>
              <button type="button" class="btn btn-default js-zoom-out">
                <span><i class="material-icons" style="font-size: 18px;">zoom_out</i></span>
              </button>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
          </div>
        </div>
      </div>
    </div>

    <!-- SAVE MESSAGE MODAL -->
    <div class="modal fade" id="savedModal">
      <div class="modal-dialog mdialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Project is going to saved</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm">
                <p>Thank you</p>
                <p>Thank you for submitting your project profile. This has been sent to the EU-Citizen.Science moderation team, who will check it to ensure that all of the projects shared on the platform can indeed be considered citizen science projects.</p>
                <p>We will be in touch with you if we have any questions, and otherwise you will receive an alert that your project has been moderated and published to the platform. Your project profile will be visible to the public in the meantime, but will be marked as unmoderated.</p>
                <p>You can make updates or changes to this project profile at any time, by going to the Submitted projects section in your Personal Area (see the top-right of the platform menu).</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary read-before-save">OK</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-sm-10 col-12">
          <div class="card mt-5 mb-5 shadow">
            <div class="card-title  p-5">
              <div class="row">
                <div class="col-12">
                  <h2>New project</h2>
                  Thank you for proposing a citizen science project to be shared on the EU-Citizen.Science Platform.
                  Please fill in all of the mandatory information in the fields below (indicated with an asterisk*),
                  and as much of the non-mandatory information as possible.<br><br>
                  Citizen science embraces a wide range of project types, that can be adapted and applied within diverse
                  situations and disciplines, represent a range of approaches and historical practices for public
                  participation in scientific research, and involve participants in a range of activities across the research lifecycle. <br><br>
                  For guidance on whether your project can be considered to be a citizen science project,
                  please refer to the <a href="/about#ten" target="_blank">ECSA 10 Principles of Citizen Science.</a><br><br>
                  Upon saving this profile, your project will be submitted for moderation by one of the members of the
                  EU-Citizen.Science consortium. The moderation process is meant to ensure that all of the projects shared on
                  the platform can indeed be considered to be citizen science projects, and are in alignment with the 10 Principles
                  of Citizen Science (not as criteria that you must meet, but as a shared ethos that your project should be in alignment with).
                  Read more about the Moderation Process <a href="/faq#moderation" target="_blank"> here</a>.
                </div>
              </div>
            </div>
            <div class="card-text pr-5 pl-5 pb-5">
              <table class="table mb-0">
                <form action="/new_project" method="post" enctype="multipart/form-data" class="add-new-project" autocomplete="off">
                  {% csrf_token %}
                  <div>
                    <button type="submit" class="btn btn-green float-right"><i class="fas fa-share-square"></i> Save</button>
                    <br/><br/>
                  </div>
                  <div>
                    <h4>Project info</h4>
                  </div>

                  <div class="form-row">
                    <div class="col-12">
                      {{ form.project_name|as_crispy_field }}
                    </div>
                    <div class="col-12">
                      {{ form.keywords|as_crispy_field }}
                      {{form.choices |as_crispy_field}}
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-12">
                      {{ form.aim|as_crispy_field }}
                    </div>
                    <div class="col-12">
                      {{ form.description|as_crispy_field }}
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-12">
                      {{ form.topic|as_crispy_field }}
                    </div>
                    <div class="col-12">
                      {{ form.status|as_crispy_field }}
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-sm-6 col-12">
                      {{ form.start_date|as_crispy_field }}
                    </div>
                    <div class="col-sm-6 col-12">
                      {{ form.end_date|as_crispy_field }}
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-12">
                      {{ form.url|as_crispy_field }}
                    </div>
                    <div class="col-12">
                      {{ form.organisation|as_crispy_field }}
                    </div>
                  </div>

                  <hr />
                  <h4>Contact details</h4>
                  <div id="contactinfoform">
                    <div class="form-row">
                      <div class="col-12">
                        {{ form.host|as_crispy_field }}
                      </div>
                      <div class="col-12">
                        {{ form.contact_person|as_crispy_field }}
                      </div>
                      <div class="col-12">
                        {{ form.contact_person_email|as_crispy_field }}
                      </div>
                    </div>

                  <hr />
                  <h4>Project profile images</h4>
                  <div id="imagesform">
                    <div class="form-row">
                      <div class="col-sm-6 col-12">
                        {{ form.image1|as_crispy_field }}
                        {{ form.x1|as_crispy_field }}
                        {{ form.y1|as_crispy_field }}
                        {{ form.height1|as_crispy_field }}
                        {{ form.width1|as_crispy_field }}
                        {{ form.withImage1|as_crispy_field }}
                        <a id="imgResult1" href="#"> <img class="img-fluid img-zoom" id="imageResult1" src="" alt=""></a>
                      </div>
                      <div class="col-sm-6 col-12">
                        {{ form.image_credit1|as_crispy_field }}
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col-sm-6 col-12">
                        {{ form.image2|as_crispy_field }}
                        {{ form.x2|as_crispy_field }}
                        {{ form.y2|as_crispy_field }}
                        {{ form.height2|as_crispy_field }}
                        {{ form.width2|as_crispy_field }}
                        {{ form.withImage2|as_crispy_field }}
                        <a id="imgResult2" href="#"><img class="img-fluid img-zoom" id="imageResult2" src="" alt=""></a>
                      </div>
                      <div class="col-sm-6 col-12">
                        {{ form.image_credit2|as_crispy_field }}
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col-sm-6 col-12">
                        {{ form.image3|as_crispy_field }}
                        {{ form.x3|as_crispy_field }}
                        {{ form.y3|as_crispy_field }}
                        {{ form.height3|as_crispy_field }}
                        {{ form.width3|as_crispy_field }}
                        {{ form.withImage3|as_crispy_field }}
                        <a id="imgResult3" href="#"><img class="img-fluid img-zoom" id="imageResult3" src="" alt=""></a>
                      </div>
                      <div class="col-sm-6 col-12">
                        {{ form.image_credit3|as_crispy_field }}
                      </div>
                    </div>
                  </div>
                  <hr />
                  <h4>Geography</h4>
                  <p>Indicate the location where the project takes place when one location can be indicated, and otherwise indicate
                     the address of the Coordinator or Leading Partner. (Enter address or click on the map)</p>
                  <div id="geographyform">
                    {% leaflet_map "map" callback="window.map_init_basic" %}
                    <div class="form-row">
                      <div class="col-sm-6 col-12">
                        {{ form.latitude|as_crispy_field }}
                      </div>
                      <div class="col-sm-6 col-12">
                        {{ form.longitude|as_crispy_field }}
                      </div>
                    </div>
                  </div>
                  <hr />

                  <h4>Supplementary information for Citizen Science</h4>
                  <div id="informationform">
                    <div class="form-row">
                      <div class="col-12">
                        {{ form.how_to_participate|as_crispy_field }}
                      </div>
                      <div class="col-12">
                        {{ form.doingAtHome|as_crispy_field }}
                      </div>
                      <div class="col-12">
                        {{ form.equipment|as_crispy_field }}
                      </div>
                    </div>
                  </div>
                  <hr />
                  <h4>Funding</h4>
                  <div id="fundingform">
                    <div class="form-row">
                      <div class="col-12">
                        {{ form.funding_body|as_crispy_field }}
                        {{ form.fundingBodySelected|as_crispy_field }}
                      </div>
                      <div class="col-12">
                        {{ form.funding_program|as_crispy_field }}
                      </div>
                    </div>
                  </div>
                  <hr />
                  <h4>Origin information</h4>
                  <div id="originform">
                    <div class="form-row">
                      <div class="col-12">
                        {{ form.origin_database|as_crispy_field }}
                        {{ form.originDatabaseSelected|as_crispy_field }}
                      </div>
                      <div class="col-12">
                        {{ form.originUID|as_crispy_field }}
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-12">
                        {{ form.originURL|as_crispy_field }}
                      </div>
                    </div>
                  </div>
                  <hr />
                  <button type="submit" class="btn btn-green"><i class="fas fa-share-square"></i> Save</button>
                </form>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock list_of_items %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
<script src="{% static 'scripts/cropper.min.js' %}"></script>
<script src="{% static 'scripts/jquery-cropper.min.js' %}"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"></script>
<script src="{% static 'site/js/leaflet-geosearch_2_7.min.js' %}"></script>
<script>
  var readSavedConfirmation = false;
  $(document).ready(function () {
    $('.js-example-basic-single').select2();


    var choices = $("#id_choices").val();
    var choices = choices.split(",");

    for (choice of choices){
      $("#id_keywords").append("<option value='" + choice +"'> " + choice + " </option>");
    }

    $("#div_id_keywords div").on('keyup', function(){
      var key = $("#div_id_keywords .selection input").val();
      if (key.indexOf(',') > -1) {
        var word =key.slice(0, -1);
        $("#div_id_keywords .selection input").val("");
        $("#id_keywords").append("<option value='" + word +"' selected> " + word + " </option>");
      }
    });

    $("#div_id_funding_body div").on('change', function(){
      $("#id_funding_body").removeAttr('multiple');
    });

    $("#div_id_funding_body div").on('keyup', function(){
      var key = $("#div_id_funding_body .selection input").val();
      if (key.indexOf(',') > -1) {
        var word =key.slice(0, -1);
        $("#div_id_funding_body .selection input").val("");
        $("#id_funding_body").append("<option value='" + word +"' selected> " + word + " </option>");
        $("#id_funding_body").removeAttr('multiple');
      }
    });

    $("#div_id_origin_database div").on('change', function(){
      $("#id_origin_database").removeAttr('multiple');
    });

    $("#div_id_origin_database div").on('keyup', function(){
      var key = $("#div_id_origin_database .selection input").val();
      if (key.indexOf(',') > -1) {
        var word =key.slice(0, -1);
        $("#div_id_origin_database .selection input").val("");
        $("#id_origin_database").append("<option value='" + word +"' selected> " + word + " </option>");
        $("#id_origin_database").removeAttr('multiple');
      }
    });

    $("form").submit(function (e) {
      var validationFailed = false;
      if(!readSavedConfirmation){
        $.each($("[required]"), function (index, value) {
          var id = $(value).parent().parent().attr('id');
          $("#" + id + " .errorMsg").remove();
          if(!$(value).val()){
            validationFailed = true;
            $(value).parent().append("<span class='errorMsg'> <b>Required field (*)</b></span>");
          }
        });
        var email = $("#id_contact_person_email").val();
        if(email && !validateEmail(email)){
         validationFailed = true;
         $("#div_id_contact_person_email").append("<span class='errorMsg'> <b>Enter a valid email address.</b></span>");
        }
        //Check dates
        var start_date = $("#id_start_date").val();
        var end_date = $("#id_end_date").val();
        if (start_date != '' && end_date != '' && end_date < start_date){
          validationFailed = true;
          $("#div_id_end_date").append("<span class='errorMsg'> <b>End date should be greater than start date.</b></span>");
        }
      }

      if (validationFailed) {
        e.preventDefault();
        $('html,body').animate({ scrollTop: $(".add-new-project").offset().top - 160 }, { duration: "slow" });
        return false;
      }else{
        if(!readSavedConfirmation){
          e.preventDefault();
          $("#savedModal").modal("show");
        }

        var option_all = $("#id_keywords option:selected").map(function () {
          return $.trim($(this).text());
        }).get().join(',');
        $("#id_choices").val(option_all);
        $("#id_keywords").empty();

        var fundingBody = $("#id_funding_body option:selected").map(function () {
          return $.trim($(this).text());
        }).get().join(',');
        $("#id_fundingBodySelected").val(fundingBody);
        $("#id_funding_body").empty();

        var originDatabase = $("#id_origin_database option:selected").map(function () {
          return $.trim($(this).text());
        }).get().join(',');
        $("#id_originDatabaseSelected").val(originDatabase);
        $("#id_origin_database").empty();
      }
    });

  });


  $(function () {
    var imgSelected;
    /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
    $("#id_image1").change(function () {
      imgSelected = 1;
      $('#imageResult1').attr('src', '');
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
    });
    $("#id_image2").change(function () {
      imgSelected = 2;
      $('#imageResult2').attr('src', '');
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
    });
    $("#id_image3").change(function () {
      imgSelected = 3;
      $('#imageResult3').attr('src', '');
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
    });
    $("#imageResult").click(function () {
      $("#modalCrop").modal("show");
    });
    $("#imageResult2").click(function () {
      $("#modalCrop").modal("show");
    });
    $("#imageResult3").click(function () {
      $("#modalCrop").modal("show");
    });
    /* SCRIPTS TO HANDLE THE CROPPER BOX */
    var $image = $("#image");
    var cropBoxData;
    var canvasData;
    $("#modalCrop").on("shown.bs.modal", function () {
      $image.cropper({
        viewMode: 0,
        aspectRatio: imgSelected == 3 ? 11/4 : 3/2,
        minCropBoxWidth: imgSelected == 3 ? 1100 : 600,
        minCropBoxHeight: 400,
        dragMode: 'move',
        guides: false,
        center: false,
        highlight: false,
        cropBoxResizable: false,
        toggleDragModeOnDblclick: false,
        ready: function () {
          $image.cropper("setCanvasData", canvasData);
          $image.cropper("setCropBoxData", cropBoxData);
        }
      });
    }).on("hidden.bs.modal", function () {
      cropBoxData = $image.cropper("getCropBoxData");
      canvasData = $image.cropper("getCanvasData");
      $image.cropper("destroy");
    });

    $(".js-zoom-in").click(function () {
      $image.cropper("zoom", 0.1);
    });

    $(".js-zoom-out").click(function () {
      $image.cropper("zoom", -0.1);
    });

    /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
    $(".js-crop-and-upload").click(function () {
      var cropData = $image.cropper("getData");
      $("#id_x" + imgSelected).val(cropData["x"]);
      $("#id_y" + imgSelected).val(cropData["y"]);
      $("#id_height" + imgSelected).val(cropData["height"]);
      $("#id_width" + imgSelected).val(cropData["width"]);
      $("#modalCrop").modal("hide");
      $('#imageResult' + imgSelected).attr('src', $image.cropper('getCroppedCanvas',
      {width: imgSelected == 3 ? 1100 : 600, height: 400}).toDataURL());
    });

    $(".read-before-save").click(function () {
      readSavedConfirmation = true;
      $("#savedModal").modal("hide");
      $('form').submit();
    });

  });
</script>

<script type="text/javascript">
  var map;
  var marker_layer = new L.marker([50.5, 30.5]);

  function addMarker(e){
    map.removeLayer(marker_layer);
    marker_layer = new L.marker(e.latlng, {draggable:true});
    marker_layer.on('drag', function (e) {
      $("#id_latitude").val((e.latlng.lat).toFixed(6));
      $("#id_longitude").val((e.latlng.lng).toFixed(6));
    });
    map.addLayer(marker_layer);
    $("#id_latitude").val((e.latlng.lat).toFixed(6));
    $("#id_longitude").val((e.latlng.lng).toFixed(6));
  }


  function searchedMarker(e){
    map.removeLayer(marker_layer);
    marker_layer = new L.marker([e.location.y,e.location.x], {draggable:true});
    marker_layer.on('drag', function (e) {
      $("#id_latitude").val((e.latlng.lat).toFixed(6));
      $("#id_longitude").val((e.latlng.lng).toFixed(6));
    });
    map.addLayer(marker_layer);
    $("#id_latitude").val(parseFloat(e.location.y).toFixed(6));
    $("#id_longitude").val(parseFloat(e.location.x).toFixed(6));
  }

  function map_init_basic (leafmap, options) {
    map = leafmap;
    map.on('click', addMarker);

    var GeoSearchControl = window.GeoSearch.GeoSearchControl;
    var OpenStreetMapProvider = window.GeoSearch.OpenStreetMapProvider;
    var provider = new OpenStreetMapProvider({});

    //  Define search controls
    var searchControl = new GeoSearchControl({
      provider: provider,
      style: 'bar',
      showMarker: false,
      autoClose: true,
      keepResult: true,
      //retainZoomLevel: true,
    });

    map.addControl(searchControl);
    map.on('geosearch/showlocation', searchedMarker);
  }
</script>
{{ form.media.js }}
{% endblock scripts %}
