{% extends "base_r2.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% block title %}
{{ block.super }} :: Projects
{% endblock %}
{% block navbar-left %}
{% include "_navbar_r2.html" with active_link="projects" %}
{% endblock %}

{% block splash %}
{% endblock splash %}
{% block searchbar %}
{% endblock searchbar %}
{% block page_header %}
{% include "finder_projects.html" %}
{% endblock page_header %}
{% block list_of_items %}
{% include "modal_projects.html" %}
<div class="container">
	{% for message in messages %}
	<div class="container-fluid p-0">
		<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{{ message }}
		</div>
	</div>
	{% endfor %}
	<div class="row .projects">
		{% include "projects_cards.html" %}
	</div>
	<div class="col-12">
	{% if counter == 0  %}
	<img  class="img-fluid img-zoom col-12 mt-5" src="{% static 'site/img/undraw_empty_xct9.svg' %}">
	<h5 class="mb-4">{% trans "Sorry, nothing found" %}</h5>
	{% else %}
	&nbsp;
	{% endif %}
	</div>
</div>
{% endblock list_of_items %}

{% block scripts %}
	$('.basicAutoComplete').autoComplete(
	{ minLength: 3 }
	);

	$('.basicAutoComplete').on('autocomplete.select', function (evt, item) {
        $('#finder').submit();
		$('#searchTop').submit();
	});

	$(function () {
		$('#topic').on('change', function () {
			var topic = $(this).val();
			$('#searchProjects').submit();
		});
	});
	$(function () {
		$('#doingAtHome').on('change', function () {
			var topic = $(this).val();
			$('#searchProjects').submit();
		});
	});
	$(function () {
		$('#orderby').on('change', function () {
			var orderby = $(this).val();
			$('#searchProjects').submit();
		});
	});

	$(function () {
		$('.status-select').on('change', function () {
			var status = $(this).val();
			$('#searchProjects').submit();
		});
	});

	$("#host").blur(function () {
		$('#searchProjects').submit();
	});

	$(function () {
		$('#approvedCheck').on('change', function () {
			var approvedCheck = $(this).val();
			$('#searchProjects').submit();
		});
	});

</script>
{% endblock scripts %}
