{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}


{% block title %}{{ block.super }}Projects{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="projects" %}
{% endblock %}


{% block messages %}
{% if messages %}
{% for message in messages %}
<div class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
  <div class="alert alert-{{ message.tags }}">
    <a class="close" data-dismiss="alert">×</a>
    {{ message|safe }}
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}


{% block container %}

{% include "finder.html" %}

<main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
  </br></br></br></br>
  <div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <h2 class="page-title">Projects</h2>
      </div>
    </div>
    {% if user.is_authenticated %}
    <span>
      <a href="{% url 'new_project' %}">
        <i class="material-icons">add_circle</i>
        Add new project
      </a>
    </span>
    {% endif %}
    <br /><br />

    <div class="row">
      {% for project in projects %}
      <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
        <div class="card card-small card-post h-100">
          <div class="card-post__image" style="background-image: url('static/site/img/project.png');"></div>
          <div class="card-body">
            <h4 class="card-title">
              <a class="text-fiord-blue" href="{% url 'project' project.id %}">{{ project.name }}</a>
            </h4>
            <p class="card-text">{{project.description}}</p>
          </div>
          <div class="card-footer text-muted border-top py-3">
            <span class="d-inline-block">By
              <a class="text-fiord-blue" href="#">{{project.creator.name}}</a>
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <br /><br />
    {% include "paginator.html" %}
    {% if projects %}
    <span>
      Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
    </span>
    {% endif %}

  </div>
</main>

{% endblock container %}


{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>

<script
  src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/3de7ad37/dist/latest/bootstrap-autocomplete.js"></script>
<script>
  $('.basicAutoComplete').autoComplete(
    { minLength: 1 }
  );
</script>
<script>
  $(function () {
    $('.custom-select').on('change', function () {
      var category = $(this).val();
      $('#searchProjects').submit();
    });
  });
  $("#keywords").blur(function () {
    $('#searchProjects').submit();
  });
</script>
{% endblock scripts %}