{% extends "base2.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}


{% block title %}{{ block.super }}Projects{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="projects" %}
{% endblock %}

{% block page_header %}
{% include "finder_projects.html" %}
{% endblock page_header %}
{% block messages %}
{% if messages %}
{% for message in messages %}
<div class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
				<div class="alert alert-{{ message.tags }}">
								<a class="close" data-dismiss="alert">×</a>
								{{ message|safe }}
				</div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
{% block list_of_items %}
{% for project in projects %}
<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
				<div class="card">
								{% if project.image %} 
								<img class="img-fluid" src="{{ project.image }}" />
								{% else %}
								<img class="img-fluid" src="static/site/img/project.png" />
								{% endif %}

								<div class="card-body">
												<h4 class="card-title">
																{{ project.name }}
												</h4>
												<p class="card-text">{{project.description | truncatewords:12 }}</p>
												{% for topic in project.topic.all %} <a class="btn btn-outline-info btn-sm rounded mb-2" href="projects?keywords=&topic={{topic}}">{{topic}}</a>  {% endfor %}
												<br>

												{% for keyword in project.keywords.all %} <a class="btn btn-outline-secondary btn-sm rounded mb-2" href="projects?keywords={{keyword}}">{{keyword}}</a>  {% endfor %}
												<br>

												<a class="btn btn-primary" target="_black" href="/project/{{project.id }}"> Read more </a>	
								</div>
				</div>
</div>
{% endfor %}
<div class="col-lg-12">
				{% include "paginator.html" %}
</div>
{% endblock list_of_items %}
</main>

