{% extends "base_r2.html" %}
{% load project_tags %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load reviews %}
{% block head %}
{{block.super }}
{{ form.media.css }}
{{ form.media }}
{% leaflet_js %}
{% leaflet_css %}
{% endblock head %}
{% block title %}{{ block.super }} :: {{project.name}}{% endblock %}
{% block list_of_items %}
{{ permissionForm.media.css }}
<style>
 #id_projectGeographicLocation_div_map { width: 100% !important; height: 100% !important; }
 #id_projectGeographicLocation_map { width: 100% !important; height: 100% !important; }
</style>
{% if project.image3 %}
<div class="container-fluid profileImage" style="background: url('/media/{{project.image3}}') no-repeat; background-size: cover;">
</div>
{% endif %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h1 class="wood-color">{{project.name}}</h1>
            <div class="small"><i>{% trans "Created" %} {{project.dateCreated}}</i></div>
            <div class="small"><i>{% trans "Updated" %} {{project.dateUpdated}}</i></div>
        </div>
        <div class="col-xl-8 col-md-6 col-12">
            <!-- TODO: I dont like this look -->
            {% if hasTranslation %}
            {% for translation in project.translatedProject.all %}
            {% if translation.inLanguage == LANGUAGE_CODE %}
            {% if translation.needsUpdate %}
                <small>
                {% trans "This translation was done before a project profile update." %}
                {% trans "Plase help the community by improving it" %} 
                <a href='/translateProject/{{project.id}}'>{% trans "here" %}</a> 
                </small>
            {% endif %}
            <p class="mt-3 gray7-color">{{translation.translatedDescription | safe}}</p>
            <h4 class="mt-4 leftborder">{% trans "Aim" %}</h4>
            <p class="gray7-color">{{translation.translatedAim | safe}}</p>

            {% if project.howToParticipate %}
            <h4 class="mt-4 leftborder">{% trans "How to participate" %} </h4>
            <p class="gray7-color">{{translation.translatedHowToParticipate | safe}}</p>
            {% endif %}

            {% if project.equipment %}
            <h4 class="mt-4 leftborder">{% trans "Needed equipment" %}</h4>
            <p class="gray7-color">{{project.translatedEquipment |safe}}</p>
            {% endif %}
            {% endif %}
            {% endfor %}

            {% else %}
            {% if LANGUAGE_CODE != 'en' %}
            <small>{% trans "This project profile is not available in your selected language," %}
                plase help the community by translating it <a href='/translateProject/{{project.id}}'>here</a>.</small>
            {% endif %}
            <p class="mt-3 gray7-color">{{project.description | safe}}</p>
            <h4 class="mt-4 leftborder">{% trans "Aim" %}</h4>
            <p class="gray7-color">{{project.aim | safe}}</p>

            {% if project.howToParticipate %}
            <h4 class="mt-4 leftborder">{% trans "How to participate" %} </h4>
            <p class="gray7-color">{{project.howToParticipate | safe}}</p>
            {% endif %}

            {% if project.equipment %}
            <h4 class="mt-4 leftborder">{% trans "Needed equipment" %}</h4>
            <p class="gray7-color">{{project.equipment |safe}}</p>
            {% endif %}
            {% endif %}

            
        </div>
        <div class="col-xl-4 col-md-6 col-12">
            <a class="badge bg-dark" href="/projects?status={{project.status.id}}">{{ project.status}}</a>
                {% if project.start_date %}
                {% trans "from" %} {{ project.start_date | date:"d/m/Y"}}
                {% endif %}
                {% if project.end_date %}
                {% trans "until" %} {{ project.end_date | date:"d/m/Y"}}
                {% endif %}
            <h5 class="mt-3">{% trans "Keywords" %}</h5>
            <div>
                {% for keyword in project.keywords.all %}
                <a class="badge bg-my-darkGreen" href="/projects?keywords={{keyword|urlencode}}">{{keyword | title}}</a>
                {% endfor %}
            </div>
            {% if project.topic.all %}
            <h5 class="mt-3">{% trans "Science Topics" %}</h5>
            <div>
                {% for topic in project.topic.all %}
                <a class="badge bg-my-darkBlue" href="/projects?keywords=&topic={{topic|urlencode}}">{{topic}}</a>
                {% endfor %}
            </div>
            {% endif %}

            {% if project.hasTag.all %}
            <h5 class="mt-3">{% trans "Tags" %}</h5>
            <div>
                {% for tag in project.hasTag.all %}
                <a class="badge bg-my-lightBlue" href="/projects?hasTag={{tag|urlencode}}">{{tag}}</a>
                {% endfor %}
            </div>
            {% endif %}

            {% if project.difficultyLevel%}
            <h5 class="mt-3">{% trans "Difficulty Level" %}</h5>
            <div>
                <a class="badge bg-my-lightGreen" 
                    href="/projects?difficultyLevel={{project.difficultyLevel.id}}">{{project.difficultyLevel}}
                </a>
            </div>
            {% endif %}


            {% if project.participationTask.all %}
            <h5 class="mt-3">{% trans "Participation tasks" %}</h5>
            <div>
                {% for participationTask in project.participationTask.all %}
                <a class="badge bg-my-wood" href="/projects?participationTask={{participationTask}}">{{participationTask}}</a>
                {% endfor %}
            </div>
            {% endif %}

            {% if project.mainOrganisation %}
            <h5 class="mt-3">{% trans "Coordinator" %}</h5>
            <div>
                {% include 'horizontal_card_organisation.html' with organisation=project.mainOrganisation %}
            </div>
            {% endif %}

            {% if project.organisation.all %}
            <h5 class="mt-3">{% trans "Other Organisations involved" %}</h5>
            <div>
                {% for organisation in project.organisation.all %}
                {% include 'horizontal_card_organisation.html' %}
                {% endfor %}
            </div>
            {% endif %}

            {% if project.geographicextend.all or project.projectlocality %}
            <h5 class="mt-3">{% trans "Location" %}</h5>
            <div>
                {% for geographicextend in project.geographicextend.all %}
                <a class="badge bg-my-darkGreen" href="">{{geographicextend}}</a>
                {% endfor %}
                {% if project.projectlocality%}
                <a class="badge badge-light" href="#">{{ project.projectlocality}}</a>
                {% endif %}
            </div>
            {% endif %}
            {% if form %}
            <div class="mt-3">
                {{ form.projectGeographicLocation|as_crispy_field }}
            </div>
            {% endif %}
        </div>
            <div class="row">
                <div class="col-12 mt-4">
                 
                    <a target="_blank" 
                       href="{% if 'http' not in project.url %}//{%endif%}{{project.url}}"
                       class="btn btn-my-darkBlue">
                        <i class="fas fa-external-link-square-alt"></i> {% trans "Go to Project" %}
                    </a>

                    {% if project.creator == user or user.is_staff or user.id in cooperators %}
                    <a class="btn btn-warning" href="{% url 'editProject' project.id %}">
                        <i class="fas fa-edit"></i> Edit 
                    </a>
                    {% endif %}

                    <a href="/translateProject/{{project.id}}" class="btn btn-my-darkBlue">
                        <i class="fas fa-external-link-square-alt"></i> {% trans "Translate" %}
                    </a>

                    {% if user.is_authenticated %}
                    <button 
                        {% if followedProject %}
                            class="btn btn-my-darkBlue"
                                    {% else %}
                            class="btn btn-my-outline-darkBlue"
                                    {% endif %}
                            id="buttonBookmarkProject" bookmarked="{{followedProject}}">
                        <i class="far fa-bookmark"></i> Bookmark
                    </button>
                    {% endif %}


                </div>
                {% if user.is_staff %}
                <div class="col-12 mt-4">
                    <h4 class="mt-4 leftborder">{% trans "Admin area" %}</h4>
                    {% if project.id in approvedProjects %}
                    <div class="mt-3">
                        <a class="btn btn-green" onclick="setApproved({{project.id}}, false)">
                            <i class="far fa-thumbs-up"> </i> Approved
                        </a>
                    </div>
                    {% elif project.id in unApprovedProjects %}
                    <div>
                        <a class="btn btn-red" onclick="setApproved({{project.id}}, true)">
                            <i class="far fa-thumbs-up"></i> Unapproved
                        </a>
                    </div>
                    {% else %}<!-- This project is not yet moderated -->
                    <div>This project is not yet moderated</div>
                    <a class="btn btn-green" onclick="setApproved({{project.id}}, true)">
                        <i class="far fa-thumbs-up"></i> Approve
                    </a>
                    <a class="btn btn-red" onclick="setApproved({{project.id}}, false)">
                        <i class="far fa-thumbs-down"></i> Unapprove
                    </a>
                    {% endif %}
                    {% if project.featured %}
                    <div class="mt-3">
                        <a  class="btn btn-green" onclick="setFeatured({{project.id}}, false)">
                            <i class="fas fa-arrow-alt-circle-up"></i> Is featured
                        </a>
                    </div>
                    {% else %}
                    <div class="mt-3">
                        <a  class="btn btn-secondary" onclick="setFeatured({{project.id}}, true)">
                            <i class="far fa-arrow-alt-circle-up"></i> Is not featured</a>
                        </a>
                    </div>
                    {% endif %}
                    <div class="mt-3">
                        <a class="btn btn-secondary"  href="{% url 'submitter_contact' 'project' project.id %}">
                            <i class="far fa-envelope"></i> Contact project submitter
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        <div class="col-12 mt-5"></div>
    </div>
</div>

{% endblock list_of_items %}

{% block scripts %}
<script type="text/javascript">
    $(function () {
        if(typeof geodjango_projectGeographicLocation !== 'undefined'){
            geodjango_projectGeographicLocation.map.removeInteraction(geodjango_projectGeographicLocation.interactions.draw);
            geodjango_projectGeographicLocation.map.removeInteraction(geodjango_projectGeographicLocation.interactions.modify);
            console.log(geodjango_projectGeographicLocation)
        }
        let params = new URLSearchParams(window.location.search.slice(1));
        if( params.has('prev') === true){
            if(params.get('prev').indexOf('editProject')>0){
                $('#message').html('<div class="alert alert-success alert-dismissible fade show" role="alert">'+
                    'The project has been successfully edited'+
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                    '<span aria-hidden="true">&times;</span> </button></div>')
            }
            else if(params.get('prev').indexOf('newProject')>0){
                $('#message').html('<div class="alert alert-success alert-dismissible fade show" role="alert">'+
                    'The project has been successfully added, we will moderate it shortly'+
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                    '<span aria-hidden="true">&times;</span> </button></div>')
            }

        }

        $('.clear_features').html('');
        var users = $("#id_usersCollection").val();
        if(users){
            var users = users.split(",");
            var selectedUsers = $("#id_selectedUsers").val().split(",");
            var i = 0
            var name = ''
            var email = ''
            for (user of users){			
                if (i % 2 == 0){			
                    var init = user.indexOf('\'')
                    var end = user.indexOf('\'', init+1)
                    name = user.substring(init+1,end)
                }else{
                    var init = user.indexOf('\'')
                    var end = user.indexOf('\'', init+1)
                    email = user.substring(init+1,end)
                    var found = false;
                    for(sel of selectedUsers){
                        if(sel.trim() == email.trim()){
                            found = true;
                            $("#id_usersAllowed").append("<option value='" + email +"' selected> " + name + " </option>");
                        }
                    }
                    if(!found){
                        $("#id_usersAllowed").append("<option value='" + email +"'> " + name + " </option>");
                    }
                }
                i++
            }
        }

        $("#buttonBookmarkProject").on("click", function(){
            console.log('click')
            var bookmark = ($('#buttonBookmarkProject').attr('bookmarked')=="False" ? "true" : "false")
            console.log(bookmark)
            $.ajax({
                type: 'POST',
                url: "/setFollowedProject/",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    bookmark: bookmark,
                    projectId: '{{project.id}}'
                },
                success: function(response){
                    if(response.bookmark)
                        $('#buttonBookmarkProject').attr('bookmarked','True')
                    else
                        $('#buttonBookmarkProject').attr('bookmarked','False')
                    $('#buttonBookmarkProject').toggleClass('btn-my-darkBlue')
                    $('#buttonBookmarkProject').toggleClass('btn-my-outline-darkBlue')
                },
                error: function(response){
                }
            })
        })


        $('#id_usersAllowed').on('change', function () {
            users = $("#id_usersAllowed option:selected").map(function () {
                return $.trim($(this).val());
            }).get().join(',');

            var idProject = {{project.id}};
            var request = $.ajax(
                {
                    type: "POST",
                    url: "{% url 'allowUser' %}",
                    data: {
                        "project_id": idProject,
                        "users": users,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {

                    }
                }
            );
        });
    });

function setFeatured(idProject, featured){
    var htmlId = "featured" + idProject;
    var request = $.ajax(
        {
            type: "POST",
            url: "{% url 'setFeatured' %}",
            data: {
                "project_id": idProject,
                "featured": featured,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {
                window.location.reload(false);
            }
        }
    );
}

function setApproved(idProject, approved){
    var request = $.ajax(
        {
            type: "POST",
            url: "{% url 'setApproved' %}",
            data: {
                "project_id": idProject,
                "approved": approved,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {
                window.location.reload(false)
                if(!approved){
                    window.location.href ="{% url 'submitter_contact' 'project' project.id %}"
                }
            }
        }
    );
}
</script>
{{ permissionForm.media.js }}
{% endblock scripts %}
