{% extends "base_r2.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load thumbnail %}

{% block head %}
{{block.super }}
<link rel="stylesheet" href="{% static 'site/css/forms.css' %}">
{{ form.media.css }}
{{ form.media.js }}

{% endblock head %}

{% block title %}{{ block.super }} :: New project{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="projects" %}
{% endblock %}


{% block list_of_items %}
{% include '_crop_zone.html' %}

<div class="container mt-5">
    <form action="#" id='form_project' class="edit-project" method="post" enctype="multipart/form-data">
        <div class="row">
            {% csrf_token %}
            <div class="col-12">
                {% include "_intro_form_project.html" %}
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h3 class="leftborder">{% trans "Main information" %}</h3>
                        <input type="hidden" id="projectID" name="projectID" value={{project.id}}>
                        <div class="row">
                            <div class="col-12">
                                <div id="errors"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-11">
                                {{ form.project_name|as_crispy_field }}
                                {{ form.url|as_crispy_field }}
                                {{ form.description|as_crispy_field }}
                                {{ form.aim|as_crispy_field }}
                                {{ form.description_citizen_science_aspects|as_crispy_field }}
                                {{ form.status|as_crispy_field }}
                                {{ form.keywords|as_crispy_field }}
                                {% include "_save_zone.html" %}
                            </div>
                        </div>
                        <h4 class="leftborder mt-5">{% trans "Useful information to classificate the project" %}</h4>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-11">
                                {{ form.start_date|as_crispy_field }}
                                {{ form.end_date|as_crispy_field }}
                                {{ form.topic|as_crispy_field }}
                                {{ form.hasTag |as_crispy_field }}
                                {% include "_save_zone.html" %}
                            </div>
                        </div>
                        <h4 class="leftborder mt-5">{% trans "Participation information" %}</h4>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-11">
                                {{ form.participationTask |as_crispy_field }}
                                {{ form.difficultyLevel |as_crispy_field }}
                                {{ form.how_to_participate|as_crispy_field }}
                                {{ form.equipment|as_crispy_field }}
                                {% include "_save_zone.html" %}
                            </div>
                        </div>
                        <h4 class="leftborder mt-5">{% trans "Project location" %}</h4>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-11">
                                {{ form.geographicextend |as_crispy_field }}
                                {{ form.projectlocality |as_crispy_field }}
                                {{ form.projectGeographicLocation|as_crispy_field }}
                                {% include "_save_zone.html" %}
                            </div>
                        </div>
                        <h4 class="leftborder mt-5">{% trans "Contact and hosts details" %}</h4>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-11">
                                {{ form.contact_person|as_crispy_field }}
                                {{ form.contact_person_email|as_crispy_field }}
                                {{ form.mainOrganisation|as_crispy_field }}
                                {{ form.organisation|as_crispy_field }}
                                {% include "_save_zone.html" %}
                            </div>
                        </div>
                        <h4 class="leftborder mt-5">{% trans "Funding Information" %}</h4>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-11">
                                {{ form.funding_body|as_crispy_field }}
                                {{ form.funding_program|as_crispy_field }}
                                {% include "_save_zone.html" %}
                            </div>
                        </div>
                        <h4 class="leftborder mt-5">{% trans "Project profile images" %}</h4>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-11">
                                <img class="img-fluid img-zoom" 
                                id="imageResult1" 
                                src="{% thumbnail project.image1|default:'void_600.png' 600x400 %}">
                                {{ form.image1|as_crispy_field }}
                                {{ form.x1|as_crispy_field }}
                                {{ form.y1|as_crispy_field }}
                                {{ form.height1|as_crispy_field }}
                                {{ form.width1|as_crispy_field }}
                                {{ form.withImage1|as_crispy_field }}
                                {{ form.image_credit1|as_crispy_field }}
                                <div class="mb-5"></div>

                                <img class="img-fluid img-zoom" 
                                     id="imageResult2" 
                                     src="{% thumbnail project.image2|default:'void_600.png' 600x400 %}">
                                {{ form.image2|as_crispy_field }}
                                {{ form.x2|as_crispy_field }}
                                {{ form.y2|as_crispy_field }}
                                {{ form.height2|as_crispy_field }}
                                {{ form.width2|as_crispy_field }}
                                {{ form.withImage2|as_crispy_field }}
                                {{ form.image_credit2|as_crispy_field }}
                                <div class="mb-5"></div>

                                <img class="img-fluid mt-3" 
                                     id="imageResult3" 
                                     src="{% thumbnail project.image3|default:'void_1100.png' 1100x400 %}" alt="Image not upload">
                                {{ form.withImage3|as_crispy_field }}
                                {{ form.image3|as_crispy_field }}
                                {{ form.x3|as_crispy_field }}
                                {{ form.y3|as_crispy_field }}
                                {{ form.height3|as_crispy_field }}
                                {{ form.width3|as_crispy_field }}
                                {{ form.image_credit3|as_crispy_field }}
                                <div class="mb-5"></div>
                                {% include "_save_zone.html" %}
                                <div class="mb-5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock list_of_items %}
{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
<script src="{% static 'scripts/cropper.min.js' %}"></script>
<script src="{% static 'scripts/jquery-cropper.min.js' %}"></script>
<script>
    $(function () {
        $('input').on('focus', function(){
            if($(this).is('.error'))
                $(this).removeClass('error');
        });
        $('select').on('focus', function(){
            if($(this).is('.error'))
                $(this).removeClass('error');
        });
        $('.select2-selection--multiple').on('focus', function(){
            if($(this).is('.error'))
                $(this).removeClass('error');
        });

        for(var instanceName in CKEDITOR.instances){
            CKEDITOR.instances[instanceName].on('focus', function(e){
                id='#cke_'+$(this).attr('name')
                if($(id).is('.error'))
                    $(id).removeClass('error');
            })
        }

        $('.submit').click(function (e) {
            e.preventDefault()

            /* To check that we click on Save & continue  */
            if($(this).hasClass('continue'))
                var contin=true
            else
                var contin=false
            $('.myerror').remove()
            $.ajaxSettings.traditional = true;
            for(var instanceName in CKEDITOR.instances)
                CKEDITOR.instances[instanceName].updateElement();

            $.ajax({
                type: 'POST',
                url: '/saveProjectAjax',
                processData: false,
                contentType: false,
                data: new FormData(document.getElementById("form_project")),
                success: function (response){
                    if(contin){
                        $('#projectID').val(response.Project)
                        console.log('continue')
                        $('.savedInfo').html('<span class="alert alert-success fade show">'+
                            '<i class="fas fa-check"></i> Saved</span>').show().fadeOut(2500)
                    }
                    else{
                        window.location.href = '/project/'+response.Project+'?prev='+window.location.pathname
                    }
                },
                error: function (response){
                    if(response.status==500){
                        alert('Unexpected error, please contact with the administrator')
                    }
                    $.each(response.responseJSON, function(i,val){
                        $('#id_'+i).addClass('error')
                        $('#id_'+i).parent().find('.select2-selection--multiple').addClass('error')
                        $('#hint_id_'+i).append('<div class="myerror small text-danger">'+val+'</div>')
                        $('#cke_id_'+i).addClass('error')
                    })
                    $('html, body').animate({
                        scrollTop: $('.myerror:visible:first').offset().top-100
                    }, 1000);
                }
            });
        });
    });
</script>
<script>

    $(function () {
      var imgSelected;
      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_image1").change(function () {
        imgSelected = 1;
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });
      $("#id_image2").change(function () {
        imgSelected = 2;
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });
      $("#id_image3").change(function () {
        imgSelected = 3;
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });
      $("#imageResult").click(function () {
        $("#modalCrop").modal("show");
      });
      $("#imageResult2").click(function () {
        $("#modalCrop").modal("show");
      });
      $("#imageResult3").click(function () {
        $("#modalCrop").modal("show");
      });
      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: imgSelected == 3 ? 11/4 : 3/2,
          minCropBoxWidth: imgSelected == 3 ? 1100 : 600,
          minCropBoxHeight: 400,
          dragMode: 'move',
          guides: false,
          center: false,
          highlight: false,
          cropBoxResizable: false,
          toggleDragModeOnDblclick: false,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x" + imgSelected).val(cropData["x"]);
        $("#id_y" + imgSelected).val(cropData["y"]);
        $("#id_height" + imgSelected).val(cropData["height"]);
        $("#id_width" + imgSelected).val(cropData["width"]);
        $("#modalCrop").modal("hide");
        $('#imageResult' + imgSelected).attr('src', $image.cropper('getCroppedCanvas',
        {width: imgSelected == 3 ? 1100 : 600, height: 400}).toDataURL());
      });

      $(".read-before-save").click(function () {
        readSavedConfirmation = true;
        $("#savedModal").modal("hide");
        $('form').submit();
      });

    });
</script>

{% endblock scripts %}
