{% load i18n %}
{% load static %}
{% load reviews %}
{% load thumbnail %}
{% for project in projects %}
<div class="col-lg-4 col-sm-6 col-12 mb-5">
    <div class="card h-100 shadow border-0">
        <a href="/project/{{project.id}}">
            <img class="img-fluid img-card"
                src="{% thumbnail project.image1|default:'void_600.png' 612x408 upscale crop %}"
                alt="image for {{project.name}}" width="600" height="400" />
        </a>
        <div class="card-body">
            <div class="card-title my-card-title">
                <h4 class="mt-2 mb-0">
                    <a href="/project/{{project.id}}" class="card-title my-link">{{project.name | truncatechars:30}}</a>
                </h4>
            </div>
            <div class="card-text">
                <div class="my-card-country">
                    {% if project.mainOrganisation %}
                    <a href="/projects?country={{project.mainOrganisation.country}}"
                        class="badge rounded-pill bg-my-dark">
                        {{ project.mainOrganisation.country.name }}
                    </a>
                    {% endif %}
                    {% for topic in project.topic.all %}
                    {% if forloop.counter <= 2 %} <a class="badge rounded-pill bg-secondary"
                        href="/projects?keywords=&topic={{ topic|urlencode }}">{{ topic }}</a>
                        {% endif %}
                        {% endfor %}

                </div>

                <p class="mt-4">
                    {{ project.description | safe| truncatewords_html:30 }}
                </p>



            </div>
        </div><!-- End of card-body -->
        <div class="card-footer  bg-white border-top-0 small">
            {% include "_social_zone.html" %}
        </div>
    </div><!-- end of card -->
</div><!-- end of col -->
{% endfor %}
{% if 'projects' in request.get_full_path %}
<div class="col-lg-12">
    {% include "paginator.html" %}
</div>
{% endif %}