{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}

{% block title %}{{ block.super }}Projects{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="project" %}
{% endblock %}


{% block container %}

<main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
  </br></br></br></br>
  <div class="main-content-container container-fluid px-4">

    <div class="card card-small mb-4">
      <div class="card-header">
        <h2 align="center">Project {{project.name}}
          {% if user.is_authenticated %}
          {% if project.creator == user %}
          <a href="{% url 'editProject' project.id %}">
            <i class="material-icons" style="font-size: 24px;">edit</i>
          </a>
          {% endif %}
          {% endif %}
        </h2>

        <br /><br />
        <div class="row">

          <div class="col-sm-6">
            <div class="container">
              <div class="p-0 offset-lg-1 offset-md-2">
                <h4>Project info</h4>
                <p> ID: {{project.id}}</p>
                <p> Name: {{project.name}}</p>
                <p> Description: {{project.description}}</p>
                <p> Keywords: {% for keyword in project.keywords.all %} {{keyword|capfirst}} | {% endfor %}</p>
                <p> Start date: {{ project.start_date | date:"d/m/Y"}}</p>
                <p> End date: {{ project.end_date | date:"d/m/Y"}}</p>
                <p> Status: {{ project.status}}</p>
                <p> Topic: {% for topic in project.topic.all %} {{topic|capfirst}} | {% endfor %} </p>
                <br />
                <p>Date created: {{project.dateCreated  | date:"d/m/Y"}} </p>
                <p>Date updated: {{project.dateUpdated  | date:"d/m/Y"}} </p>
                <br />
                <h4>Geography</h4>
                <p>Latitude: {{project.latitude}}</p>
                <p>Longitude: {{project.longitude}}</p>
                {% leaflet_map "map" callback="window.map_init_basic" %}
                <br />
                <p> Website: <a href="{{project.url}}">{{project.url}}</a></p>
                <p> Host: {{project.host}}</p>
                <br />

                <p>How to participate: {{project.howToParticipate}}</p>
                <p>Equipment: {{project.equipment}}</p>

              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <br /><br /><br />
            {% if project.image %}            
              <img src="{{ project.image }}" 
              style="max-width: 50%;    
              margin-left: auto;
              margin-right: auto;
              display: block;">
            {% else %}
              <img src='/static/site/img/project.png'
              style="max-width: 50%;    
              margin-left: auto;
              margin-right: auto;
              display: block;">            
            {% endif %}
          </div>

        </div>
      </div>

    </div>
    <br />
    <br /><br /><br />

  </div>
</main>

{% endblock container %}

{% block scripts %}
<script type="text/javascript">
  var map;
  var marker_layer = new L.marker([50.5, 30.5]);
  
  function map_init_basic (leafmap, options) {      
      map = leafmap;
      new L.marker([{{project.latitude}},{{project.longitude}}]).addTo(map);  
  }

</script>
{% endblock scripts %}
