{% extends "base2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% block head %}
{{block.super }}
<link rel="stylesheet" href="{% static 'styles/cropper.min.css' %}">
{% leaflet_js %}
{% leaflet_css %}
{% endblock head %}
{% block title %}{{ block.super }}Projects{% endblock %}
{% block navbar-left %}
{% include "_navbar.html" with active_link="project" %}
{% endblock %}
{% block list_of_items %}
  <div class="main-content-container container-fluid" >
    <div class="card mb-4">
  {% if project.image %}            
              <img class="img-fluid img-responsive img-zoom" src="{{ project.image }}" >
            {% else %}
              <img class="img-fluid img-responsive img-zoom" src='/static/site/img/project.png'>
            {% endif %}

      <div class="card-text p-3">
        <h2>{{project.name}}<i class="fas fa-star-half-alt"></i>{{votes}}
         {% if user.is_authenticated %}
            {% if project.creator == user or user.is_staff %}
            <a class="btn btn-danger float-right" href="{% url 'editProject' project.id %}"><i class="fas fa-edit"></i> Edit </a>
            </a>
            {% endif %}
          {% endif %}
        </h2>
<p>									{% for country in countries %}
													{% if country.code == project.country %}
														<a class="badge badge-pill badge-success" href="/projects?country={{country.code}}">{{ country.name }}</a>
													{% endif %}
												{% endfor %}
												{% for topic in project.topic.all %} <a class="badge badge-pill badge-dark" href="/projects?keywords=&topic={{topic|urlencode}}">{{topic}}</a>  {% endfor %}
												{% for keyword in project.keywords.all %} <a class="badge badge-pill badge-info" href="/projects?keywords={{keyword|urlencode}}">{{keyword}}</a>  {% endfor %}</p>
			

<div class="row">
				<div class="col-xl-6">
                <p><b> Host: </b>{{project.host}}</p>
                <p><b>Start date: </b>{{ project.start_date | date:"d/m/Y"}}</p>
                <p><b>End date: </b>{{ project.end_date | date:"d/m/Y"}}</p>
                <p><b>Status: </b>{{ project.status}}</p>
                <p><b>Date created:</b> {{project.dateCreated  | date:"d/m/Y"}} </p>
                <p><b>Date updated:</b>{{project.dateUpdated  | date:"d/m/Y"}} </p>
                <p><b>Website: </b><a href="{{project.url}}">{{project.url}}</a></p>
</div>
<div class="col-xl-6">
                <p><b>Description: </b>{{project.description}}</p>
</div>
</div>
<div class="row">
<div class="col-12">
             <h4>Geography</h4>
                <p>Latitude: {{project.latitude}}</p>
                <p>Longitude: {{project.longitude}}</p>
                {% leaflet_map "map" callback="window.map_init_basic" %}
</div>
</div>
<div class="row">
<div class="col-xl-6 col-12 mt-2">
                <p><b>How to participate: </b>{{project.howToParticipate}}</p>

</div>
<div class="col-xl-6 col-12 mt-2">
                <p><b>Needed equipment:</b>{{project.equipment}}</p>

</div>

</div>

              </div>
            </div>
          </div>

          <div class="col-12">
                    </div>

        </div>
      </div>


{% endblock list_of_items %}

{% block scripts %}
<script type="text/javascript">
  var map;
  var marker_layer = new L.marker([50.5, 30.5]);
  
  function map_init_basic (leafmap, options) {      
      map = leafmap;
      new L.marker([{{project.latitude}},{{project.longitude}}]).addTo(map);  
  }

</script>
{% endblock scripts %}
