{% extends "base_r2.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% block head %}
{{block.super }}
<link rel="stylesheet" href="{% static 'site/css/forms.css' %}">
{{ form.media.css }}
{{ form.media.js }}

{% endblock head %}

{% block title %}{{ block.super }} :: Translate project project{% endblock %}

{% block list_of_items %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">{{project.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mt-3">
        </div>
        <div class="col-6 mt-3">
            <label for="language" class="control-label  requiredField">
                {% trans "Please indicate the language you want to translate to" %}
            </label>
             
            <select name="language" class="form-control mb-4" id="languageSelector">
                {% for language in TRANSLATED_LANGUAGES %}
                {% if language.0  != 'en' %}
                <option value="{{ language.0 }}">
                {{ language.1 }}
                </option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <form id="form_translation">
        {% csrf_token %}
        <input type="hidden" name="projectId" value="{{project.id}}" />
        <input type="hidden" name="languageId" id="languageId" value="af" /><!-- value first language -->
    <div class="row">
        <div class="col-6 mt-3">
            <h4 class="leftborder">{% trans "Description" %}</h4>
            {{ project.description | safe}}
        </div>
        <div class="col-6 mt-3">
            {{form.translatedDescription | as_crispy_field}}
        </div>
        <div class="col-6 mt-3">
            <h4 class="leftborder">{% trans "Aim" %}</h4>
            {{ project.aim | safe}}
        </div>
        <div class="col-6 mt-3">
            {{form.translatedAim | as_crispy_field}}
        </div>
        <div class="col-6 mt-3">
            <h4 class="leftborder">{% trans "How to participate" %}</h4>
            {{ project.howToParticipate | safe}}
        </div>
        <div class="col-6 mt-3">
            {{form.translatedHowToParticipate | as_crispy_field}}
        </div>
        <div class="col-6 mt-3">
            <h4 class="leftborder">{% trans "Equipment" %}</h4>
            {{ project.equipment | safe}}
        </div>
        <div class="col-6 mt-3">
            {{form.translatedEquipment | as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 mt-3"></div>
        <div class="col-6 mt-3">
            <button class="btn btn-secondary" id="saveTranslation">Save translation</div>
        </div>
    </div>
    </form>
</div>
{% endblock list_of_items %}
{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
<script>
    $(function() {

        for(var instanceName in CKEDITOR.instances){
            CKEDITOR.instances[instanceName].on('focus', function(e){
                id='#cke_'+$(this).attr('name')
                if($(id).is('.error'))
                    $(id).removeClass('error');
            })
        }
        $('#languageSelector').change(function(){
            console.log('changed');
            $('#languageId').val($('#languageSelector').val())
            $.ajax({
                type: 'POST',
                url: '/getProjectTranslation/',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    language: $('#languageSelector').val(),
                    projectId: '{{project.id}}'
                },
                success: function(response){
                    translatedDescription=response[0].fields.translatedDescription
                    translatedAim=response[0].fields.translatedAim
                    translatedHowToParticipate=response[0].fields.translatedHowToParticipate
                    translatedEquipment=response[0].fields.translatedEquipment
                    CKEDITOR.instances['id_translatedDescription'].setData(translatedDescription)
                    CKEDITOR.instances['id_translatedAim'].setData(translatedAim)
                    CKEDITOR.instances['id_translatedHowToParticipate'].setData(translatedHowToParticipate)
                    CKEDITOR.instances['id_translatedEquipment'].setData(translatedEquipment)
                },
                error: function(response){
                    console.log(response)
                    for(var instanceName in CKEDITOR.instances)
                        CKEDITOR.instances[instanceName].setData('')

                },
            })
        })

        $('#saveTranslation').click(function(e){
            e.preventDefault()
            console.log('click')
            $.ajaxSettings.traditional = true;
            $('.myerror').remove()
            for(var instanceName in CKEDITOR.instances)
                CKEDITOR.instances[instanceName].updateElement();
            $.ajax({
                type: 'POST',
                url: '/submitProjectTranslation/',
                processData: false,
                contentType: false,
                data: new FormData(document.getElementById("form_translation")),
                success: function(response){
                    console.log(response)
                    window.location.href = '/project/'+response.Project
                },
                error: function(response){
                    if(response.status==500){
                        alert('Unexpected error, please contact with the administrator')
                    }
                    $.each(response.responseJSON, function(i,val){
                        $('#id_'+i).addClass('error')
                        $('#id_'+i).parent().find('.select2-selection--multiple').addClass('error')
                        $('label[for=id_'+i+']').append('<div class="myerror alert alert-danger">'+val+'</div>')
                        $('#cke_id_'+i).addClass('error')
                    })
                    $('html, body').animate({
                        scrollTop: $('.myerror:visible:first').offset().top-100
                    }, 500);
                },
            })
        })
    })
</script>
{% endblock scripts %}


