{% extends "base2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% block head %}
{{ block.super }}
{{ form.media.css }}
{% endblock head %}
{% block title %}{{ block.super }}Resources{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="resources" %}
{% endblock %}

{% block list_of_items %}

 <!-- MODAL TO CROP THE IMAGE -->
 <div class="modal fade" id="modalCrop">
  <div class="modal-dialog mdialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crop the photo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="" id="image" style="max-width: 100%;">
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left" role="group">
          <button type="button" class="btn btn-default js-zoom-in">
            <span><i class="material-icons" style="font-size: 18px;">zoom_in</i> </span>
          </button>
          <button type="button" class="btn btn-default js-zoom-out">
            <span><i class="material-icons" style="font-size: 18px;">zoom_out</i></span>
          </button>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL TO CROP -->


<div class="container-fluid">
	<div class="card mb-4">
		<div class="card-title p-3">
			<h3>Edit resource
   <button type="submit" class="btn btn-danger float-right" onclick="location.href='{% url 'deleteResource' resource.id %}'" name='deleteResource'> <span class="fas fa-trash-alt"></span> Delete            </button>
</h3>
		</div>
		<div class="card-text p-3">
      <table class="table mb-0">

          <form action="/editResource/{{resource.id}}" class="edit-resource" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <br />

            <div class="row">
              <div class="col-5 p-3 ml-5">
                <input type="hidden" id="resourceID" name="resourceID" value={{resource.id}}>
                {{ form.name|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">
                {{ form.url|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                {{ form.abstract|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">
                {{ form.resource_DOI|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                {{ form.authors|as_crispy_field }}
                {{form.authorsCollection |as_crispy_field}}
                {{form.selectedAuthors|as_crispy_field}}
              </div>
              <div class="col-5 p-3 ml-5">
                {{ form.author_email|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                {{ form.license|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">
                {% get_language_info_list for LANGUAGES as languages %}
                {% if settings.USE_I18N and languages|length > 1 %}
                <label for="language" class="control-label  requiredField">
                  Language<span class="asteriskField">*</span>
                </label>
                <select name="language" class="form-control">
                  {% for language in languages %}
                  <option value="{{ language.code }}" {% if language.code == resource.inLanguage %}selected {% endif %}>
                    {{ language.name_local }}
                  </option>
                  {% endfor %}
                </select>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                  {{ form.audience|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">
                  {{ form.image|as_crispy_field }}
                  {{ form.x|as_crispy_field }}
                  {{ form.y|as_crispy_field }}
                  {{ form.height|as_crispy_field }}
                  {{ form.width|as_crispy_field }}
                  <a id="imgResult" href="#"> <img id="imageResult" src="{{ resource.image }}" alt="Image not upload"></a>
              </div>
            </div>
            <div class="row">
                <div class="col-5 p-3 ml-5">
                    {{ form.publisher|as_crispy_field }}
                </div>
                <div class="col-5 p-3 ml-5">
                    {{ form.year_of_publication|as_crispy_field }}
                </div>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                {{ form.keywords|as_crispy_field }}
                {{form.choices |as_crispy_field}}
                {{form.choicesSelected|as_crispy_field}}
              </div>
              <div class="col-5 p-3 ml-5">
                {{ form.category|as_crispy_field }}
                {{ form.categorySelected|as_crispy_field }}
                <div id="id_sub_categories"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-5 p-3 ml-5">
                  {{ form.theme|as_crispy_field }}
              </div>
              <div class="col-5 p-3 ml-5">                
                  
              </div>
            </div>
              <button type="submit" class="btn btn-success"><i class="fas fa-share-square"></i> Save</button>
          </form>
      </div>

      </table>

		</div>
	</div>
</div>
{% endblock list_of_items %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
<script src="{% static 'scripts/cropper.min.js' %}"></script>
<script src="{% static 'scripts/jquery-cropper.min.js' %}"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"></script>
<script>
  $(document).ready(function () {
    var choices = $("#id_choices").val();
    var choices = choices.split(",");
    
    var choicesSelected = $("#id_choicesSelected").val().split(",");
    for (choice of choices){
      var found = false;
      for(sel of choicesSelected){ 
        if(sel.trim() == choice.trim()){
          found = true;
          $("#id_keywords").append("<option value='" + choice +"' selected> " + choice + " </option>");
        }
      }  
      if(!found){
        $("#id_keywords").append("<option value='" + choice +"'> " + choice + " </option>");
      }    
    }

    $("#div_id_keywords div").on('keyup', function(){
      var key = $("#div_id_keywords .selection input").val();
      if (key.indexOf(',') > -1) {
         var word =key.slice(0, -1);
         $("#div_id_keywords .selection input").val("");
         $("#id_keywords").append("<option value='" + word +"' selected> " + word + " </option>");
      }      
    });

    var authorsCollection = $("#id_authorsCollection").val();
    var authorsCollection = authorsCollection.split(",");
    
    var selectedAuthors = $("#id_selectedAuthors").val().split(",");
    for (author of authorsCollection){
      var found = false;
      for(sel of selectedAuthors){ 
        if(sel.trim() == author.trim()){
          found = true;
          $("#id_authors").append("<option value='" + author +"' selected> " + author + " </option>");
        }
      }  
      if(!found){
        $("#id_authors").append("<option value='" + author +"'> " + author + " </option>");
      }    
    }

    $("#div_id_authors div").on('keyup', function(){
        var key = $("#div_id_authors .selection input").val();
        if (key.indexOf(',') > -1) {
        var word =key.slice(0, -1);
        $("#div_id_authors .selection input").val("");
        $("#id_authors").append("<option value='" + word +"' selected> " + word + " </option>");
        }      
    });


    $('#contactinfo').on('click', function () {
      $('#contactinfoform').toggle();
      $('html,body').animate({ scrollTop: $("#contactinfo").offset().top - 160 }, { duration: "slow" });
    });
    
    getSubCategories();            
    $("#id_category").on('change', getSubCategories);

    $('#imgResult').on('click', function () {
      $('html,body').animate({ scrollTop: $("#imgResult").offset().top - 220 }, { duration: "slow" });
    });

    $("form").submit(function (e) {
      var validationFailed = false;

      $.each($("[required]"), function (index, value) {
              var id = $(value).parent().parent().attr('id');
              $("#" + id + " .errorMsg").remove();
              if(!$(value).val()){
              validationFailed = true;          
              $(value).parent().append("<span class='errorMsg'> <b>Required field (*)</b></span>");
              }
          });

      if (validationFailed) {
          e.preventDefault();
          $('html,body').animate({ scrollTop: $(".edit-resource").offset().top - 160 }, { duration: "slow" });
          return false;
      }else{
        var option_all = $("#id_keywords option:selected").map(function () {
          return $.trim($(this).text());
        }).get().join(',');      
        $("#id_choices").val(option_all);
        $("#id_keywords").empty();
        
        option_all = $("#id_authors option:selected").map(function () {
            return $.trim($(this).text());
        }).get().join(',');        
        $("#id_authorsCollection").val(option_all);
        $("#id_authors").empty();

        var category = $("#id_category").val();
        $("#id_categorySelected").val(category);            
        var subcategory = $("#id_subcategory").val();
        if(subcategory){
            $("#id_categorySelected").val(subcategory);
        }
      }
    });
  });

  function getSubCategories(){
    var category = $("#id_category").val();        
    var request = $.ajax(
        {
            type: "GET",
            url: "{% url 'get_sub_category' %}",
            data: {
                "category": category
            },
            success: function (response) {
                $("#id_sub_categories").html(response.sub_categories);
                if($("#id_category").val() != $("#id_categorySelected").val()){
                  $("#id_subcategory").val($("#id_categorySelected").val());                
                }
                
            }
        }
    );
  }

  $(function () {
    changed = false;
    /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
    $("#id_image").change(function () {
      $('#imageResult').attr('src', '');
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          changed = true;
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
    });

    $("#imageResult").click(function () {
      if(!changed)
        $("#id_image").click();
      else{
        //$("#image").attr("src", $("#imageResult").attr("src"));
        $("#modalCrop").modal("show");
      }

    });

    /* SCRIPTS TO HANDLE THE CROPPER BOX */
    var $image = $("#image");
    var cropBoxData;
    var canvasData;
    $("#modalCrop").on("shown.bs.modal", function () {
      $image.cropper({
				spectRatio: 4/3,
        viewMode: 0,
        minCropBoxWidth: 400,
        minCropBoxHeight: 300,
        dragMode: 'move',
        guides: false,
        center: false,
        highlight: false,        
        cropBoxResizable: false,
        toggleDragModeOnDblclick: false,        
        ready: function () {
          $image.cropper("setCanvasData", canvasData);
          $image.cropper("setCropBoxData", cropBoxData);
        }
      });
    }).on("hidden.bs.modal", function () {
      cropBoxData = $image.cropper("getCropBoxData");
      canvasData = $image.cropper("getCanvasData");
      $image.cropper("destroy");
    });

    $(".js-zoom-in").click(function () {
      $image.cropper("zoom", 0.1);
    });

    $(".js-zoom-out").click(function () {
      $image.cropper("zoom", -0.1);
    });

    /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
    $(".js-crop-and-upload").click(function () {     
      var cropData = $image.cropper("getData");      
      $("#id_x").val(cropData["x"]);
      $("#id_y").val(cropData["y"]);
      $("#id_height").val(cropData["height"]);
      $("#id_width").val(cropData["width"]);    
      $("#modalCrop").modal("hide");
      $('#imageResult').attr('src', $image.cropper('getCroppedCanvas', {width: 400, height: 300}).toDataURL());      
    });

  });

</script>
{{ form.media.js }}
{% endblock scripts %}
