{% load staticfiles %}
<div class="row">
	<div class="col-lg-2">
		<h2>Resources</h2>
	</div>
	<div class="col-lg-10">
        <form class="form-inline" id="searchResources" action="{% url 'resources' %}">
		<div class="md-form my-0 mr-2">
            <input type="text" id="keywords" name="keywords" autocomplete="on" value="{{filters.keywords}}"
                class="basicAutoComplete form-control" placeholder="Keywords" data-url="text_autocomplete/">
		</div>
		<button class="btn btn-info" id="search" type="submit"><i class="fas fa-search"></i></button>

        <!--a href="{% url 'clearfilters_resources'%}">Clear <i class="fas fa-eraser"></i></a-->
        </form>
    </div>
    </div>
