{% load staticfiles %}
{% load i18n %}
{% load l10n %}
<!--div class="row">
<div class="col-lg-12 mb-3">
Submitted resources that have been checked by our Moderator
have been marked as 'Moderated'. Read more about our <a href="/faq">moderation process</a>
</div>
</div-->
<div class="row">
	<form class="form-inline float-lg-right" id="searchResources" action="{% if isTrainingResource %} {% url 'training_resources' %} {% else %}{% url 'resources' %} {% endif %}">
		<div class="col-12 col-lg-12">

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text"><i class="fas fa-search"></i></div>
				</div>
				<input  type="text" id="keywords" name="keywords" autocomplete="off" value="{{filters.keywords}}" class="basicAutoComplete form-control form-control-lg"
				placeholder="Search for citizen science resources by title or keyword" data-url="resources_autocomplete/?language={{filters.language}}&theme={{filters.theme}}&category={{filters.category}}&approvedCheck={{filters.approvedCheck}}">
				{% get_language_info_list for LANGUAGES as languages %}
				{% if settings.USE_I18N and languages|length > 1 %}
				<div class="input-group-append">
					<div class="input-group-text"><a href="#" data-toggle="modal" data-target="#resourcesinfo" ><i class="fas fa-info-circle"></i></a></div>
				</div>
			</div>


		</div>
		<div class="col-lg-3 col-12  text-right float-rigth">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text"><i class="fas fa-sort-amount-down"></i></div>
				</div>
				<select id="orderby" name="orderby" class="custom-select form-control float-right">
					<option value="-id" {% if filters.orderby == "-id" %} selected {% endif %}>Newest to Oldest</option>
					<option value="id" {% if filters.orderby == "id" %} selected {% endif %}>Oldest to Newest</option>
					<option value="theme" {% if filters.orderby == "theme" %} selected {% endif %}">Theme</option>
					<option value="-avg_rating" {% if filters.orderby == "-avg_rating" %} selected {% endif %}>Higest to Lowest</option>
					<!--option value="avg_rating" {% if filters.orderby == "avg_rating" %} selected {% endif %}>Worst average rating</option-->
				</select>
			</div>
		</div>
		<div class="col-12 col-lg-9 d-none d-sm-block">
			<div class="float-right">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text"><i class="fas fa-filter"></i></div>
					</div>
					<select id="language" name="language" class="custom-select form-control">
						<option value="">All languages<option>
							{% for language in languages %}
							{% for lwc in languagesWithContent %}
							{% if language.code == lwc %}
							<option value="{{ language.code }}"
							{% if language.code ==  filters.language %} selected {% endif %}>
							{{ language.name }}
						</option>
						{% endif %}
						{% endfor %}
						{% endfor %}
					</select>
					{% endif %}
					<select id="theme" name="theme" class="custom-select form-control">
						<option value="">All themes</option>
						{% for theme in themes %}
						<option {% if theme.id == filters.theme %} selected {% endif %} value="{{theme.id}}">{{theme}}</option>
						{% endfor %}
					</select>
					<select id="category" name="category" class="custom-select form-control">
						<option value="">All Resource Types</option>
						{% for category in categories %}
						<option {% if category.id == filters.category %} selected {% endif %} value="{{category.id}}">{{category}}</option>
						{% endfor %}
						<select/>
						<select id="approvedCheck" name="approvedCheck" class="custom-select form-control">
							<option value="On" {% if filters.approvedCheck == "On" %} selected {% endif %}>Moderated</option>
							<option value="Off" {% if filters.approvedCheck == "Off" %} selected {% endif %}>Not yet moderated</option>
							<option value="All" {% if filters.approvedCheck == "All" %} selected {% endif %}">All</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-6 mb-3 text">
				{% if user.is_authenticated %}

				<!--a class="btn btn-dark mb-1" href="{% url 'downloadResources' %}" data-toggle="tooltip" data-placement="top" title="Click here to download all the resources">
					<i class="fas fa-download"></i>&nbsp;DOWNLOAD
				</a-->
				{% else %}
				<a href="/signup">Sign up</a>
				{% endif %}
			</div>
			{% if request.get_full_path != "/resources" %}
			<div class="col-lg-6 text-right mb-3">
				<a class="text-decoration-none text-muted mb-4" href="/resources"><i class="fas fa-times"></i> Clear current search query and filters</a>
			</div>
			{% endif %}
		</form>
		<div class="col-lg-6 col-6 mb-3">
			{{ counter }} results
		</div>
	</div>
