{% load staticfiles %}
{% load i18n %}
{% load l10n %}
<div class="row">
	<div class="col-lg-3">
		<h3>Resources
              {% if user.is_authenticated %}
              <a class="btn btn-warning" href="{% url 'new_resource' %}">
                      <i class="fas fa-plus-circle"></i> Add
              </a>
              {% endif %}
	</h3>


	</div>
	<div class="col-lg-9 float-right">
        <form class="form-inline float-lg-right" id="searchResources" action="{% url 'resources' %}">
					<div class="float-right">

          <button class="btn btn-info float-right" id="search" type="submit"><i class="fas fa-search"></i> Find</button>
              {% get_language_info_list for LANGUAGES as languages %}
              {% if settings.USE_I18N and languages|length > 1 %}
              <select id="language" name="language" class="custom-select form-control col-lg-2 ml-2 float-right">
                <option value="">Language<option>
                  {% for language in languages %}
                    {% for lwc in languagesWithContent %}
                      {% if language.code == lwc %}
                        <option value="{{ language.code }}"                  
                        {% if language.code ==  filters.language %} selected {% endif %}>
                            {{ language.name_local }}
                        </option>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
              </select>
              {% endif %}
              

              <input type="text" id="license" name="license" autocomplete="on" value="{{filters.license}}"
              class="basicAutoComplete form-control col-lg-2 ml-2 float-right" placeholder="License" data-url="license_autocomplete/">

              <input type="text" id="keywords" name="keywords" autocomplete="on" value="{{filters.keywords}}" class="basicAutoComplete form-control col-lg-2 ml-2 float-right" placeholder="Keywords" data-url="resources_autocomplete/">
				</div>


        </form>
  </div>

<div class="col-lg-12 text-right">
{% if request.get_full_path != "/resources" %}
<a class="text-decoration-none text-muted" href="/resources"><i class="fas fa-times"></i> Clear current search query, filters, and sorts</a>
{% endif %}
</div>

</div>

<script type="text/javascript" src="{% static 'site/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.js"
integrity="sha256-7BfFV/dSvQT4pGBvRAIt6JDXsehb92DQqpGUndLCPQ4=" crossorigin="anonymous"></script>
<script
  src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/3de7ad37/dist/latest/bootstrap-autocomplete.js"></script>
<script>
  $('.basicAutoComplete').autoComplete(
    { minLength: 3 }
  );

  $("#keywords").blur(function () {
    $('#searchResources').submit();
  });

  $(function () {
    $('#language').on('change', function () {
      var language = $(this).val();
      $('#searchResources').submit();
    });
  });

  $("#license").blur(function () {
    $('#searchResources').submit();
  });
</script>
