{% load i18n %}
<div class="container">
  <div class="row">
    <div class="modal fade" id="resourcesinfo">
      <div class="modal-dialog mdialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{% trans "Info" %}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span>
            </button>
          </div>
          <div class="modal-body">
            <b>{% trans "Search" %}</b> {% trans "resources by title or keywords by typing text directly into the the search bar" %}<br/><br/>
            <b>{% trans "Sort" %}</b> {% trans "resources by date or by rating" %}<br/><br/>
            <b>{% trans "Filter" %}</b> {% trans "search results by language, theme or category" %}<br/><br/>

            {% trans "Submitted resources that have been through the moderation process are marked as 'Moderated'.Only these will show in your search results unless you filter for 'not yet moderated' or 'All'." %}<br/><br/>

            {% trans "Read more about our" %} <a href="/moderation">{% trans "moderation process" %}</a><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
