{% extends "base2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% block head %}
{{ block.super }}
{{ form.media.css }}
{% endblock head %}

{% block title %}{{ block.super }}Projects{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="projects" %}
{% endblock %}


{% block list_of_items %}
<div class="container-fluid">
	<div class="card mb-4">
		<div class="card-title p-3">
			<h2>Add new resource</h2>
		</div>
		<div class="card-text p-3">
             <table class="table mb-0">
                        <form action="/new_resource" method="post" class="add-new-post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-5 p-3 ml-5">
                                    {{ form.name|as_crispy_field }}
                                </div>
                                <div class="col-5 p-3 ml-5">
                                    {{ form.about|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 p-3 ml-5">
                                    {{ form.abstract|as_crispy_field }}
                                </div>
                                <div class="col-5 p-3 ml-5">
                                    {{ form.url|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 p-3 ml-5">
                                    <label for="name">Contact person name</label><br />
                                    <input type="text" disabled name="name" value={{user.name}} maxlength="100"
                                        class="textinput textInput form-control">
                                </div>
                                <div class="col-5 p-3 ml-5">
                                    <label for="email">Contact person email</label><br />
                                    <input type="text" disabled name="email" value={{user.email}} maxlength="100"
                                        class="textinput textInput form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 p-3 ml-5">
                                    {{ form.license|as_crispy_field }}
                                </div>
                                <div class="col-5 p-3 ml-5">
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% if settings.USE_I18N and languages|length > 1 %}
                                    <label for="language" class="control-label  requiredField">
                                        Language<span class="asteriskField">*</span>
                                    </label>
                                    <select name="language" class="form-control">
                                        {% for language in languages %}
                                        <option value="{{ language.code }}"
                                            {% if language.code == LANGUAGE_CODE %}selected="selected" {% endif %}>
                                            {{ language.name_local }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 p-3 ml-5">
                                    {{ form.audience|as_crispy_field }}
                                </div>
                                <div class="col-5 p-3 ml-5">
                                    {{ form.publisher|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 p-3 ml-5">
                                    {{ form.keywords|as_crispy_field }}
                                    {{form.choices|as_crispy_field}}
                                </div>
                                <div class="col-5 p-3 ml-5">
                                    {{ form.category|as_crispy_field }}
                                    {{ form.categorySelected|as_crispy_field }}
                                    <div id="id_sub_categories"></div>
                                </div>
                            </div>
                                <button type="submit" onclick="completeSubmit()" class="btn btn-success"> <i class="fas fa-share-square"></i> Save</button>
                        </form>
                    </table>
		</div>
	</div>
</div>
{% endblock list_of_items %}


{% block scripts %}

<script>
    $(document).ready(function () {

        var choices = $("#id_choices").val();
        var choices = choices.split(",");

        for (choice of choices){
            $("#id_keywords").append("<option value='" + choice +"'> " + choice + " </option>");
        }
  
      $("#div_id_keywords div").on('keyup', function(){
        var key = $(".selection input").val();
        if (key.indexOf(',') > -1) {
           var word =key.slice(0, -1);
           $(".selection input").val("");
           $("#id_keywords").append("<option value='" + word +"' selected> " + word + " </option>");
        }      
      });


      $("#id_category").on('change', getSubCategories);
      getSubCategories();
    });

    function getSubCategories(){
        var category = $("#id_category").val();        
        var request = $.ajax(
            {
                type: "GET",
                url: "{% url 'get_sub_category' %}",
                data: {
                    "category": category
                },
                success: function (response) {
                    $("#id_sub_categories").html(response.sub_categories);
                    
                }
            }
        );
    }
   

    function completeSubmit(){       
        var option_all = $("#id_keywords option:selected").map(function () {
            return $.trim($(this).text());
        }).get().join(',');        
        $("#id_choices").val(option_all);
        $("#id_keywords").empty();

        var category = $("#id_category").val();
        $("#id_categorySelected").val(category);            
        var subcategory = $("#id_subcategory").val();
        if(subcategory){
            $("#id_categorySelected").val(subcategory);
        }     
    }

</script>
{{ form.media.js }}
{% endblock scripts %}
