{% extends "base_r2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% block head %}
{{ block.super }}
{{ form.media.css }}
{% endblock head %}

{% block title %}{{ block.super }} :: New resource{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="resources" %}
{% endblock %}
{% block list_of_items %}

<!-- MODAL TO CROP THE IMAGE -->
<div class="container">
  <div class="row">
    <div class="modal fade" id="modalCrop">
      <div class="modal-dialog mdialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{% trans "Crop the photo" %}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span>
            </button>
          </div>
          <div class="modal-body">
            <h5>Make zoom until the image covers all the box</h5>
            <div class="row">
              <div class="col-11">
                <img src="" id="image" style="img-fluid img-zoom">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="btn-group pull-left" role="group">
              <button type="button" class="btn btn-default js-zoom-in">
                <span><i class="material-icons" style="font-size: 18px;">{% trans "zoom_in" %}</i> </span>
              </button>
              <button type="button" class="btn btn-default js-zoom-out">
                <span><i class="material-icons" style="font-size: 18px;">{% trans "zoom_out" %}</i></span>
              </button>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            <button type="button" class="btn btn-primary js-crop-and-upload">{% trans "Crop and upload" %}</button>
          </div>
        </div>
      </div>
    </div>


    <!-- SAVE MESSAGE MODAL -->
    <div class="modal fade" id="savedModal">
      <div class="modal-dialog mdialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{% trans "Resource is going to saved" %}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm">
                <p>{% trans "Thank you" %}</p>

                <p>{% trans "Thank you for submitting your resource profile. This has been sent to the EU-Citizen.Science moderation team, who will check it to ensure that all of the resources shared on the platform are indeed useful for citizen science projects and practitioners, and are of good quality." %}</p>

                <p>{% trans "We will be in touch with you if we have any questions, and otherwise you will receive an alert that your resource has been moderated and published to the platform. Your resource profile will be visible to the public in the meantime, but will be marked as unmoderated." %}</p>

                <p>{% trans "You can make updates or changes to this resource profile at any time, by going to the Submitted resources section in your Personal Area (see the top-right of the platform menu)." %}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary read-before-save">{% trans "OK" %}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-sm-10 col-12">
          <div class="card mb-5 mt-5 shadow">
            <div class="card-title p-5">
              <div class="form-row">
                <div class="col-12">
                  <h2>{% trans "New" %} {% if isTrainingResource %}{% trans "training" %} {% endif %} {% trans "resource" %}</h2>
                  {% trans "Thank you for proposing a new citizen science resource to be shared on the EU-Citizen.Science Platform. Please fill in all of the mandatory information in the fields below (indicated with an asterisk*), and as much of the non-mandatory information as possible." %}<br><br>

                  {% trans "Resources can include documents such as guidelines, reports, policy briefs, and protocols; tools such as software or hardware, and other file formats such as videos or podcasts. Read our blog post on Types of Resources." %}<br><br>

                  {% trans "Upon saving this profile, your resource will be submitted for moderation by one of the members of the EU-Citizen.Science consortium. The moderation process is meant to ensure that all of the resources shared on the platform are indeed useful for citizen science projects and practitioners, and are of good quality. Read more about " %}
                  <a href="/faq" target="_blank">{% trans "The Moderation Process" %}</a> {% trans "here." %}<br><br>

                  {% trans "Quality factors that we consider include whether your resource is easy to access, is structured clearly, is easy to read (or hear or view) and understand. Read our" %}
                  <a href="/faq" target="_blank">{% trans "Quality Guidelines" %}</a>  {% trans "here." %}<br><br>

                  {% trans "Please note that we strongly recommend that you first ensure that your resource is hosted in a permanent repository (such as on a website that will be maintained and can provide a permalink, or a repository such as a publisher, " %}
                  <a href="https://zenodo.org/" target="_blank">Zenodo<a> , <a href="https://osf.io/" target="_blank">OSF</a>
                  {% trans "or the" %} <a href="https://riojournal.com/" target="_blank">RIO Journal</a>.
                </div>
              </div>
            </div>
            <div class="card-text pl-5 pr-5 pb-5">
              <table class="table mb-0">
                <form action="/new_resource" method="post" class="add-new-resource" enctype="multipart/form-data" autocomplete="off">
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="col-12">
                      <h3>{% trans "Main information" %}</h3>
                    </div>
                    <div class="col-12">
                      {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-12">
                      {{ form.url|as_crispy_field }}
                    </div>
                    <div class="col-12">
                      {{ form.abstract|as_crispy_field }}
                    </div>
                    <div class="col-12">
                      {{ form.description_citizen_science_aspects|as_crispy_field }}
                    </div>
                    <div class="col-12">
                      {{ form.category|as_crispy_field }}
                      {{ form.categorySelected|as_crispy_field }}
                      <div id="id_sub_categories"></div><br/>
                      {{ form.audience|as_crispy_field }}
                    </div>
                    <div class="col-12">
                      {{ form.keywords|as_crispy_field }}
                      {{form.choices|as_crispy_field}}
                    </div>
                    <div class="col-12">
                      {{ form.resource_DOI|as_crispy_field }}
                    </div>
                    <div class="col-12">
                      {{ form.authors|as_crispy_field }}
                      {{ form.authorsCollection|as_crispy_field }}
                    </div>
                    <div class="col-12">
                      {{ form.license|as_crispy_field }}
                    </div>
                    <div class="col-12">
                      {% get_language_info_list for LANGUAGES as languages %}
                      {% if settings.USE_I18N and languages|length > 1 %}
                      <label for="language" class="control-label  requiredField">
                        Language
                        <span class="asteriskField">*</span>
                      </label>

                      <select name="language" class="form-control">
                        {% for language in languages|dictsort:"name" %}
                        {% if language.code in settings.LANGUAGE_CODES %}
                        <option value="{{ language.code}}"
                        {% if language.code == LANGUAGE_CODE %}selected="selected" {% endif %}>
                        {{ language.name | lower | capfirst}}
                      </option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    {% endif %}
                    <p class="help-block">{% trans "Please indicate the (main) language that the resource is made available" %}</p>
                  </div>
                  <div class="col-12">
                    {{ form.organisation|as_crispy_field }}
                  </div>
                  <div class="col-12">

                  </div>
                  <div class="col-12">
                    {{ form.publisher|as_crispy_field }}
                  </div>
                  <div class="col-12">
                    {{ form.year_of_publication|as_crispy_field }}
                  </div>
                  <div class="col-12">
                    {{ form.theme|as_crispy_field }}
                  </div>
                  <div class="col-12">
                    {% if user.is_staff %}
                    {{ form.curatedList|as_crispy_field }}
                    {% endif %}
                  </div>
                  {% if isTrainingResource %}
                  <div class="col-12">
                    <hr />
                    <h3>{% trans "Fields related with training" %}</h3>
                    <input type="hidden" id="trainingResource" name="trainingResource" value={{isTrainingResource}}/>
                    {{ form.education_level|as_crispy_field }}
                    {{ form.educationLevelSelected|as_crispy_field }}
                    {{ form.learning_resource_type|as_crispy_field }}
                    {{ form.learningResourceTypeSelected|as_crispy_field }}
                    {{ form.time_required|as_crispy_field }}
                    {{ form.conditions_of_access|as_crispy_field }}
                    {% endif %}
                  </div>

                  <div class="col-12">
                    <hr>
                    <h3>{% trans "Profile images"%}</h3>
                  </div>
                  <div class="col-12">
                    {{ form.image1|as_crispy_field }}
                    {{ form.x1|as_crispy_field }}
                    {{ form.y1|as_crispy_field }}
                    {{ form.height1|as_crispy_field }}
                    {{ form.width1|as_crispy_field }}
                    {{ form.withImage1|as_crispy_field }}
                    <a id="imgResult1" href="#"> <img id="imageResult1" src="" alt="" class="img-fluid img-zoom"></a>
                    {{ form.image_credit1|as_crispy_field }}
                  </div>
                  <div class="col-12">
                    <br/><br/>
                    {{ form.image2|as_crispy_field }}
                    {{ form.x2|as_crispy_field }}
                    {{ form.y2|as_crispy_field }}
                    {{ form.height2|as_crispy_field }}
                    {{ form.width2|as_crispy_field }}
                    {{ form.withImage2|as_crispy_field }}
                    <a id="imgResult2" href="#"> <img id="imageResult2" src="" alt="" class="img-fluid img-zoom"></a>
                  </div>
                  <div class="col-12">
                    {{ form.image_credit2|as_crispy_field }}
                  </div>
                </div>


                <button type="submit" class="btn btn-green mt-2"> <i class="fas fa-share-square"></i> {% trans "Save" %}</button>
              </form>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock list_of_items %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
<script src="{% static 'scripts/cropper.min.js' %}"></script>
<script src="{% static 'scripts/jquery-cropper.min.js' %}"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"></script>
<script>
  var readSavedConfirmation = false;
  $(function () {

    $("#id_keywords").attr('required', true);
    $("#div_id_keywords label").append('<span class="asteriskField">*</span>');
    getKeywordsSelector();

    $("#id_authors").attr('required', true);
    $("#div_id_authors label").append('<span class="asteriskField">*</span>');
    getAuthorsSelector();

    $("#div_id_keywords div").on('keyup', function(e){
      var key = $("#div_id_keywords .selection input").val();
      if (key.indexOf(',') > -1) {
        var word =key.slice(0, -1);
        $("#div_id_keywords .selection input").val("");
        if(word.length > 1){
          $("#id_keywords").append("<option value='" + word +"' selected> " + word + " </option>");
        }
      }
      if(e.which == 13) {
        $("#div_id_keywords .selection input").val("");
        if(key.length > 1){
          $("#id_keywords").append("<option value='" + key +"' selected> " + key + " </option>");
        }
      }
    });

    $("#div_id_authors div").on('keyup', function(e){
      var key = $("#div_id_authors .selection input").val();
      if (key.indexOf(',') > -1) {
        var word =key.slice(0, -1);
        $("#div_id_authors .selection input").val("");
        if(word.length > 1){
          $("#id_authors").append("<option value='" + word +"' selected> " + word + " </option>");
        }
      }
      if(e.which == 13) {
        $("#div_id_authors .selection input").val("");
        if(key.length > 1){
          $("#id_authors").append("<option value='" + key +"' selected> " + key + " </option>");
        }
      }
    });

    $("#id_category").on('change', getSubCategories);
    getSubCategories();

    $("#div_id_education_level div").on('change', function(){
      $("#id_education_level").removeAttr('multiple');
    });

    $("#div_id_education_level div").on('keyup', function(e){
      var key = $("#div_id_education_level .selection input").val();
      if (key.indexOf(',') > -1) {
        var word =key.slice(0, -1);
        $("#div_id_education_level .selection input").val("");
        if(word.length > 1){
         $("#id_education_level").append("<option value='" + word +"' selected> " + word + " </option>");
        }
        $("#id_education_level").removeAttr('multiple');
      }
      if(e.which == 13) {
        $("#div_id_education_level .selection input").val("");
        if(key.length > 1){
          $("#id_education_level").append("<option value='" + key +"' selected> " + key + " </option>");
        }
        $("#id_education_level").removeAttr('multiple');
      }
    });

    $("#div_id_learning_resource_type div").on('change', function(){
      $("#id_learning_resource_type").removeAttr('multiple');
    });

    $("#div_id_learning_resource_type div").on('keyup', function(e){
      var key = $("#div_id_learning_resource_type .selection input").val();
      if (key.indexOf(',') > -1) {
        var word =key.slice(0, -1);
        $("#div_id_learning_resource_type .selection input").val("");
        if(word.length > 1){
          $("#id_learning_resource_type").append("<option value='" + word +"' selected> " + word + " </option>");
        }
        $("#id_learning_resource_type").removeAttr('multiple');
      }
      if(e.which == 13) {
        $("#div_id_learning_resource_type .selection input").val("");
        if(key.length > 1){
          $("#id_learning_resource_type").append("<option value='" + key +"' selected> " + key + " </option>");
        }
        $("#id_learning_resource_type").removeAttr('multiple');
      }
    });

    $("form").submit(function (e) {
      var validationFailed = false;
      if(!readSavedConfirmation){
        $.each($("[required]"), function (index, value) {
          var id = $(value).parent().parent().attr('id');
          $("#" + id + " .errorMsg").remove();
          if(!$(value).val() || $(value).val().length < 1){
            validationFailed = true;
            $(value).parent().append("<span class='errorMsg'> <b>Required field (*)</b></span>");
          }
        });
      }

      if (validationFailed) {
        e.preventDefault();
        $('html,body').animate({ scrollTop: $(".add-new-resource").offset().top - 160 }, { duration: "slow" });
        return false;
      }else{
        if(!readSavedConfirmation){
          e.preventDefault();
          $("#savedModal").modal("show");
        }else{
          var option_all = $("#id_keywords option:selected").map(function () {
            return $.trim($(this).text());
          }).get().join(',');
          if(option_all){
            $("#id_choices").val(option_all);            
          }
          $("#id_keywords").empty();

          authors = $("#id_authors option:selected").map(function () {
            return $.trim($(this).text());
          }).get().join(',');
          if(authors){
            $("#id_authorsCollection").val(authors);            
          }
          $("#id_authors").empty();

          var category = $("#id_category").val();
          $("#id_categorySelected").val(category);
          var subcategory = $("#id_subcategory").val();
          if(subcategory){
            $("#id_categorySelected").val(subcategory);
          }

          var educationLevel = $("#id_education_level option:selected").map(function () {
            return $.trim($(this).text());
          }).get().join(',');
          if(educationLevel){
            $("#id_educationLevelSelected").val(educationLevel);            
          }
          $("#id_education_level").empty();

          var learningResourceType = $("#id_learning_resource_type option:selected").map(function () {
            return $.trim($(this).text());
          }).get().join(',');
          if(learningResourceType){
            $("#id_learningResourceTypeSelected").val(learningResourceType);            
          }
          $("#id_learning_resource_type").empty();
        }

      }
    });

    $(".read-before-save").click(function () {
      readSavedConfirmation = true;
      $("#savedModal").modal("hide");
      $('form').submit();
    });

  });

  function getSubCategories(){
    var category = $("#id_category").val();
    var request = $.ajax(
    {
      type: "GET",
      url: "{% url 'get_sub_category' %}",
      data: {
        "category": category
      },
      success: function (response) {
        $("#id_sub_categories").html(response.sub_categories);

      }
    }
    );
  }

  function getKeywordsSelector() {
    var request = $.ajax(
    {
      type: "GET",
      url: "{% url 'getResourceKeywordsSelector' %}",
      data: {
        "resource_id": 0
      },
      success: function (response) {
        $("#id_keywords").html(response.keywords);
      }
    }
    );
  }

  function getAuthorsSelector() {
    var request = $.ajax(
    {
      type: "GET",
      url: "{% url 'getResourceAuthorsSelector' %}",
      data: {
        "resource_id": 0
      },
      success: function (response) {
        $("#id_authors").html(response.authors);
      }
    }
    );
  }

  $(function () {
    var imgSelected;
    /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
    $("#id_image1").change(function () {
      imgSelected = 1;
      $('#imageResult1').attr('src', '');
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
    });
    $("#id_image2").change(function () {
      imgSelected = 2;
      $('#imageResult2').attr('src', '');
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
    });
    $("#imageResult1").click(function () {
      $("#modalCrop").modal("show");
    });
    $("#imageResult2").click(function () {
      $("#modalCrop").modal("show");
    });
    /* SCRIPTS TO HANDLE THE CROPPER BOX */
    var $image = $("#image");
    var cropBoxData;
    var canvasData;
    $("#modalCrop").on("shown.bs.modal", function () {
      $image.cropper({
        viewMode: 0,
        aspectRatio: imgSelected == 2 ? 11/4 : 3/2,
        minCropBoxWidth: imgSelected == 2 ? 1100 : 600,
        minCropBoxHeight: 400,
        dragMode: 'move',
        guides: false,
        center: false,
        highlight: false,
        cropBoxResizable: false,
        toggleDragModeOnDblclick: false,
        ready: function () {
          $image.cropper("setCanvasData", canvasData);
          $image.cropper("setCropBoxData", cropBoxData);
        }
      });
    }).on("hidden.bs.modal", function () {
      cropBoxData = $image.cropper("getCropBoxData");
      canvasData = $image.cropper("getCanvasData");
      $image.cropper("destroy");
    });

    $(".js-zoom-in").click(function () {
      $image.cropper("zoom", 0.1);
    });

    $(".js-zoom-out").click(function () {
      $image.cropper("zoom", -0.1);
    });

    /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
    $(".js-crop-and-upload").click(function () {
      var cropData = $image.cropper("getData");
      $("#id_x" + imgSelected).val(cropData["x"]);
      $("#id_y" + imgSelected).val(cropData["y"]);
      $("#id_height" + imgSelected).val(cropData["height"]);
      $("#id_width" + imgSelected).val(cropData["width"]);
      $("#modalCrop").modal("hide");
      $('#imageResult' + imgSelected).attr('src', $image.cropper('getCroppedCanvas',
      {width: imgSelected == 2 ? 1100 : 600, height: 400}).toDataURL());
    });

  });
</script>
{{ form.media.js }}
{% endblock scripts %}
