{% extends "base2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% load reviews %}
{% block title %}{{ block.super }} :: {{resource.name}}{% endblock %}
{% block navbar-left %}
{% include "_navbar.html" with active_link="resources" %}
{% endblock %}

{% block list_of_items %}
{{ permissionForm.media.css }}
<div class="container mt-5">
  <div class="row">
    <div class="container-fluid main-content-container">
      <div class="card mb-4 mt-5 shadow">
        {% if resource.image2 %}
        <img class="img-fluid img-responsive img-zoom {% if resource.id not in featuredResources %} nonmoderated {% endif %}" src="{{ resource.image2 }}" >
        {% else %}
        <img class="img-fluid img-responsive img-zoom {% if resource.id not in featuredResources %} nonmoderated {% endif %}" src='/static/site/img/resource_default_header.png'>
        {% endif %}
        <div class="upper">
          {% if resource.id not in featuredResources %} <a class="badge frontpage frontpage-red mb-2" href="/faq#moderation">NOT YET MODERATED</a><br> {% endif %}
        </div>
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6 col-12">
              {% if user.is_authenticated %}
              {% if resource.creator == user or user.is_staff or user.id in cooperators %}
              <a class="btn btn-red mt-4" href="{% url 'editResource' resource.id %}"><i class="fas fa-edit"></i> Edit
              </a>
              {% endif %}
              {% endif %}
            </div>
            <div class="col-lg-6 col-12">
              {% if user.is_authenticated %}
              {% if resource.creator == user or user.is_staff %}
              <permissionForm>
                {% csrf_token %}
                {{ permissionForm.usersAllowed | as_crispy_field }}
                {{ permissionForm.selectedUsers | as_crispy_field }}
                {{ permissionForm.usersCollection | as_crispy_field }}
              </permissionForm>
              {% endif %}
              {% endif %}
            </div>
          </div>
        </div><!-- End of card-header -->
        <div class="card-text p-3">
          <div class="row">
            <div class="col-12 col-xl-4">
              <h4>{{resource.name}}</h4>
              {% get_rating for resource as avg_rating %}
              {% get_review_count for resource as review_count %}
              <span class="gl-star-rating-stars s{{ avg_rating | stringformat:'d'}}0 readonly">
                <span data-value="1" data-text="Terrible"></span>
                <span data-value="2" data-text="Poor"></span>
                <span data-value="3" data-text="Average"></span>
                <span data-value="4" data-text="Very Good"></span>
                <span data-value="5" data-text="Excellent"></span>
              </span>
              {{ review_count }} <a href="#review-list">{% if review_count == 1 %} review {% else %} reviews {% endif %}</a>
            </div>
            <div class="col-12 col-xl-8 pt-2">
              {{ resource.abstract | safe }}
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-3 mt-5">
              <div class="card h-100 shadow-sm">
                <div class="card-body">
                  <h1><i class="fas fa-language" ></i></h1>
                  <h5 class="text-dark">Language</h5>
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                  {% if language.code == resource.inLanguage %}
                  <a class="badge badge-light" href="/resources?language={{resource.inLanguage}}">{{language.name | upper}}</a>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-3 mt-5">
              <div class="card h-100 shadow-sm">
                <div class="card-body">
                  <h1><i class="fas fa-grip-horizontal" ></i></h1>
                  <h5 class="text-dark">Category</h5>
                  <a class="badge badge-light" href="/category?theme={{resource.category.id}}">{{resource.category | upper }}</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-3 mt-5">
              <div class="card h-100 shadow-sm">
                <div class="card-body">
                  <h1><i class="fas fa-book" ></i></h1>
                  <h5 class="text-dark">Theme</h5>
                  {% for theme in resource.theme.all %}<a class="badge badge-light" href="/resources?theme={{theme.id}}">{{ theme | upper }}</a> {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-3 mt-5">
              <div class="card h-100 shadow-sm">
                <div class="card-body">
                  <h1><i class="far fa-lightbulb"></i></h1>
                  <h5 class="text-dark">Keywords</h5>
                  {% for keyword in resource.keywords.all %} <a class="badge badge-light" href="/resources?keywords={{keyword}}">{{keyword  | upper}}</a>  {% endfor %}
                </div>
              </div>
            </div>
          </div><!-- End of row of cards -->
          <div class="row">
            <div class="col-12 col-xl-4 mt-5">
              <h4>Main info</h4>
            </div>
            <div class="col-12 col-xl-8 mt-5">
              <b> URL: </b><a href="{{resource.url}}" target="_blank">{{resource.url}}</a><br>
              <b>License: </b>{{ resource.license }}<br>
              <b>Audience: </b>{% for audience in resource.audience.all %}{{ audience }} {% endfor %}<br>
              <b>Publisher: </b> {{ resource.publisher }}<br>
              <b>Year of publication: </b> {{ resource.datePublished }}<br>
              <b>Resource DOI: </b> {{ resource.resourceDOI }}<br>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-xl-4 mt-5">
              <h4>Reviews</h4>
            </div>
            <div class="col-12 col-xl-8 mt-5">
              {% get_review_list for resource as review_list %}
              {% for review in review_list %}
              <span class="gl-star-rating-stars s{{ review.rating | stringformat:'d'}}0 readonly">
                <span data-value="1" data-text="Terrible"></span>
                <span data-value="2" data-text="Poor"></span>
                <span data-value="3" data-text="Average"></span>
                <span data-value="4" data-text="Very Good"></span>
                <span data-value="5" data-text="Excellent"></span>
              </span>
                {{review.submit_date}} - {{review.user.name}}
                <p>{{review.comment}}</p>
              {% endfor %}
              {% if user.is_authenticated %}
              <a  class="btn btn-outline-secondary float-left mt-2" href="/resource_review/{{resource.id}}">Review</a>
              {% endif %}
            </div>
          </div>
        </div> <!-- End of card text -->
        <div class="card-footer bg-white">
          <div class="row">
            <div class="col-2">
              <div id="featured{{resource.id}}">
                {% if user.is_staff %}
                {% if resource.id in featuredResources %}
                <img onclick="setFeaturedRsc({{resource.id}})" class="img-fluid" src="{% static 'site/img/icon_color.png' %}" />
                {% else %}
                <img onclick="setFeaturedRsc({{resource.id}})" class="img-fluid" src="{% static 'site/img/icon_bw.png' %}" />
                {% endif %}
                {% else %}
                {% if resource.id in featuredResources %}
                <img class="img-fluid" src="{% static 'site/img/icon_color.png' %}" />
                {% else %}
                <img class="img-fluid" src="{% static 'site/img/icon_bw.png' %}" />
                {% endif %}
                {% endif %}
              </div>
            </div>
            <div class="col-10">
              <a class="btn btn-outline-secondary float-right ml-2 mt-2" href="{{resource.url}}" target="_blank">Download</a>
              {% if user.is_authenticated %}
              <div id="saved{{resource.id}}">
                {% if resource.id in savedResources %}
                <button type="button" class="btn btn-outline-primary float-right mt-2" onclick="setSavedResource({{resource.id}},{{user.id}})">In my library</button>
                {% else %}
                <button type="button" class="btn btn-outline-secondary float-right mt-2" onclick="setSavedResource({{resource.id}},{{user.id}})">Add to library</button>
                {% endif %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock list_of_items %}

{% block scripts %}
<script>
  $(document).ready(function () {
    var users = $("#id_usersCollection").val();
    if(users){
      var users = users.split(",");
      var selectedUsers = $("#id_selectedUsers").val().split(",");
      for (user of users){
        var found = false;
        for(sel of selectedUsers){
          if(sel.trim() == user.trim()){
            found = true;
            $("#id_usersAllowed").append("<option value='" + user +"' selected> " + user + " </option>");
          }
        }
        if(!found){
          $("#id_usersAllowed").append("<option value='" + user +"'> " + user + " </option>");
        }
      }
    }
  });
  function setFeaturedRsc(idResource){
    var request = $.ajax(
    {
      type: "POST",
      url: "{% url 'setFeaturedRsc' %}",
      data: {
        "resource_id": idResource,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (response) {
        $(".main-content-container").load(" .main-content-container");
      }
    }
    );
  }
  function setSavedResource(idResource, idUser){
    var htmlId = "saved" + idResource;
    var request = $.ajax(
    {
      type: "POST",
      url: "{% url 'setSavedResource' %}",
      data: {
        "resource_id": idResource,
        "user_id": idUser,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (response) {
        $("#"+htmlId).load(" #"+htmlId);
      }
    }
    );
  }
  $(function () {
    $('#id_usersAllowed').on('change', function () {
      users = $("#id_usersAllowed option:selected").map(function () {
        return $.trim($(this).text());
      }).get().join(',');
      var idResource = {{ resource.id }};
      var request = $.ajax(
      {
        type: "POST",
        url: "{% url 'allowUserResource' %}",
        data: {
          "resource_id": idResource,
          "users": users,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (response) {
        }
      }
      );
    });
  });
</script>
{{ permissionForm.media.js }}
{% endblock scripts %}
