{% extends "base_r2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% load reviews %}
{% block title %}{{ block.super }} :: Resources{% endblock %}

{% block list_of_items %}
{% include "modal_resources.html" %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% if isTrainingResource %}
            <h1>training resource <span class="lightBlue-color">search</span></h1>
            {% else %}
            <h1>resource <span class="lightBlue-color">search</span></h1>
            {% endif %}
            {% include "_subnavbar.html" %}
            {% include "_finder_resources.html" %}
        </div>
    </div>
    <div class="row">
        {% include "resources_cards.html" %}
    </div>
</div>
{% endblock list_of_items %}

{% block scripts %}
<script src="{% static 'site/js/bootstrap-autocomplete.js'%}"></script>
<script>
    $('.basicAutoComplete').autoComplete(
        { minLength: 3 }
    );
    $('.basicAutoComplete').on('autocomplete.select', function (evt, item) {
        $('#searchTop').submit();
    });
    $(function () {
        $('.custom-select').on('change', function () {
            $('#searchResources').submit();
        });
        $('#pill-inLanguage').on('click', function() {
            $('#inLanguage').val('')
            $('#searchResources').submit()
        });
        $('#pill-theme').on('click', function() {
            $('#theme').val('')
            $('#searchResources').submit();
        });
        $('#pill-category').on('click', function() {
            $('#category').val('')
            $('#searchResources').submit();
        });
        $('#pill-audience').on('click', function() {
            $('#audience').val('')
            $('#searchResources').submit();
        });
    });
</script>
{% endblock scripts %}
