{% extends "base2.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}


{% block title %}{{ block.super }}Resource{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="resource" %}
{% endblock %}


{% block list_of_items %}


  <div class="container-fluid">


    <div class="card mb-4">
      <div class="card-header">
        <h2>  {{resource.name}}
          {% if user.is_authenticated %}
          {% if resource.author == user %}
          <a class="btn btn-danger float-right" href="{% url 'editResource' resource.id %}">Edit
          </a>
          {% endif %}
          {% endif %}
        </h2>
 
		</div>
        <div class="card-text m-2 mt-4">

							{% for keyword in resource.keywords.all %} <a class="btn btn-outline-secondary btn-sm rounded mb-2" href="resources?keywords={{keyword}}">{{keyword}}</a>  {% endfor %}</p>
                <p><b>About: </b> {{resource.about}}</p>
                <p><b>Abstract: </b> {{ resource.abstract }}</p>
                <p><b> URL: </b><a href="{{resource.url}}">{{resource.url}}</a></p>
                <p><b>License: </b>{{ resource.license }}</p>
                <p><b>Language: </b> {{ resource.inLanguage }}</p>
                <p><b>Audience: </b>{{ resource.audience }} </p>
                <p><b>Publisher: </b> {{ resource.publisher }}</p>

    </div>
  </div>
</div>



{% endblock list_of_items %}
