{% extends "base_r2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% load reviews %}
{% block title %}{{ block.super }} :: Resources{% endblock %}
{% block navbar-left %}
{% include "_navbar_r2.html" with active_link="resources" %}
{% endblock %}
{% block page_title %}
{% endblock page_title %}
{% block splash %}
{% endblock splash %}
{% block page_header %}
{% include "finder_resources.html" %}
{% endblock page_header %}
{% block list_of_items %}
{% include "modal_resources.html" %}
<div class="container">
{% for message in messages %}
  <div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  </div>
{% endfor %}
  <div class="row">
    {% include "resources_cards.html" %}
  </div>
  <div class="col-12">
    {% if counter == 0  %}
    <img  class="img-fluid img-zoom col-12 mt-5" src="{% static 'site/img/undraw_empty_xct9.svg' %}">
    <h5 class="mb-4">{% trans "Sorry, nothing found" %}</h5>
    {% else %}
    &nbsp;
    {% endif %}
  </div>
</div>
</div>
{% endblock list_of_items %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.js"
integrity="sha256-7BfFV/dSvQT4pGBvRAIt6JDXsehb92DQqpGUndLCPQ4=" crossorigin="anonymous"></script>
<script
src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/3de7ad37/dist/latest/bootstrap-autocomplete.js"></script>

<script>
  function setApprovedRsc(idResource, approved) {
    var htmlId = "resource" + idResource;
    var request = $.ajax(
    {
      type: "POST",
      url: "{% url 'setApprovedRsc' %}",
      data: {
        "resource_id": idResource,
        "approved": approved,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (response) {
        window.location.reload(false);
      }
    }
    );
  }

  function setSavedResource(idResource, idUser, save) {
    var htmlId = "saved" + idResource;
    var request = $.ajax(
    {
      type: "POST",
      url: "{% url 'setSavedResource' %}",
      data: {
        "resource_id": idResource,
        "user_id": idUser,
        "save": save,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (response) {
        $("#" + htmlId).load(" #" + htmlId);
      }
    }
    );
  }

  function setHiddenResource(idResource, hidden) {
    var htmlId = "hidden" + idResource;
    var request = $.ajax(
    {
      type: "POST",
      url: "{% url 'setHiddenResource' %}",
      data: {
        "resource_id": idResource,
        "hidden": hidden,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (response) {
        window.location.reload(false);
      }
    }
    );
  }

  function setFeatured(idResource, featured){
    var htmlId = "featured" + idResource;
    var request = $.ajax(
    {
      type: "POST",
      url: "{% url 'setFeaturedResource' %}",
      data: {
        "resource_id": idResource,
        "featured": featured,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (response) {
        window.location.reload(false);
      }
    }
    );
  }

  $('.basicAutoComplete').autoComplete(
  { minLength: 3 }
  );

  $('.basicAutoComplete').on('autocomplete.select', function (evt, item) {
    $('#searchTop').submit();
  });
  $('.basicAutoCompleteMobile').autoComplete(
  { minLength: 3 }
  );
  $('.basicAutoCompleteMobile').on('autocomplete.select', function (evt, item) {
    $('#searchTopMobile').submit();
  });

  $(function () {
    $('#resource_language').on('change', function () {
      $('#searchResources').submit();
    });
  });
  $(function () {
    $('#theme').on('change', function () {
      $('#searchResources').submit();
    });
  });
  $(function () {
    $('#category').on('change', function () {
      $('#searchResources').submit();
    });
  });

  $("#license").blur(function () {
    $('#searchResources').submit();
  });

  $(function () {
    $('#approvedCheck').on('change', function () {
      $('#searchResources').submit();
    });
  });
  $(function () {
    $('#orderby').on('change', function () {
      $('#searchResources').submit();
    });
  });

</script>
{% endblock scripts %}
