{% extends "base2.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}


{% block title %}{{ block.super }}Resources{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="resources" %}
{% endblock %}

{% block page_title %}
Resources 
{% endblock page_title %}
{% block messages %}
{% if messages %}
{% for message in messages %}
<div class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
  <div class="alert alert-{{ message.tags }}">
    <a class="close" data-dismiss="alert">×</a>
    {{ message|safe }}
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
{% block page_header %}
{% include "finder_resources.html" %}
{% endblock page_header %}

{%block list_of_items %}
      {% for rsc in resources %}
      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{ rsc.name | truncatewords:4 }}</h4>
            <img class="card-img" style=" float: left; background-color: #fff; border-radius: 50%; border: 0px; width: 75px" src="static/site/img/gdoc.png">

            <p class="card-text">{{rsc.abstract |truncatewords:20 }}</p>
            <p class="card-text"><a href="{{rsc.url}}" target="_blank"> View resource </a></p>
          </div>
        </div>
      </div>
      {% endfor %}
{% endblock list_of_items %}

{% block scripts %}

{% endblock scripts %}
