{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load thumbnail %}
<div class="col-lg-3 col-sm-6 col-xs-12 mb-5">
    <div class="card h-100 shadow border-0">
        <a href="/resource/{{resource.id}}">
            <img class="card-img" src="{% thumbnail resource.image1|default:'void_600.png' 306x204 crop %}" />
        </a>
        <div class="card-body">
            <h4 class="mt-2 mb-0">
                <a href="/resource/{{resource.id}}" class="card-title">{{ resource.name | truncatewords:10 }}</a>
            </h4>
            <div class="small text-muted mb-2">{{resource.dateUploaded}}</div>
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            {% if language.code == resource.inLanguage %}
            <a class="badge rounded-pill bg-dark text-decoration-none" 
                href="/resources?inLanguage={{resource.inLanguage}}">
                {{language.name}}
            </a>
            {% endif %}
            {% endfor %}
            <a class="badge rounded-pill bg-my-darkBlue text-decoration-none" href="{{endPoint}}?category={{resource.category.text}}">{{ resource.category }}</a>
            {% for theme in resource.theme.all %}
            <!-- TODO: Improve this or put in a template -->
            {% if forloop.counter < 3 %}
            <a class="badge rounded-pill bg-my-wood text-decoration-none" href="{{endPoint}}?theme={{theme}}">{{ theme }}</a>
            {% elif forloop.counter < 4 %}
            ...
            {% endif %}
            {% endfor %}
            {% for keyword in resource.keywords.all %} 
            {% if forloop.counter < 3 %}
            <a class="badge rounded-pill bg-my-darkGreen text-decoration-none" href="{{endPoint}}?keywords={{keyword}}">{{keyword}}</a>
            {% elif forloop.counter < 4 %}
            ...
            {% endif %}
            {% endfor %}
            <p class="mt-4">{{ resource.abstract | safe | truncatewords_html:30 }}</p>
        </div><!-- end of card-body -->
    </div><!-- end of card -->
</div>
