{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}


{% block title %}{{ block.super }}Resource{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="resource" %}
{% endblock %}


{% block container %}


<main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
  </br></br></br></br>

  <div class="main-content-container container-fluid px-4">


    <div class="card card-small mb-4">
      <div class="card-header">
        <h2 align="center">Resource {{resource.name}}
          {% if user.is_authenticated %}
          {% if resource.author == user %}
          <a href="{% url 'editResource' resource.id %}">
            <i class="material-icons" style="font-size: 24px;">edit</i>
          </a>
          {% endif %}
          {% endif %}
        </h2>

        <br /><br />
        <div class="row">

          <div class="col-sm-6">
            <div class="container">
              <div class="p-0 offset-lg-1 offset-md-2">
                <h4>Resource info</h4>
                <p> ID: {{resource.id}}</p>
                <p> Name: {{resource.name}}</p>
                <p> About: {{resource.about}}</p>
                <p> Abstract: {{ resource.abstract }}</p>
                <p> URL: <a href="{{resource.url}}">{{resource.url}}</a></p>
                <p> License: {{ resource.license }}</p>
                <p> Language: {{ resource.inLanguage }}</p>
                <p> Audience: {{ resource.audience }} </p>
                <p> Publisher: {{ resource.publisher }}</p>
                <p> Keywords: {{ resource.keywords }} </p>

              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <br /><br /><br />
            <img src="/static/site/img/resource.png" style="max-width: 50%;    
            margin-left: auto;
            margin-right: auto;
            display: block;">
          </div>

        </div>
      </div>

    </div>
    <br />

    <br /><br /><br />

  </div>


</main>

{% endblock container %}

{% block scripts %}

{% endblock scripts %}