{% load i18n %}
{% load staticfiles %}
{% load countries %}
<form class="form-inline float-lg-right" id="searchOrganisations" action="{% url 'organisations' %}">
    <input type="hidden" name="keywords" value="{{filters.keywords}}"/>
    <div class="row">
        <div class="col-6">
            <div class="input-group input-group-sm">
                <div class="input-group-text"><i class="fas fa-sort-amount-down"></i></div>
                <select id="orderby" name="orderby" class="custom-select form-control float-right">
                    <option value="" {% if filters.orderby == "" %} selected {% endif %}>{% trans "Most Recent Updated" %}</option>
                    <option value="-featured" {% if filters.orderby == "-featured" %} selected {% endif %}>{% trans "Featured" %}</option>
                    <option value="-avg_rating" {% if filters.orderby == "-avg_rating" %} selected {% endif %}>{% trans "Sort by rating" %}</option>
                </select>
                <div class="input-group-text"><i class="fas fa-filter"></i></div>

                <select id="country" name="country" class="custom-select form-control">
                    <option value="">{% trans "Country" %}<option>
                    {% for country in countries %}
                    {% for cwc in countriesWithContent %}
                    {% if country.code == cwc %}
                    <option {% if country.code ==  filters.country %} selected {% endif %} value="{{ country.code }}">
                    {{ country.name }}
                    </option>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </select>
                <select id="orgTypes" name="orgTypes" class="custom-select form-control">
                    <option value="">{% trans "Type" %}<option>
                    {% for t in orgTypes %}
                    <option {% if t.type ==  filters.orgTypes %} selected {% endif %} value="{{t.type}}">
                    {{t.type|capfirst}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-6 mb-4">
            {% if filters.keywords %}
            <a class="badge rounded-pill bg-my-darkGreen search-filter">
                <i class="fas fa-times"></i> {% trans "keyword:" %} {{filters.keywords}}
            </a>
            {% endif %}
            {% if filters.country %}
            <a href="#" class="badge rounded-pill bg-dark" id="pill-country">
                <i class="fas fa-times"></i>
                {% for country in countries %}
                {% if country.code == filters.country %}
                {% trans "country:" %} {{country.name}}
                {% endif %}
                {% endfor %}
            </a>
            {% endif %}
            {% if filters.orgTypes %}
            <a href="#" class="badge rounded-pill bg-my-darkBlue" id="pill-orgTypes">
                <i class="fas fa-times"></i>
                {% trans "type:" %} {{filters.orgTypes}}
            </a>
            {% endif %}
            {{ counter }}
            {% if counter != 1 %}
            {% trans "organisations" %}
            {% else %}
            {% trans "organisation" %}
            {% endif %}
            {% trans "found" %}
            {% if request.get_full_path != "/organisations" %}
            <a class="badge rounded-pill bg-danger text-decoration-none" href="/organisations">
                <i class="fas fa-times"></i> {% trans "Clear current search query and filters" %}</a>
            {% endif %}
            </a>
        </div>
    </div>
</form>

