{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load countries %}
{% get_countries as countries %}

<div class="row">
	<form class="form-inline float-lg-right" id="searchOrganisations" action="{% url 'organisations' %}">
		<div class="col-12 col-lg-12">

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text"><i class="fas fa-search"></i></div>
				</div>
				<input type="text" id="keywords" name="keywords" autocomplete="off" value="{{filters.keywords}}"
					class="basicAutoComplete form-control form-control-lg"
					placeholder="Search for citizen science organisations by title or keyword"
					data-url="organisations_autocomplete/?orgType={{filters.orgType}}&country={{filters.country}}">

				<div class="input-group-append">
					<div class="input-group-text"><a href="#" data-toggle="modal" data-target="#organisationsinfo"><i
								class="fas fa-info-circle"></i></a></div>
				</div>

			</div>
		</div>

		<div class="col-12 col-lg-9 d-none d-sm-block">
			<div class="float-left">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text"><i class="fas fa-filter"></i></div>
					</div>

				<select id="orgType" name="orgType" class="custom-select orgType-select form-control">
					<option value="">Type<option>
						{% for s in orgTypes %}
						<option {% if s.id ==  filters.orgType %} selected {% endif %} value="{{s.id}}">
							{{s.type|capfirst}}
						</option>
						{% endfor %}
					</select>

				<select id="country" name="country" class="custom-select form-control">
					<option value="">Country
					<option>
						{% for country in countries %}
						{% for cwc in countriesWithContent %}
						{% if country.code == cwc %}
					<option {% if country.code ==  filters.country %} selected {% endif %} value="{{ country.code }}">
						{{ country.name }}</option>
					{% endif %}
					{% endfor %}
					{% endfor %}
				</select>
			</div>
		</div>
		</div>


		<div class="col-lg-6 col-6 mb-3 text">
			{{ counter }} results
			{% if user.is_authenticated %}
			<!--a href=""></a-->

			{% else %}
			<!--a href="/signup">Sign up</a-->
			{% endif %}
		</div>
		{% if request.get_full_path != "/organisations" %}
		<div class="col-lg-6 text-right mb-3">
			<a class="text-decoration-none text-muted mb-4" href="/organisations"><i class="fas fa-times"></i> Clear
				current search query and filters</a>
		</div>
		{% endif %}
	</form>
</div>