{% extends "base2.html" %}

{% load staticfiles %}
{% load thumbnail %}
{% block head %}
{{ block.super }}
{% endblock head %}
{% block title %}Organisation{% endblock %}
{% block navbar-left %}
{% include "_navbar.html" with active_link="project" %}
{% endblock %}


{% block list_of_items %}
<div class="container">
	<div class="row mt-5">
		<div class="container-fluid">
			<div class="card mt-5 shadow">
				<div class="card-body">
					<div class="card-title">
						<h1>
                            <img title="organisation logo" class="img-fluid rounded-circle" src="{{ organisation.logo|default:'/media/default_profile.png' }} " width="144" height="144">
							{{ organisation.name }}
						</h1>
						</div>
					</div>
					<div class="card-text">
						<div class="row p-3">
							<div class="col-12 col-sm-6">
                                <p><b>Url: </b><a target="_blank" href="{% if 'http' not in organisation.url %}//{%endif%}{{organisation.url}}">{{organisation.url}}</a></p>                                
								<p><b>Description: </b>{{ organisation.description }}</p>
								<p><b>Organisation type: </b>{{ organisation.orgType }}</p>
							</div>
							<div class="col-12 col-sm-6">
								<p><strong>Contact Point</strong>: {{ organisation.contactPoint }} </p>
								<p><strong>Contact Point EMail</strong>: {{ organisation.contactPointEmail }}</p>
								<p><strong>Address</strong>: {{ organisation.address }}</p>								
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock list_of_items%}
	{% block scripts %}

	{% endblock scripts %}
