{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% for organisation in organisations %}
<div class="col-lg-4 col-sm-12 mb-4">
	<div class="card h-100 shadow border-0">
        <a class="card-img-wrap "href="/organisation/{{organisation.id }}">
            <img title="logo picture" 
                class="card-img-top img-fluid img-zoom lazyload" 
                src="{% thumbnail organisation.logo|default:'default_profile.png' 600x400 crop %}">
        </a>
        <div class="card-body">
            <h6 class="card-title">
							<div class="col-12  pl-0 mb-4 colorpurple">
								<i class="fas fa-university"></i> {% trans "Organisation" %}
							</div>
							<a class="card-link mt-3" href="/organisation/{{organisation.id }}">{{ organisation.name }}</a></h6>


            <div class="card-text mt-3">
							{{ organisation.orgType }}
							<p class="mt-3">{{organisation.description | safe | truncatechars:180 }}
            </div>
        </div><!-- End of card-body -->
    </div><!-- end of card -->
</div>
{% endfor %}
{% if 'organisations' in request.get_full_path %}
<div class="col-lg-12">
  {% include "organisations_paginator.html" %}
</div>
{% endif %}
