{% extends "base_r2.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} :: Organisations{% endblock %}
{% block navbar-left %}
{% include "_navbar_r2.html" with active_link="organisations" %}
{% endblock %}

{% block page_header %}
{% include "finder_organisations.html" %}
{% endblock page_header %}
{% block list_of_items %}
<div class="container">
    <div clas="row">
        <div class="col-12">
            <h1>{% trans "organisation <span class='lightBlue-color'>search</span>" %}</h1>
        <div>
        {% include "_subnavbar.html" %}
        {% include "_finder_organisation.html" %}
    </div>
	<div class="row">
    {% if organisations %}
        {% include "organisations_cards.html" %}
    {% endif %}
	</div>
</div>
{% endblock list_of_items %}

{% block scripts %}
<script src="{% static 'site/js/bootstrap-autocomplete.js'%}"></script>
<script>
    $('.basicAutoComplete').autoComplete(
	{ minLength: 3 }
	);

	$('.basicAutoComplete').on('autocomplete.select', function (evt, item) {
		$('#searchOrganisations').submit();
	});

	$(function () {
		$('.custom-select').on('change', function () {
			$('#searchOrganisations').submit();
		});
        $('#pill-country').on('click', function() {
            $('#country').val('')
            $('#searchOrganisations').submit();
        });
        $('#pill-orgTypes').on('click', function() {
            $('#orgTypes').val('')
            $('#searchOrganisations').submit();
        });

	});
</script>
{% endblock scripts %}
