{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% for organisation in organisations %}
<div class="col-lg-3 col-sm-6 col-xs-12 mb-5">
    <div class="card h-100 shadow border-0"> 
        <a href="/organisation/{{organisation.id}}">
        <img  class="card-img-top" src="{% thumbnail organisation.logo|default:'void_600.png' 306x204 crop %}">
        </a>
        <div class="card-body">
            <h5 class="mt-2 mb-0">
                <a href="/organisation/{{organisation.id }}" class="card-title">{{ organisation.name }}</a>
            </h5>
            <div class="small text-muted mb-2">{{organisation.dateCreated}}</div>
            <a href="/organisations?country={{organisation.country.code}}" class="badge rounded-pill bg-dark text-decoration-none">
                    {{organisation.country.name}}
                </a>
                <a href="/organisations?orgTypes={{organisation.orgType}}"
                    class="badge rounded-pill bg-my-darkBlue text-decoration-none">{{ organisation.orgType }}</a>
                <p class="mt-4">{{organisation.description | safe | truncatechars:180 }}
        </div><!-- End of card-body -->
    </div><!-- end of card -->
</div>
{% endfor %}
{% if 'organisations' in request.get_full_path %}
<div class="col-lg-12">
    {% include "organisations_paginator.html" %}
</div>
{% endif %}
