
{% load i18n %}
{% block subject %}

{% endblock subject %}

{% block html_body  %}
Hi {{ user.name }},
</br>
Thank you for signing up to become a member of the EU-Citizen.Science community. 
Please confirm your registration to EU-Citizen.Science and your email address by clicking on this <a href="{{domain}}{% url 'accounts:activate' uidb64=uid token=token %}">link</a>. <br/>

If you did not register to join the EU-Citizen.Science community, please ignore this email or reply to let us know.

<p>Thanks, </p>

<p>The EU-Citizen.Science team</p>


{% endblock html_body %}
