{% extends "base_r2.html" %}

{% block head %}
    {{ block.super }}
    <meta http-equiv="refresh" content="3;url={% url 'home' %}">
    <title>Logged out</title>
{% endblock %}

{% block list_of_items %}
    <div class="container bg-my-White">
        <div class="row p-5">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <h1>Logged out</h1>
                <p>Thanks for spending some quality time with the website today.</p>
                <p>You will be redirected to the homepage. If you are not redirected, <a href="{% url 'home' %}">click here</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}