{% extends "base2.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Log In{% endblock %}

{% block form_heading %}Please Log In{% endblock %}

{% block list_of_items %}
<div class="container mt-5">
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-6 col-12">
        <div class="card mb-4 mt-5 shadow">
          <div class="card-header">
            <h3>Log in</h3>
          </div>
          <div class="card-text p-3">
            {% block form %}
            {% crispy form %}
            <div class="form-message">
              <p class="mt-1">
                Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up</a>.
              </p>
            </div>
            {% endblock form %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock list_of_items %}
