{% extends "base2.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Password Reset Done{% endblock %}

{% block list_of_items %}
<div class="container form-box">
  <div class="text-center">
    {% block form_heading %}Password Reset Email Sent{% endblock %}

    {% block form %}
    <div class="form-message">
      <p>
        Please check your mail. You would have received a password reset mail from us.
      </p>
    </div>
    {% endblock form %}
  </div>
</div>
{% endblock list_of_items %}