{% extends "base_r2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Password Reset{% endblock %}

{% block list_of_items %}
<div class="container mt-5">
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-6 col-12">
        <div class="card mb-4 mt-5 shadow">
          <div class="card-header">
            <h3>Password reset</h3>
          </div>
          <div class="card-text p-3">
            {% block form %}
            {% crispy form %}
            {% endblock form %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock list_of_items %}

{% block scripts %}

{% endblock scripts %}
