{% extends "base_r2.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Sign Up{% endblock %}

{% block form_heading %}Signing Up is Free{% endblock %}

{% block list_of_items %}
<div class="container mt-5">
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-6 col-12">
        <div class="card mb-4 mt-5 shadow">
          <div class="card-header">
            <h3 class="pt-3">Sign up</h3>
          </div>
          <div class="card-text p-3">
            {% block form %}
            {% crispy form %}

            <div class="form-message">
              <p>
                <br/>
                Already signed up? <a href="{% url 'accounts:login' %}">Log in</a>.
              </p>
              <br>
              By clicking on Register, you accept our <a href="/terms"> Terms of Use</a>. Learn more about how we collect, use and share your information in the <a href="/privacy"> Privacy section</a>, as well as our use of cookies and similar technologies in our <a href="/privacy#coockies">Cookie Policy</a></p>
            </div>
            {% endblock form %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock list_of_items %}

{% block scripts %}
<script type="text/javascript">

  $(document).ready(function () {
    $("#div_id_ecsa_billing_email").hide();
    $("#div_id_ecsa_reduced_fee").hide();
    $("#div_id_ecsa_old_member_fee").hide();
    $("#div_id_street").hide();
    $("#div_id_postal_code").hide();
    $("#div_id_city").hide();
    $("#div_id_country").hide();
    $("#div_id_occupation").hide();
    $("#id_street").prop('required',false);
    $("#id_postal_code").prop('required',false);
    $("#id_city").prop('required',false);
    $("#id_country").prop('required',false);
    $("#id_occupation").prop('required',false);

    $('#div_id_ecsa_billing_email label, #div_id_street label, #div_id_postal_code label, #div_id_city label, #div_id_country label, #div_id_occupation label').append(
        $("<span>", {"class": "required-indicator"}).text("*")
    );
    $('#div_id_ecsa_billing_email').append(
      $("<br/><span>").text("Please indicate if you are eligible to pay the reduced membership fee. The reduced fee can be selected if you are a student, unemployed or retired.")
    );

    $('#div_id_ecsa_reduced_fee').append(
      $("<br/><br/><span>").text("If you are already a member from CSA or ACSA you get an additional 20% discount on the membership fee.")
    );


    $("#id_ecsa_individual_membership").on('change', function(e){
      if($("#id_ecsa_individual_membership")[0].checked){
        $("#div_id_ecsa_billing_email").show();        
        $("#div_id_ecsa_reduced_fee").show();     
        $("#div_id_ecsa_old_member_fee").show();
        $("#div_id_street").show();        
        $("#div_id_postal_code").show();
        $("#div_id_city").show();        
        $("#div_id_country").show();
        $("#div_id_occupation").show();
        $("#id_ecsa_billing_email").prop('required',true);
        $("#id_street").prop('required',true);
        $("#id_postal_code").prop('required',true);
        $("#id_city").prop('required',true);
        $("#id_country").prop('required',true);
        $("#id_occupation").prop('required',true);

      }else{
        $("#div_id_ecsa_billing_email").hide();
        $("#div_id_ecsa_reduced_fee").hide();
        $("#div_id_ecsa_old_member_fee").hide();
        $("#div_id_street").hide();
        $("#div_id_postal_code").hide();
        $("#div_id_city").hide();
        $("#div_id_country").hide();
        $("#div_id_occupation").hide();
        $("#id_street").prop('required',false);
        $("#id_postal_code").prop('required',false);
        $("#id_city").prop('required',false);
        $("#id_country").prop('required',false);
        $("#id_occupation").prop('required',false);        
      }
    });
  });

</script>
{% endblock %}