{% load i18n %}


{% block html_body  %}
<p>Thank you for submitting  your training resource profile. This has been sent to the EU-Citizen.Science moderation team, who will check it to ensure that all of the resources shared on the platform are indeed useful for citizen science projects and practitioners, and are of good quality.</p>

<p>We will be in touch with you if we have any questions, and otherwise you will receive an alert that your resource has been moderated and published to the platform. Your training resource profile will be visible to the public in the meantime, but will be marked as unmoderated “not yet moderated”.</p>

<p>You can make updates or changes to this resource profile at any time, by going to the Submitted resources <a href="{{domain}}/users/me/resources"> section in your Personal Area </a> (see the top-right of the platform menu).</p>
{% endblock html_body %}