{% load i18n %}


{% block html_body  %}
<p>We are pleased to let you know that your training resource <a href="{{domain}}/training_resource/{{id}}">{{name}}</a> has received a review from a fellow community member.</p>

<p>You can read this review by going to your project profile in the Submitted resources <a href="{{domain}}/users/me/resources"> section in your Personal Area </a> (see the top-right of the platform menu).</p>

<p>You can also respond to this review on your resource profile by using the review form yourself.</p>
{% endblock html_body %}