h1, h3 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 800 !important;
}
.blueb{
    background-color: #6CCDE7 !important;
}
.wood-color{
    color: #594A42 !important;
}

.blue-color{
    color: #6ccde7 !important;
}
a{
    text-decoration: none;
}
