body{
	min-height: 100vh;
}
main {
	margin-top: 80px;
	font-weight: 200;
	min-height: 100%;
}

h2, h3, h4,h5 {
	font-weight: 200;
}	

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #aaaaaa;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rounded {
	border-radius: 40px !important;
}
.img-zoom {
	object-fit: cover;
}
