main {
	font-weight: 200;
}

h2, h3, h4 {
	font-weight: 200;
}	


input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #aaaaaa;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.jumbotron{
    height: 100vh;
		background-image: url('../img/citizenscience_16x9.jpg');
		 background-size: cover;
  background-position: center;
}

.main_info{
				margin-top: 5%;
}
