body{
	min-height: 100vh;
}
main {
	margin-top: 80px;
	font-weight: 200;
	min-height: 100%;
	background-color: #f8f8f8;
}

h2, h3, h4,h5 {
	font-weight: 200;
}	

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #aaaaaa;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rounded {
	border-radius: 40px !important;
}
.img-zoom {
	object-fit: cover;
}
input[type=checkbox] {
display:none;
}
.errorMsg {
	color: #F00;
}
.mylabel {
  background-image: url(../img/icon_bw.png);
  background-size: auto 100%;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}
#featuredCheck:checked + .mylabel {
  background-image: url(../img/icon_color.png);
}
.nav-link.active{
	border-bottom: 2px solid #007bff;
}
.card-link{
	color: #fc5b62;
	font-weight: 500;
	font-family: "Poppins", Helvetica, sans-serif;
	font-size: 1.2em;
  transition: color .25s;

}
.card-link:hover{
	color: #333;
}

.card-img-wrap {
  overflow: hidden;
  position: relative;
}
.card-img-wrap:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;

}
.card-img-wrap img {
  transition: transform .25s;
  width: 100%;
  transform: scale(1.1);
}
.card-img-wrap:hover img {
  transform: scale(1.0);
}
.upper {
	position: absolute;
	top: 15px;
	left: 15px;
}
.upper a{
	background-color: rgba(0,0,0,0.6);
	font-family: "Poppins", Helvetica, sans-serif;
	color: rgb(204, 204, 204);
	font-weight: 500;
}
